@model DomainLayer.ViewModel.ViewModel
@{
    var data = Model;

}

<style>
    .input-ammount {
        border: none;
        width: 62px;
    }
</style>
<div class="ml-20 lg:ml-40 md:ml-0">

    @{

        <h2 class="text-20 fw-600 mt-14" style="padding:12px;">Fare Details</h2>
        <div class="px-30 py-30 border-light rounded-0 bg-white">
            <div class="d-flex y-gap-3 justify-between showBtn" style="cursor: pointer;">
                <div class="bfg p-0">
                    <div class="text-15">Base Fare@* <span class="text-13 text-light-1 ml-1">(1 Traveller)</span> *@<i class="fa fa-angle-down ml-2" aria-hidden="true"></i> </div>
                </div>
                <div class="bgf p-0">
                    @{
                       
                        int adtcount = 0;
                        int chdcount = 0;
                        int infcount = 0;
                        int finalbasefare = 0;
                        int adtamount = 0;
                        int chdtamount = 0;
                        int amount = 0;
                        int basefare = 0;
                        int peradtamount = 0;
                        int perchdtamount = 0;
                        int inftbasefare = 0;
                        int infttax = 0;
                        int toatlinftbasefare = 0;
                        int totalBaseFareamount = 0;
                        int basefaretax = 0;
                        int peradtamounsegment = 0;                       
                        int perchdamounsegment = 0;
                        int passengercountbase = @Model.AkPassenger.passengers.Count();
                        int segmentcount = @Model.AkPassenger.journeys[0].segments.Count;
                    }

                    @for (int j = 0; j < segmentcount; j++)
                    {
                        if (Model.AkPassenger.journeys[0].segments[j].fares[0].passengerFares.Count > 0)
                        {
                            peradtamounsegment = @Model.AkPassenger.journeys[0].segments[j].fares[0].passengerFares[0].serviceCharges[0].amount;
                            peradtamount += peradtamounsegment;
                            if (@Model.AkPassenger.journeys[0].segments[j].fares[0].passengerFares.Count == 2)
                            {
                                perchdamounsegment = @Model.AkPassenger.journeys[0].segments[j].fares[0].passengerFares[1].serviceCharges[0].amount;
                                perchdtamount += perchdamounsegment;
                            }
                        }

                    }

                    @for (int i = 0; i < passengercountbase; i++)
                    {
                        var passengertypecount = @Model.AkPassenger.passengers[i].passengerTypeCode;                       
                        var child = ""; 
                        var infant = "";

                        if (passengertypecount == "ADT")
                        {                           
                            adtcount = adtcount + 1;                           
                            adtamount = peradtamount * adtcount;                           
                        }
                        else if (passengertypecount == "CHD")
                        {                          
                            chdcount = chdcount + 1;                            
                            chdtamount = perchdtamount * chdcount;                           
                        }
                        else if (passengertypecount == "INFT")
                        {
                            infcount = infcount + 1;                           
                        }

                    }         

                    @{
                        if (@Model.AkpasseengerItanary != null)
                        {                            
                            inftbasefare = Model.AkpasseengerItanary.inftbasefare;
                        }
                        toatlinftbasefare = infcount * inftbasefare;
                        basefare = (peradtamount * adtcount) + (perchdtamount * chdcount) + (toatlinftbasefare);

                    }
                    <div class="text-15 fw-600">&#8377; @basefare  </div>

                </div>
            </div>

            <div class="row y-gap-3 justify-between bg-light-2 hideme" style="display:none;">
                <div class="col-auto">
                    @{
                        <div class="text-14">Adult ( @adtcount X &#8377;@peradtamount)</div>
                        if (@chdtamount != 0)
                        {
                            <div class="text-14">Child ( @chdcount X &#8377;@perchdtamount)</div>
                        }
                        if (infcount >0)
                        {
                            <div class="text-14">Infant ( @infcount X &#8377;@inftbasefare) </div>
                        }

                    }             


                </div>
                <div class="col-auto">
                    <div class="text-15">&#8377; @adtamount </div>
                    @{
                        if (@chdtamount != 0)
                        {
                            <div class="text-15">&#8377; @chdtamount </div>
                        }
                        if (toatlinftbasefare != 0)
                        {
                            <div class="text-15">&#8377; @toatlinftbasefare </div>
                        }
                    }
                </div>

            </div>

            <div class="row y-gap-2 justify-between pt-2 pb-1" style="cursor: pointer;">
                <div class="col-auto">
                    <div class="text-15">Taxes &amp; Surcharges</div>
                </div>
                <div class="col-auto">
                    @{
                        if(infcount>0)
                        {
                            basefaretax = @Model.AkPassenger.basefaretax + Model.AkpasseengerItanary.inftbasefaretax;
                           
                        }
                        else
                        {
                            basefaretax = @Model.AkPassenger.basefaretax;
                            
                        }
                       
                        
                    }

                    <div class="text-15 fw-600">&#8377;@basefaretax</div>
                </div>
            </div>

           @* <div class="row y-gap-3 justify-between pb-2">
                <div class="col-auto">
                    <div class="text-14">Discount </div>
                    <div> </div>
                </div>
                <div class="col-auto">
                    <div class="text-15 text-success"> (-) &#8377;  0.0 </div>
                </div>
            </div>*@

            <div class="row y-gap-2  pt-2 border-top-light">
                <div class="text-15 fw-600 col-9">Total Fare </div>
                <div class="total_ammount d-flex col-3">
                    @{
                        int totalBaseFare_tax = 0;
                        totalBaseFare_tax = @basefare + @basefaretax;

                        <span>&#8377</span>
                        <input class="input-ammount fw-600" type="text" name="Totalamount" value="@totalBaseFare_tax" id="Totalamount" />
                    }


                </div>
            </div>

 <div class="row y-gap-2 pt-2">
            <div class="damount col-9">
                Add Seat
            </div>
            <div class="damount d-flex col-3">
                <span>&#8377</span>
                <span><input style="border:none" class="sum_item input-ammount" value="0" name="amount" type="text" id="total" /></span>
            </div>
        </div>

        <div class="row d-none  y-gap-2  pt-2">

            <div class="damount col-9">
                <span class="text-15">Add Meal</span>
            </div>
            <div class="damount col-3 d-flex width-132">
                <span>&#8377</span>
                <span id="AddMeal"></span>
            </div>
        </div>
        <div class="row d-none  y-gap-2  pt-2">

            <div class="damount col-9">
                <span class="text-15">Add Meal</span>
            </div>
            <div class="damount col-3 d-flex width-132">
                <span>&#8377</span>
                <span id="AddMeal2"></span>
            </div>
        </div>

        <div class="row y-gap-2  pt-2">

            <div class="damount col-9">
                <span class="text-15">Add Meal</span>
            </div>
            <div class="damount col-3 d-flex width-132">
                <span>&#8377</span>
                <span id="AddMealTotal"></span>
            </div>
        </div>
        <div class="row y-gap-2  pt-2">

            <div class="damount col-9">
                <span class="text-15">Add Baggage</span>
            </div>
            <div class="damount col-3 d-flex width-132">
                <span>&#8377</span>
                <span id="AddBaggage"></span>
            </div>
        </div>


  @*       <div class="row y-gap-2  pt-2">

            <div class="damount fw-600 col-9">
                <span class="text-15">Total Amount</span>

            </div>
            <div class="damount width-132 d-flex col-3 fw-600">
                <span>&#8377</span>
                <span class="input-ammount" id="amount"></span>
                <span class="input-ammount" id="totalservice"></span>
                <span class="input-ammount" id="seattotal1"></span>
                <span class="input-ammount" id="totalMeal"></span>


            </div>
        </div>






        <div class="row y-gap-2 justify-between pt-2">
            <div class="col-auto">
                <div class="text-14">Add-Ons</div>
            </div>
            <div class="col-auto" style="width:74px">
                <div class="text-15">&#8377; 100</div>
            </div>
        </div>

        <div class="row y-gap-2 justify-between pt-1 showBtn" style="cursor: pointer;">
            <div class="col-auto">
                <div class="text-14">Take off<i class="fa fa-angle-down ml-2" aria-hidden="true"></i> </div>
            </div>
        </div>

        <div class="row y-gap-3 justify-between bg-light-2 hideme" style="display:none;">
            <div class="col-auto">
                <div class="text-14">TAKE OFF Contribution</div>
                <div> </div>
            </div>
            <div class="col-auto">
                <div class="text-15">&#8377; 100</div>
            </div>
        </div>
 *@
        <div class="px-20 py-20 bg-blue-2 rounded-4 mt-20">
            <div class="row y-gap-2 justify-between">
                <div class="col-auto">
                    <div class="text-20 lh-13 fw-600">You Pay</div>
                </div>
                @*   <div class="col-auto">
                @* @{
                foreach (var item in Model.passeengerlist.journeys[0].segments[0].fares[0].passengerFares)
                {
                int servicecharge = item.serviceCharges.Count;
                int Totalamount = 0;
                for (int i = 0; i < servicecharge; i++)
                {
                int amounttax = item.serviceCharges[i].amount;
                Totalamount += amounttax;
                }
                int takeoffCharge = 10;
                int Totalamountpay = @Totalamount + takeoffCharge;
                <div class="text-20 lh-13 fw-600">&#8377; @Totalamountpay </div>
                }
                }
                <div class="text-20 lh-13 fw-600">&#8377; 4000 </div>
                </div> *@
                <div class="col-auto d-flex">
                    <span class="text-20 lh-13 fw-600">&#8377</span>
                   
                    <div class="text-20 lh-13 fw-600" id="seattotal1"></div>
                    @* <div class="text-20 lh-13 fw-600" id="TotalMealPayID"></div>
                    <div class="text-20 lh-13 fw-600" id="TotalSeatPayID"></div>
                    <div class="text-20 lh-13 fw-600" id="amountPay"></div> *@
                </div>
            </div>

          @*   <div class="row y-gap-2 justify-between text-success">
                <div class="col-auto">
                    <div class="text-16 lh-13 fw-600">Total Savings</div>
                </div>
                <div class="col-auto">
                    <div class="text-16 lh-13 fw-600">&#8377; 50</div>
                </div>
            </div> *@
        </div>

        @*<div class="row y-gap-3 justify-between pt-3">
            <div class="col-auto">
                <div class="text-15">Earn eCash</div>
            </div>
            <div class="col-auto">
                <div class="text-15">&#8377; 0</div>
            </div>
            </div>*@
    </div>

    <div class="px-30 py-30 border-light rounded-4 mt-30 bg-white">
        <div class="text-20 fw-600 mb-20">Promo Code</div>

        <div class="row y-gap-5 justify-between">
        </div>
        </div>
        
             
         }
    
</div>



