@model DomainLayer.ViewModel.ViewModel
@using System.Collections;
@{
    Layout = null;
    var data01 = Model;

}

<style>
    .chkbox {
        background: #b1abab;
        text-align: center;
        cursor: not-allowed;
        padding: 3px 0;
    }

    .activeblue {
        background-color: #d1c3c4 !important;
        height: 40px !important;
        padding: 5px 10px !important;
        border-radius: 30px !important;
        margin-top: 10px;
    }
</style>

<div class="flight-box-content rounded-4">
    <div class="tabs -pills-3 js-tabs">
        <div class="tabs__controls row x-gap-10 y-gap-10 js-tabs-controls bdr-btm">
            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10  js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">Select Seat</div>
            </div>

            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10  js-tabs-button " data-tab-target=".-tab-item-2">Add Meals</div>

            </div>

            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10 js-tabs-button " data-tab-target=".-tab-item-3">Add Baggage</div>
            </div>
        </div>

        <div class="tabs__content pt-0 js-tabs-content">
            <div class="tabs__pane -tab-item-1 is-tab-el-active">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">
                        @{
                            var seatmaap2 = @Model.passeengerlistRT[0].journeys[0].segments.Count;
                            if (seatmaap2 != 2)
                            {
                                <li class="nav-item">
                                    <div id="seattab1way" class="nav-link me-3 activeblue">@Model.passeengerlistRT[0].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[0].designator.destination</div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item d-flex">
                                    <div id="seattab1" class="nav-link activeblue">@Model.passeengerlistRT[0].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[0].designator.destination</div>
                                    <div id="seattab2" class="nav-link">@Model.passeengerlistRT[0].journeys[0].segments[1].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[1].designator.destination</div>
                                </li>
                            }
                            //RoundTrip
                            var seatmaapRT2 = @Model.passeengerlistRT[1].journeys[0].segments.Count;
                            if (seatmaapRT2 != 2)
                            {
                                <li class="nav-item">
                                    <div id="seattabRT1way" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[0].designator.destination</div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item d-flex">
                                    <div id="seattabRT1" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[0].designator.destination</div>
                                    <div id="seattabRT2" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[1].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[1].designator.destination</div>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <div class="flight-protip">Pro Tip Grab your favourite seat before it gets sold.</div>
                <div class="wing-left">&nbsp;</div>
                @{

                    //var seatmaap = Model.passeengerlistRT[0].journeys[0].segments.Count;

                    Hashtable ht0 = new Hashtable();
                    Hashtable ht1 = new Hashtable();
                    for (int k = 0; k < Model.SeatmaplistRT[0].datalist.Count; k++)
                    {
                        int count = Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units.Count;
                        for (int j = 0; j < count; j++)
                        {
                            // if (Model.Seatmaplist.datalist[k].seatMap.decks.units[j].assignable == true)
                            // {
                            //     if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                            //         ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                            // }

                            if (k == 0)
                            {
                                if (Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].assignable == true)
                                {

                                    if (!ht0.Contains(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator))
                                    {
                                        ht0.Add(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].servicechargefeeAmount + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].Airline);
                                    }
                                }

                            }
                            else
                            {
                                if (Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].assignable == true)
                                {
                                    if (!ht1.Contains(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator))
                                    {
                                        ht1.Add(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].servicechargefeeAmount + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].Airline);
                                    }
                                }

                            }

                        }
                    }
                    for (int l = 0; l < Model.SeatmaplistRT[0].datalist.Count; l++)
                    {
                        if (l == 0)
                        {
                            <div id="tabshow1" class="seat-section">
                                A
                                <div class="inner-section">
                                    <ul class="column">
                                        <li class="seat-li row-no">F</li>
                                        <li class="seat-li row-no">E</li>
                                        <li class="seat-li row-no">D</li>
                                        <li class="seat-li row-no"></li>
                                        <li class="seat-li row-no">C</li>
                                        <li class="seat-li row-no">B</li>
                                        <li class="seat-li row-no">A</li>
                                    </ul>

                                    @{
                                        @for (int i = 1; i <= 30; i++)
                                        {

                                            <ul class="column" id="itemList">
                                                @{
                                                    for (int k = 6; k >= 1; k--)
                                                    {
                                                        string data = string.Empty;
                                                        if (k == 6) { data = i.ToString() + "F"; }
                                                        else if (k == 5) { data = i.ToString() + "E"; }
                                                        else if (k == 4) { data = i.ToString() + "D"; }
                                                        else if (k == 3) { data = i.ToString() + "C"; }
                                                        else if (k == 2) { data = i.ToString() + "B"; }
                                                        else if (k == 1) { data = i.ToString() + "A"; }
                                                        var designation = data;
                                                        if (!ht0.Contains(data))
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            string[] feessplit = ht0[data].ToString().Split("_@");
                                                            string feeamountF1 = feessplit[0];
                                                            // string feeamountF1 = ht0[data].ToString();
                                                            if (feeamountF1 == "0")
                                                            {
                                                                <li class="seat-li free-seat tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay0" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat-li midcomfort tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay0" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                        }

                                                        if (k == 4)
                                                        {
                                                            <li class="seat-li"></li>
                                                        }

                                                        <li class="seat-li colNo left">@i</li>
                                                    }
                                                }

                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="tabshow2" class="seat-section">
                                B
                                <div class="inner-section">
                                    <ul class="column">
                                        <li class="seat-li row-no">F</li>
                                        <li class="seat-li row-no">E</li>
                                        <li class="seat-li row-no">D</li>
                                        <li class="seat-li row-no"></li>
                                        <li class="seat-li row-no">C</li>
                                        <li class="seat-li row-no">B</li>
                                        <li class="seat-li row-no">A</li>
                                    </ul>

                                    @{
                                        @for (int i = 1; i <= 30; i++)
                                        {

                                            <ul class="column" id="itemList">
                                                @{
                                                    for (int k = 6; k >= 1; k--)
                                                    {
                                                        string data = string.Empty;
                                                        if (k == 6) { data = i.ToString() + "F"; }
                                                        else if (k == 5) { data = i.ToString() + "E"; }
                                                        else if (k == 4) { data = i.ToString() + "D"; }
                                                        else if (k == 3) { data = i.ToString() + "C"; }
                                                        else if (k == 2) { data = i.ToString() + "B"; }
                                                        else if (k == 1) { data = i.ToString() + "A"; }
                                                        var designation = data;
                                                        if (!ht1.Contains(data))
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            string[] feessplit = ht1[data].ToString().Split("_@");
                                                            string feeamountF1 = feessplit[0];//ht1[data].ToString();
                                                            if (feeamountF1 == "0")
                                                            {
                                                                <li class="seat-li free-seat tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay1" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat-li midcomfort tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay1" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                        }

                                                        if (k == 4)
                                                        {
                                                            <li class="seat-li"></li>
                                                        }

                                                        <li class="seat-li colNo left">@i</li>
                                                    }
                                                }

                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }

                    //RoundTrip Spicejet SeatMap
                    Hashtable htRT0 = new Hashtable();
                    Hashtable htRT1 = new Hashtable();
                    for (int k = 0; k < Model.SeatmaplistRT[1].datalist.Count; k++)
                    {
                        int count = Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units.Count;
                        for (int j = 0; j < count; j++)
                        {
                            // if (Model.Seatmaplist.datalist[k].seatMap.decks.units[j].assignable == true)
                            // {
                            //     if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                            //         ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                            // }

                            if (k == 0)
                            {
                                if (Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].assignable == true)
                                {
                                    if (!htRT0.Contains(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator))
                                    {
                                        htRT0.Add(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].servicechargefeeAmount + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].Airline);
                                    }
                                }

                            }
                            else
                            {
                                if (Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].assignable == true)
                                {
                                    if (!htRT1.Contains(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator))
                                    {
                                        htRT1.Add(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].servicechargefeeAmount + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].Airline);
                                    }
                                }

                            }

                        }
                    }
                    for (int l = 0; l < Model.SeatmaplistRT[1].datalist.Count; l++)
                    {
                        if (l == 0)
                        {
                            <div id="tabshowRT1" class="seat-section">
                                C
                                <div class="inner-section">
                                    <ul class="column">
                                        <li class="seat-li row-no">F</li>
                                        <li class="seat-li row-no">E</li>
                                        <li class="seat-li row-no">D</li>
                                        <li class="seat-li row-no"></li>
                                        <li class="seat-li row-no">C</li>
                                        <li class="seat-li row-no">B</li>
                                        <li class="seat-li row-no">A</li>
                                    </ul>

                                    @{
                                        @for (int i = 1; i <= 30; i++)
                                        {

                                            <ul class="column" id="itemList">
                                                @{
                                                    for (int k = 6; k >= 1; k--)
                                                    {
                                                        string data = string.Empty;
                                                        if (k == 6) { data = i.ToString() + "F"; }
                                                        else if (k == 5) { data = i.ToString() + "E"; }
                                                        else if (k == 4) { data = i.ToString() + "D"; }
                                                        else if (k == 3) { data = i.ToString() + "C"; }
                                                        else if (k == 2) { data = i.ToString() + "B"; }
                                                        else if (k == 1) { data = i.ToString() + "A"; }
                                                        var designation = data;
                                                        if (!htRT0.Contains(data))
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            string[] feessplit = htRT0[data].ToString().Split("_@");
                                                            string feeamountF1 = feessplit[0];
                                                            //string feeamountF1 = htRT0[data].ToString();
                                                            if (feeamountF1 == "0")
                                                            {
                                                                <li class="seat-li free-seat tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT0" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat-li midcomfort tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT0" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                        }

                                                        if (k == 4)
                                                        {
                                                            <li class="seat-li"></li>
                                                        }

                                                        <li class="seat-li colNo left">@i</li>
                                                    }
                                                }

                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="tabshowRT2" class="seat-section">
                                D
                                <div class="inner-section">
                                    <ul class="column">
                                        <li class="seat-li row-no">F</li>
                                        <li class="seat-li row-no">E</li>
                                        <li class="seat-li row-no">D</li>
                                        <li class="seat-li row-no"></li>
                                        <li class="seat-li row-no">C</li>
                                        <li class="seat-li row-no">B</li>
                                        <li class="seat-li row-no">A</li>
                                    </ul>

                                    @{
                                        @for (int i = 1; i <= 30; i++)
                                        {

                                            <ul class="column" id="itemList">
                                                @{
                                                    for (int k = 6; k >= 1; k--)
                                                    {
                                                        string data = string.Empty;
                                                        if (k == 6) { data = i.ToString() + "F"; }
                                                        else if (k == 5) { data = i.ToString() + "E"; }
                                                        else if (k == 4) { data = i.ToString() + "D"; }
                                                        else if (k == 3) { data = i.ToString() + "C"; }
                                                        else if (k == 2) { data = i.ToString() + "B"; }
                                                        else if (k == 1) { data = i.ToString() + "A"; }
                                                        var designation = data;
                                                        if (!htRT1.Contains(data))
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            string[] feessplit = htRT1[data].ToString().Split("_@");
                                                            string feeamountF1 = feessplit[0];
                                                            //string feeamountF1 = htRT1[data].ToString();
                                                            if (feeamountF1 == "0")
                                                            {
                                                                <li class="seat-li free-seat tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT1" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat-li midcomfort tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT1" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                        }

                                                        if (k == 4)
                                                        {
                                                            <li class="seat-li"></li>
                                                        }

                                                        <li class="seat-li colNo left">@i</li>
                                                    }
                                                }

                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }

                }
                @* ----------End--------- *@
                <div class="wing-right">&nbsp;</div>
                <div class="legendHolder-box">
                    <ul>

                        <li style="padding:0;"><strong>Legend:</strong></li>
                        <li><span class="free"></span>Free Seats</li>
                        <li><span class="midcomfort"></span>&#8377; 150 - &#8377; 350</li>
                        <li><span class="comfort"></span>&#8377; 400 - &#8377; 800</li>
                        <li><span class="booked"></span>Occupied</li>

                    </ul>
                    <p><strong>Disclaimer:</strong> Seat allotment is the sole prerogative of the airline and can't be guaranteed by Yatra.com</p>
                </div>
            </div>
            <div class="tabs__pane -tab-item-2">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">


                        @{
                            var mealmap2 = @Model.passeengerlistRT[0].journeys[0].segments.Count;
                            if (mealmap2 != 2)
                            {
                                <li class="nav-item">
                                    <div id="mealtab1way" class="nav-link activeblue">@Model.passeengerlistRT[0].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[0].designator.destination</div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item d-flex">
                                    <div id="mealtab1" class="nav-link activeblue">@Model.passeengerlistRT[0].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[0].designator.destination</div>
                                    <div id="mealtab2" class="nav-link">@Model.passeengerlistRT[0].journeys[0].segments[1].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[1].designator.destination</div>
                                </li>
                            }
                            //RoundTrip Meal
                            var mealmap2RT2 = @Model.passeengerlistRT[1].journeys[0].segments.Count;
                            if (mealmap2RT2 != 2)
                            {
                                <li class="nav-item">
                                    <div id="mealtabRT1way" class="nav-link ">@Model.passeengerlistRT[1].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[0].designator.destination</div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item d-flex">
                                    <div id="mealtabRT1" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[0].designator.destination</div>
                                    <div id="mealtabRT2" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[1].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[1].designator.destination</div>
                                </li>
                            }
                        }



                    </ul>
                </div>
                <div class="flight-protip" style="margin-bottom:0;">Pre-booked meal is up to 25% cheaper than on-board price.</div>
                <div>
                    <div class="d-flex x-gap-15 mt-25 items-end justify-end">
                        <div class="d-flex x-gap-15 items-end mt-10 mb-10">
                            <div class="col-auto">
                                <button class="d-flex items-end text-18 arrow-left-hover js-tour-prev-one">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="d-flex items-end text-15 arrow-right-hover js-tour-next-one">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <partial name="_AddCartlPatialView.cshtml" />
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/js/custom.js/customnew.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/js/custom.js/SGCustom.js"></script>

<script>
    $(document).ready(function () {
        debugger;
        $('input[type="checkbox"]').on('change', function () {
            var selectedIds = [];
            debugger;
            $('input[type="checkbox"]:checked').each(function () {

                //selectedIds.push($(this).attr('id'));
                selectedIds.push($(this).val());

            });

            localStorage.setItem('selectedIds', selectedIds);

            var input = document.getElementsByName("unitKey");
            var total = 0;
            for (var i = 0; i < input.length; i++) {
                if (input[i].checked) {
                    total += parseInt(input[i].value);
                }
            }
            document.getElementById("total").value = total.toFixed(2);
            var one = document.getElementById("Totalamount").value;
            var two = document.getElementById("total").value;
            //SSRMeal();

        });
    });

    var totalpricepopup = localStorage.getItem('basetotalprice');
    document.getElementById("Totalamount").innerHTML = totalpricepopup;

</script>
<script type="text/javascript">
    /*********seatmap_tab_select_function_ServiceRequest_PartialView_Page***********/
    $(document).ready(function () {

        $("#seattab1way").click(function () {
            $("#tabshow1").show();
            $("#tabshowRT1").hide();
            $("#seattab1way").addClass('activeblue');
            $("#seattabRT1way").removeClass('activeblue');
            $("#tabshowRT2").removeClass('activeblue');
            $("#tabshowRT1").removeClass('activeblue');
            $("#seattabRT2").removeClass('activeblue');
            $("#seattabRT1").removeClass('activeblue');
        });
        $("#seattabRT1way").click(function () {
            $("#tabshow1").hide();
            $("#tabshow2").hide();
            $("#tabshowRT1").show();
            $("#seattabRT1way").addClass('activeblue');
            $("#seattab1way").removeClass('activeblue');
            $("#seattab1").removeClass('activeblue');
            $("#seattab2").removeClass('activeblue');
        });


        $("#tabshow2").hide();
        $("#tabshowRT1").hide();
        $("#tabshowRT2").hide();
        $("#seattab1").click(function () {
            $("#tabshow1").show();
            $("#tabshow2").hide();
            $("#tabshowRT1").hide();
            $("#tabshowRT2").hide();
            $("#seattab1").addClass('activeblue');
            $("#seattab2").removeClass('activeblue');
            $("#tabshowRT2").removeClass('activeblue');
            $("#tabshowRT1").removeClass('activeblue');

        });

        $("#seattab2").click(function () {
            $("#tabshow2").show();
            $("#tabshowRT1").hide();
            $("#tabshowRT2").hide();
            $("#seattab2").addClass('activeblue');
            $("#seattab1").removeClass('activeblue');
            $("#seattabRT2").removeClass('activeblue');
            $("#seattabRT1").removeClass('activeblue');
            $("#seattab1way").removeClass('activeblue');
            $("#seattabRT1way").removeClass('activeblue');
            $("#tabshow1").hide();
        });
        $("#seattabRT1").click(function () {
            $("#tabshow2").hide();
            $("#tabshow1").hide();
            $("#tabshowRT1").show();
            $("#tabshowRT2").hide();
            $("#seattabRT1").addClass('activeblue');
            $("#seattabRT2").removeClass('activeblue');
            $("#seattab2").removeClass('activeblue');
            $("#seattab1").removeClass('activeblue');
            $("#seattab1way").removeClass('activeblue');

        });
        $("#seattabRT2").click(function () {
            $("#tabshow2").hide();
            $("#tabshow1").hide();
            $("#tabshowRT1").hide();
            $("#tabshowRT2").show();
            $("#seattabRT2").addClass('activeblue');
            $("#seattabRT1").removeClass('activeblue');
            $("#seattab2").removeClass('activeblue');
            $("#seattab1").removeClass('activeblue');
            $("#seattab1way").removeClass('activeblue');
        });



    });
</script>