@model DomainLayer.ViewModel.ViewModel
@using System.Collections;
@{
    Layout = null;
    var Seat = Model;

}
<script src="~/js/custom.js/SGCustom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $('input[type="checkbox"]').on('change', function () {
            var selectedIds = [];
            debugger;
            $('input[type="checkbox"]:checked').each(function () {

                selectedIds.push($(this).val());

            });

            localStorage.setItem('selectedIds', selectedIds);

            var input = document.getElementsByName("unitKey");
            var total = 0;
            for (var i = 0; i < input.length; i++) {
                if (input[i].checked) {
                    total += parseInt(input[i].value);
                }
            }
            document.getElementById("total").value = total.toFixed(2);
            var one = document.getElementById("Totalamount").value;
            var two = document.getElementById("total").value;
            //SSRMeal();

        });
    });
</script>
<style>
    .chkbox {
        background: #b1abab;
        text-align: center;
        cursor: not-allowed;
        padding: 3px 0;
    }
</style>

<div class="flight-box-content rounded-4">
    <div class="tabs -pills-3 js-tabs">
        <div class="tabs__controls row x-gap-10 y-gap-10 js-tabs-controls bdr-btm">
            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10  js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">Select Seat</div>
            </div>

            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10  js-tabs-button " data-tab-target=".-tab-item-2">Add Meals</div>

            </div>

            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10 js-tabs-button " data-tab-target=".-tab-item-3">Add Baggage</div>
            </div>
        </div>

        <div class="tabs__content pt-0 js-tabs-content">
            <div class="tabs__pane -tab-item-1 is-tab-el-active">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">
                        @{
                            var seatmaap2 = @Model.passeengerlist.journeys[0].segments.Count;
                            if (seatmaap2 == 1)
                            {
                                <li class="nav-item">
                                    <button id="seattab" class="nav-link active">@Model.passeengerlist.journeys[0].segments[0].designator.origin-@Model.passeengerlist.journeys[0].segments[0].designator.destination</button>
                                </li>
                            }
                            else
                            {
                                @for (int i = 0; i < seatmaap2; i++)
                                {
                                    <li class="nav-item d-flex">
                                        @if (i == 0)
                                        {
                                            <div id="seattab1" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>

                                        }
                                        else
                                        {
                                            <div id="seattab2" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>
                                        }
                                    </li>


                                }
                            }


                            var seatmaapReturn = @Model.passeengerlist.journeys[0].segments.Count;
                            if (seatmaapReturn == 1)
                            {
                                <li class="nav-item">
                                    <button id="seattab1RT" class="nav-link ">@Model.passeengerlist.journeys[0].segments[0].designator.origin-@Model.passeengerlist.journeys[0].segments[0].designator.destination</button>
                                </li>
                            }
                            else
                            {
                                @for (int i = 0; i < seatmaapReturn; i++)
                                {
                                    <li class="nav-item d-flex">
                                        @if (i == 0)
                                        {
                                            <div id="seattab1" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>

                                        }
                                        else
                                        {
                                            <div id="seattab2" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>
                                        }
                                    </li>


                                }
                            }

                        }

                    </ul>
                </div>
                <div class="flight-protip">Pro Tip Grab your favourite seat before it gets sold.</div>
                <div class="wing-left">&nbsp;</div>

                @{
                    var seatmaap = Model.passeengerlist.journeys[0].segments.Count;

                    Hashtable ht0 = new Hashtable();
                    Hashtable ht1 = new Hashtable();
                    for (int k = 0; k < Model.Seatmaplist.datalist.Count; k++)
                    {
                        int count = Model.Seatmaplist.datalist[k].seatMap.decks.units.Count;
                        for (int j = 0; j < count; j++)
                        {
                            if (Model.Seatmaplist.datalist[k].seatMap.decks.units[j].assignable == true)
                            {
                                if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                                    ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                            }

                            if (k == 0)
                            {
                                if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                                {
                                    ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                                }

                            }
                            else
                            {
                                if (!ht1.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                                {
                                    ht1.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                                }

                            }

                        }
                    }

                    for (int l = 0; l < Model.Seatmaplist.datalist.Count; l++)
                    {
                        if (l == 0)
                        {
                            <div id="tabshow1" class="seat-section">

                                <div class="inner-section">
                                    <ul class="column">
                                        <li class="seat-li row-no">F</li>
                                        <li class="seat-li row-no">E</li>
                                        <li class="seat-li row-no">D</li>
                                        <li class="seat-li row-no"></li>
                                        <li class="seat-li row-no">C</li>
                                        <li class="seat-li row-no">B</li>
                                        <li class="seat-li row-no">A</li>
                                    </ul>

                                    @{
                                        @for (int i = 1; i <= 30; i++)
                                        {

                                            <ul class="column" id="itemList">
                                                @{
                                                    for (int k = 6; k >= 1; k--)
                                                    {
                                                        string data = string.Empty;
                                                        if (k == 6) { data = i.ToString() + "F"; }
                                                        else if (k == 5) { data = i.ToString() + "E"; }
                                                        else if (k == 4) { data = i.ToString() + "D"; }
                                                        else if (k == 3) { data = i.ToString() + "C"; }
                                                        else if (k == 2) { data = i.ToString() + "B"; }
                                                        else if (k == 1) { data = i.ToString() + "A"; }
                                                        var designation = data;
                                                        if (!ht0.Contains(data))
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            string feeamountF1 = ht0[data].ToString();
                                                            if (feeamountF1 == "0")
                                                            {
                                                                <li class="seat-li free-seat tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@Model.Seatmaplist.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.Seatmaplist.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat-li midcomfort tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@Model.Seatmaplist.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.Seatmaplist.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                        }

                                                        if (k == 4)
                                                        {
                                                            <li class="seat-li"></li>
                                                        }

                                                        <li class="seat-li colNo left">@i</li>
                                                    }
                                                }

                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="tabshow2" class="seat-section">

                                <div class="inner-section">
                                    <ul class="column">
                                        <li class="seat-li row-no">F</li>
                                        <li class="seat-li row-no">E</li>
                                        <li class="seat-li row-no">D</li>
                                        <li class="seat-li row-no"></li>
                                        <li class="seat-li row-no">C</li>
                                        <li class="seat-li row-no">B</li>
                                        <li class="seat-li row-no">A</li>
                                    </ul>

                                    @{
                                        @for (int i = 1; i <= 30; i++)
                                        {

                                            <ul class="column" id="itemList">
                                                @{
                                                    for (int k = 6; k >= 1; k--)
                                                    {
                                                        string data = string.Empty;
                                                        if (k == 6) { data = i.ToString() + "F"; }
                                                        else if (k == 5) { data = i.ToString() + "E"; }
                                                        else if (k == 4) { data = i.ToString() + "D"; }
                                                        else if (k == 3) { data = i.ToString() + "C"; }
                                                        else if (k == 2) { data = i.ToString() + "B"; }
                                                        else if (k == 1) { data = i.ToString() + "A"; }
                                                        var designation = data;
                                                        if (!ht1.Contains(data))
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            string feeamountF1 = ht1[data].ToString();
                                                            if (feeamountF1 == "0")
                                                            {
                                                                <li class="seat-li free-seat tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@Model.Seatmaplist.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.Seatmaplist.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="seat-li midcomfort tooltip">
                                                                    <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                                    <input type="checkbox" name="unitKey" value="@Model.Seatmaplist.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.Seatmaplist.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                                                                    <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                                </li>
                                                            }
                                                        }

                                                        if (k == 4)
                                                        {
                                                            <li class="seat-li"></li>
                                                        }

                                                        <li class="seat-li colNo left">@i</li>
                                                    }
                                                }

                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }

                }
                @* <ReturnSeatMapList>*@
                <div id="seatflight2">
                    Deepa pal
                    @{
                        //     var seatmaapR   = Model.passeengerlistR.journeys[1].segments.Count;

                        //     Hashtable ht0R = new Hashtable();
                        //     Hashtable ht1R = new Hashtable();
                        //     for (int k = 0; k < Model.SeatmaplistR.datalist.Count; k++)
                        //     {
                        //         int count = Model.SeatmaplistR.datalist[k].seatMap.decks.units.Count;
                        //         for (int j = 0; j < count; j++)
                        //         {
                        //             if (Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].assignable == true)
                        //             {
                        //                 if (!ht0.Contains(Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].designator))
                        //                     ht0.Add(Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                        //             }

                        //             if (k == 0)
                        //             {
                        //                 if (!ht0.Contains(Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].designator))
                        //                 {
                        //                     ht0.Add(Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                        //                 }

                        //             }
                        //             else
                        //             {
                        //                 if (!ht1R.Contains(Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].designator))
                        //                 {
                        //                     ht1R.Add(Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].designator, Model.SeatmaplistR.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                        //                 }

                        //             }

                        //         }
                        //     }

                        //     for (int l = 0; l < Model.SeatmaplistR.datalist.Count; l++)
                        //     {
                        //         if (l == 0)
                        //         {
                        //             <div id="tabshow1" class="seat-section">

                        //                 <div class="inner-section">
                        //                     <ul class="column">
                        //                         <li class="seat-li row-no">F</li>
                        //                         <li class="seat-li row-no">E</li>
                        //                         <li class="seat-li row-no">D</li>
                        //                         <li class="seat-li row-no"></li>
                        //                         <li class="seat-li row-no">C</li>
                        //                         <li class="seat-li row-no">B</li>
                        //                         <li class="seat-li row-no">A</li>
                        //                     </ul>

                        //                     @{
                        //                         @for (int i = 1; i <= 30; i++)
                        //                         {

                        //                             <ul class="column" id="itemList">
                        //                                 @{
                        //                                     for (int k = 6; k >= 1; k--)
                        //                                     {
                        //                                         string dataR = string.Empty;
                        //                                         if (k == 6) { dataR = i.ToString() + "F"; }
                        //                                         else if (k == 5) { dataR = i.ToString() + "E"; }
                        //                                         else if (k == 4) { dataR = i.ToString() + "D"; }
                        //                                         else if (k == 3) { dataR = i.ToString() + "C"; }
                        //                                         else if (k == 2) { dataR = i.ToString() + "B"; }
                        //                                         else if (k == 1) { dataR = i.ToString() + "A"; }
                        //                                         var designation = dataR;
                        //                                         if (!ht0R.Contains(dataR))
                        //                                         {
                        //                                             <li class="seat-li chkbox">
                        //                                                 <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                        //                                             </li>
                        //                                         }
                        //                                         else
                        //                                         {
                        //                                             string feeamountF1 = ht0R[dataR].ToString();
                        //                                             if (feeamountF1 == "0")
                        //                                             {
                        //                                                 <li class="seat-li free-seat tooltip">
                        //                                                     <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistR.passengers[0].passengerKey" />
                        //                                                     <input type="checkbox" name="unitKey" value="@Model.SeatmaplistR.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.SeatmaplistR.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                        //                                                     <span class="tooltiptext">@dataR <span>&#8377; @feeamountF1</span></span>
                        //                                                 </li>
                        //                                             }
                        //                                             else
                        //                                             {
                        //                                                 <li class="seat-li midcomfort tooltip">
                        //                                                     <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistR.passengers[0].passengerKey" />
                        //                                                     <input type="checkbox" name="unitKey" value="@Model.SeatmaplistR.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.SeatmaplistR.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                        //                                                     <span class="tooltiptext">@dataR <span>&#8377; @feeamountF1</span></span>
                        //                                                 </li>
                        //                                             }
                        //                                         }

                        //                                         if (k == 4)
                        //                                         {
                        //                                             <li class="seat-li"></li>
                        //                                         }

                        //                                         <li class="seat-li colNo left">@i</li>
                        //                                     }
                        //                                 }

                        //                             </ul>
                        //                         }
                        //                     }
                        //                 </div>
                        //             </div>
                        //         }
                        //         else
                        //         {
                        //             <div id="tabshow2" class="seat-section">

                        //                 <div class="inner-section">
                        //                     <ul class="column">
                        //                         <li class="seat-li row-no">F</li>
                        //                         <li class="seat-li row-no">E</li>
                        //                         <li class="seat-li row-no">D</li>
                        //                         <li class="seat-li row-no"></li>
                        //                         <li class="seat-li row-no">C</li>
                        //                         <li class="seat-li row-no">B</li>
                        //                         <li class="seat-li row-no">A</li>
                        //                     </ul>

                        //                     @{
                        //                         @for (int i = 1; i <= 30; i++)
                        //                         {

                        //                             <ul class="column" id="itemList">
                        //                                 @{
                        //                                     for (int k = 6; k >= 1; k--)
                        //                                     {
                        //                                         string dataR = string.Empty;
                        //                                         if (k == 6) { dataR = i.ToString() + "F"; }
                        //                                         else if (k == 5) { dataR = i.ToString() + "E"; }
                        //                                         else if (k == 4) { dataR = i.ToString() + "D"; }
                        //                                         else if (k == 3) { dataR = i.ToString() + "C"; }
                        //                                         else if (k == 2) { dataR = i.ToString() + "B"; }
                        //                                         else if (k == 1) { dataR = i.ToString() + "A"; }
                        //                                         var designation = dataR;
                        //                                         if (!ht1R.Contains(dataR))
                        //                                         {
                        //                                             <li class="seat-li chkbox">
                        //                                                 <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                        //                                             </li>
                        //                                         }
                        //                                         else
                        //                                         {
                        //                                             string feeamountF1 = ht1R[dataR].ToString();
                        //                                             if (feeamountF1 == "0")
                        //                                             {
                        //                                                 <li class="seat-li free-seat tooltip">
                        //                                                     <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistR.passengers[0].passengerKey" />
                        //                                                     <input type="checkbox" name="unitKey" value="@Model.SeatmaplistR.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.SeatmaplistR.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                        //                                                     <span class="tooltiptext">@dataR <span>&#8377; @feeamountF1</span></span>
                        //                                                 </li>
                        //                                             }
                        //                                             else
                        //                                             {
                        //                                                 <li class="seat-li midcomfort tooltip">
                        //                                                     <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistR.passengers[0].passengerKey" />
                        //                                                     <input type="checkbox" name="unitKey" value="@Model.SeatmaplistR.datalist[0].seatMapfees.groups[0].groupsFee.serviceCharges[0].amount _@Model.SeatmaplistR.datalist[0].seatMap.decks.units[i].unitKey" id="unitKey" />
                        //                                                     <span class="tooltiptext">@dataR <span>&#8377; @feeamountF1</span></span>
                        //                                                 </li>
                        //                                             }
                        //                                         }

                        //                                         if (k == 4)
                        //                                         {
                        //                                             <li class="seat-li"></li>
                        //                                         }

                        //                                         <li class="seat-li colNo left">@i</li>
                        //                                     }
                        //                                 }

                        //                             </ul>
                        //                         }
                        //                     }
                        //                 </div>
                        //             </div>
                        //         }
                        //     }
                        //     //}
                    }


                </div>
                @* ----------End--------- *@
                <div class="wing-right">&nbsp;</div>
                <div class="legendHolder-box">
                    <ul>

                        <li style="padding:0;"><strong>Legend:</strong></li>
                        <li><span class="free"></span>Free Seats</li>
                        <li><span class="midcomfort"></span>&#8377; 150 - &#8377; 350</li>
                        <li><span class="comfort"></span>&#8377; 400 - &#8377; 800</li>
                        <li><span class="booked"></span>Occupied</li>

                    </ul>
                    <p><strong>Disclaimer:</strong> Seat allotment is the sole prerogative of the airline and can't be guaranteed by Yatra.com</p>
                </div>
            </div>
            <div class="tabs__pane -tab-item-2">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">

                        @for (int i = 0; i < seatmaap2; i++)
                        {
                            <li class="nav-item d-flex">
                                @if (i == 0)
                                {
                                    <div id="seattab3" class="nav-link">@Model.passeengerlistR.journeys[0].segments[i].designator.origin-@Model.passeengerlistR.journeys[0].segments[i].designator.destination</div>

                                }
                                else
                                {
                                    <div id="seattab4" class="nav-link">@Model.passeengerlistR.journeys[0].segments[i].designator.origin-@Model.passeengerlistR.journeys[0].segments[i].designator.destination</div>
                                }
                            </li>
                        }

                    </ul>
                </div>
                <div class="flight-protip" style="margin-bottom:0;">Pre-booked meal is up to 25% cheaper than on-board price.</div>
                <div>
                    <div class="d-flex x-gap-15 mt-25 items-end justify-end">
                        <div class="d-flex x-gap-15 items-end mt-10 mb-10">
                            <div class="col-auto">
                                <button class="d-flex items-end text-18 arrow-left-hover js-tour-prev-one">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="d-flex items-end text-15 arrow-right-hover js-tour-next-one">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <partial name="_AddCartlPatialView.cshtml" />
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/js/custom.js/customnew.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    /*********seatmap_tab_select_function_ServiceRequest_PartialView_Page***********/
    $(document).ready(function () {
        $("#seattab1").addClass('active');
        $("#tabshow2").hide();
        $("#seattab").click(function () {
            $("#tabshow1").show();
            $("#tabshow2").hide();
            $("#seatflight2").hide();
            $("#seattab1").addClass('active');
            $("#seattab2").removeClass('active');

        });

        $("#seattab2").click(function () {
            $("#tabshow2").css("display", "block");
            $("#seattab2").addClass('active');
            $("#seattab1").removeClass('active');
            $("#tabshow1").hide();
        });

        $("#seatflight2").hide();
        $("#seattab1RT").click(function () {
            $("#tabshow1").hide();
            $("#seatflight2").show();

        });
    });
</script>