@model DomainLayer.ViewModel.ViewModel
@using System.Collections;
@{
    var data01 = Model;
}

<style>
    .servc-content input {
        max-width: 40px;
    }

    .select-option .servc-bordr {
        width: 200px;
    }
</style>
<style>
    .pax-border {
        border-top: #ddd 1px solid;
        border-bottom: #ddd 1px solid;
        font-weight: 500;
        margin: 8px 0px;
        padding: 8px 0px;
    }

    .popinput1 input {
        width: 40px;
        border: #1e568f 1px solid;
        border-radius: 3px;
        padding: 0 4px;
        color: #1e568f;
    }

    .popinput1 {
        padding: 0px 15px 0px 0px;
    }

    .popinput2 {
        padding: 0px 15px 0px 0px;
    }

        .popinput2 input {
            width: 40px;
            border: #1e568f 1px solid;
            border-radius: 3px;
            padding: 0 4px;
            color: #1e568f;
        }

    .service-section .seat-section .inner-section .seat-li.lowcomfort {
        background: #6ec3fb;
        text-align: center;
    }

   /*  .active {
        color: #E93329 !important;
        border-bottom: 1px solid #E93329 !important;
    } */
</style>

<script src="~/js/custom.js/roundtripsell.js"></script>
<script type="text/javascript">
    /*********seatmap_tab_select_function_ServiceRequest_PartialView_Page***********/
    $(document).ready(function () {
        $("#rightCN").hide();
        $("#seattab1waypopup").click(function () {
            $("#tabshow1popup").show();
            $("#tabshowRT1").hide();
            $("#rightCN").hide();
            $("#LeftCN").show();
            $("#passtab1").show();
            $("#tabshowRT2").hide();
            $("#passtab1RT").hide();
            $("#passtab2RT").hide();
            $("#popbtnA2").hide();//RightNonstop
            $("#seattab1waypopup").addClass('activeblue');
            $("#seattabRT1waypopup").removeClass('activeblue');
            $("#tabshowRT2").removeClass('activeblue');
            $("#tabshowRT1").removeClass('activeblue');
            $("#seattabRT2").removeClass('activeblue');
            $("#seattabRT1Popup").removeClass('activeblue');
        });
        $("#seattabRT1waypopup").click(function () {
            $("#rightCN").show();
            $("#tabshow1popup").hide();
            $("#tabshow2popup").hide();
            $("#passtab1").hide();
            $("#passtab2").hide();
            $("#passtab1RT").show();
            $("#tabshowRT1").show();
            $("#LeftCN").hide();
            $("#seattabRT1waypopup").addClass('activeblue');
            $("#seattab1waypopup").removeClass('activeblue');
            $("#seattab1Popup").removeClass('activeblue');
            $("#seattab2Popup").removeClass('activeblue');
        });

        $("#passtab2").hide();
        $("#passtab1RT").hide();
        $("#passtab2RT").hide();
        $("#tabshow2popup").hide();
        $("#tabshowRT1").hide();
        $("#tabshowRT2").hide();
        $("#popbtnA").show();
        $("#popbtnA1").hide();
        $("#popbtnB1").hide();
        $("#popbtnB").hide();
        $("#seattab1Popup").click(function () {
            $("#tabshow1popup").show();
            $("#tabshow2popup").hide();
            $("#tabshowRT1").hide();
            $("#tabshowRT2").hide();
            $("#passtab1").show();
            $("#passtab2").hide();
            $("#passtab1RT").hide();
            $("#passtab2RT").hide();
            $("#popbtnA").show();
            $("#popbtnA1").hide();
            $("#popbtnB1").hide();
            $("#popbtnB").hide();
            $("#popbtnA2").hide();//RightNonstop

            $("#seattab1Popup").addClass('activeblue');
            $("#seattab2Popup").removeClass('activeblue');
            $("#seattabRT1Popup").removeClass('activeblue');
            $("#seattabRT2Popup").removeClass('activeblue');
            $("#tabshowRT2").removeClass('activeblue');
            $("#tabshowRT1").removeClass('activeblue');

        });

        $("#seattab2Popup").click(function () {
            $("#tabshow2popup").show();
            $("#tabshowRT1").hide();
            $("#tabshowRT2").hide();
            $("#passtab1").hide();
            $("#passtab2").show();
            $("#passtab1RT").hide();
            $("#passtab2RT").hide();
            $("#popbtnA").hide();
            $("#popbtnA1").show();
            $("#popbtnB1").hide();
            $("#popbtnB").hide();
            $("#popbtnA2").hide();//RightNonstop

            $("#seattab2Popup").addClass('activeblue');
            $("#seattab1Popup").removeClass('activeblue');
            $("#seattabRT1Popup").removeClass('activeblue');
            $("#seattabRT2Popup").removeClass('activeblue');
            $("#seattabRT2").removeClass('activeblue');
            $("#seattabRT1").removeClass('activeblue');
            $("#seattab1waypopup").removeClass('activeblue');
            $("#seattabRT1waypopup").removeClass('activeblue');
            $("#tabshow1popup").hide();
        });
        $("#seattabRT1Popup").click(function () {
            debugger;
            $("#tabshow2popup").hide();
            $("#tabshow1popup").hide();
            $("#tabshowRT1").show();
            $("#tabshowRT2").hide();
            $("#passtab1").hide();
            $("#passtab2").hide();
            $("#passtab1RT").show();
            $("#popbtnA").hide();
            $("#popbtnA1").hide();
            $("#popbtnB1").show(); 
            $("#popbtnB").hide();
           
            $("#passtab2RT").hide();
            $("#popbtnA2").hide();//RightNonstop
            $("#RightCN1").show();//Rightconnect first
            $("#rightCN").hide();//Rightconnect first
            $("#LeftCN").hide();//Rightconnect
            $("#seattabRT1Popup").addClass('activeblue');
            $("#seattabRT2Popup").removeClass('activeblue');
            $("#seattab2Popup").removeClass('activeblue');
            $("#seattab1Popup").removeClass('activeblue');
            $("#seattab1waypopup").removeClass('activeblue');

        });
        $("#seattabRT2Popup").click(function () {
            $("#tabshow2popup").hide();
            $("#tabshow1popup").hide();
            $("#tabshowRT1").hide();
            $("#tabshowRT2").show();
            $("#passtab1").hide();
            $("#passtab2").hide();
            $("#passtab1RT").hide();
            $("#passtab2RT").show();
            $("#rightCN").show();
            $("#popbtnA").hide();
            $("#popbtnA1").hide();
            $("#popbtnB1").hide();
            $("#popbtnB").show();
            $("#popbtnA2").hide();//RightNonstop
            $("#LeftCN").hide();//Rightconnect
            $("#RightCN1").hide();//Rightconnect
            $("#seattabRT2Popup").addClass('activeblue');
            $("#seattabRT1Popup").removeClass('activeblue');
            $("#seattab2Popup").removeClass('activeblue');
            $("#seattab1Popup").removeClass('activeblue');
            $("#seattab1waypopup").removeClass('activeblue');
        });


        $("#btnfocus").click(function () {
            // confirm("Do you want select connect seat?");
            // $("#seattab2Popup").click();
            debugger;
            var confirmation = confirm("Do you want to select a connecting seat?");
            
            if (confirmation==true) {
                $("#seattab2Popup").click();
            } else {
               
                return false;
            }
        });
      


        $("#btnfocusA1").click(function () {
            debugger;
            //confirm("Do you want select Return seat?");
            var confirmation = confirm("Do you want to select a connecting seat?");

            if (confirmation == true) {
                if ($("#seattabRT1Popup").is(":visible")) {
                    $("#seattabRT1Popup").click();
                } else if ($("#seattabRT1waypopup").is(":visible")) {

                    $("#seattabRT1waypopup").click();
                    $("#popbtnA2").show();
                    $("#popbtnA1").hide();


                }
            } else {

                return false;
            }
            // $("#seattabRT1Popup").click();
            // $("#seattabRT1waypopup").click();
           

        });
        $("#btnfocusB1").click(function () {
            //confirm("Do you want select connect seat?");
            //$("#seattabRT2Popup").click();
            var confirmation = confirm("Do you want to select a connecting seat?");

            if (confirmation == true) {
                $("#seattabRT2Popup").click();
            } else {

                return false;
            }
        });



        $("#Leftbtnfocus").click(function () {
            //confirm("Do you want select connect seat?");
            var confirmation = confirm("Do you want to select a connecting seat?");

            if (confirmation == true) {
                if ($("#seattabRT1Popup").is(":visible")) {
                    $("#seattabRT1Popup").click();
                    $("#RightCN1").show();
                    //$("#popbtnB1").show();
                } else if ($("#seattabRT2Popup").is(":visible")) {

                    $("#seattabRT2Popup").click();
                    $("#RightCN1").hide();
                    //$("#popbtnA2").show();

                    //$("#popbtnB").show();


                }
                else if ($("#seattabRT1waypopup").is(":visible")) {

                    $("#seattabRT1waypopup").click();

                }
            } else {

                return false;
            }

           

        });

        $("#rightbtnfocus").click(function () {
            //confirm("Do you want select connect seat?");
            var confirmation = confirm("Do you want to select a connecting seat?");

            if (confirmation == true) {
                $("#seattabRT2Popup").click();
                $("#RightCN1").hide();
                $("#rightCN").show();
            } else {

                return false;
            }
           
        });

    });
</script>


<script>

    $(document).ready(function () {

        var count = $("#passengercountid").val();
        $('.mycheck').on('change', function () {
            if ($('.mycheck:checked').length > count) {
                alert('you can not select more than' + count + ' seat.');
                this.checked = false;
            }
        });

        $('.mycheck2').on('change', function () {
            if ($('.mycheck2:checked').length > count) {
                alert('you can not select more than' + count + ' seat.');
                this.checked = false;
            }
        });

        $('.mycheckRT').on('change', function () {
            if ($('.mycheckRT:checked').length > count) {
                alert('you can not select more than' + count + ' seat.');
                this.checked = false;
            }
        });

        $('.mycheck2RT').on('change', function () {
            if ($('.mycheck2RT:checked').length > count) {
                alert('you can not select more than' + count + ' seat.');
                this.checked = false;
            }
        });


        var checkedValues = ['', '', '', '', '', '', '', '', ''];
        $('.mycheck').change(function () {
            if ($(this).is(':checked')) {
                for (var i = 0; i < 9; i++) {
                    if (checkedValues[i] === '') {
                        checkedValues[i] = $(this).val();
                        break;
                    }
                }
            } else {
                var index = checkedValues.indexOf($(this).val());
                console.log(index)
                if (index !== -1) {
                    checkedValues[index] = '';
                }
            }
            $('#input_0').val(checkedValues[0]);
            $('#input_1').val(checkedValues[1]);
            $('#input_2').val(checkedValues[2]);
            $('#input_3').val(checkedValues[3]);
            $('#input_4').val(checkedValues[4]);
            $('#input_5').val(checkedValues[5]);
            $('#input_6').val(checkedValues[6]);
            $('#input_7').val(checkedValues[7]);
            $('#input_8').val(checkedValues[8]);
            updateInputsAndSpans(checkedValues);

        });

        function updateInputsAndSpans(checkedValues) {
            for (var i = 0; i < checkedValues.length; i++) {
                var parts = checkedValues[i].split('_');
                $('#input_' + i).val(parts[1]);
                $('.feeSpan_' + i).text(parts[0]);
                $('#outputDiv_' + i).text(parts[1]);
            }
        } 

       

        $('#cancelbtn1').click(function () {
            //alert("T1");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValues.length; i++) {
                $('#outputDiv_' + i).text('');
            }
        });

        $('#cancelNstop1').click(function () {
            //alert("T1");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValues.length; i++) {
                $('#outputDiv_' + i).text('');
            }
        });

        //Connceting 2 seat Code js
        var checkedValues2 = ['', '', '', '', '', '', '', '', ''];
        $('.mycheck2').change(function () {
            if ($(this).is(':checked')) {
                for (var i = 0; i < 9; i++) {
                    if (checkedValues2[i] === '') {
                        checkedValues2[i] = $(this).val();
                        break;
                    }
                }
            } else {
                var index = checkedValues2.indexOf($(this).val());
                console.log(index)
                if (index !== -1) {
                    checkedValues2[index] = '';
                }
            }
            $('#inputConnect_0').val(checkedValues2[0]);
            $('#inputConnect_1').val(checkedValues2[1]);
            $('#inputConnect_2').val(checkedValues2[2]);
            $('#inputConnect_3').val(checkedValues2[3]);
            $('#inputConnect_4').val(checkedValues2[4]);
            $('#inputConnect_5').val(checkedValues2[5]);
            $('#inputConnect_6').val(checkedValues2[6]);
            $('#inputConnect_7').val(checkedValues2[7]);
            $('#inputConnect_8').val(checkedValues2[8]);

            updateInputsAndSpans2(checkedValues2);

        });

        function updateInputsAndSpans2(checkedValues2) {
            for (var i = 0; i < checkedValues2.length; i++) {
                var parts = checkedValues2[i].split('_');
                $('#inputConnect_' + i).val(parts[1]);
                $('.feeSpanConnect_' + i).text(parts[0]);
                $('#outputDivConnect_' + i).text(parts[1]);
            }
        }
        $('#cancelbtn2').click(function () {
            //alert("T2");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValues2.length; i++) {
                $('#outputDivConnect_' + i).text('');
            }
        });

        //Return Code seat validation

        var checkedValuesRT = ['', '', '', '', '', '', '', '', ''];
        $('.mycheckRT').change(function () {
            if ($(this).is(':checked')) {
                for (var i = 0; i < 9; i++) {
                    if (checkedValuesRT[i] === '') {
                        checkedValuesRT[i] = $(this).val();
                        break;
                    }
                }
            } else {
                var index = checkedValuesRT.indexOf($(this).val());
                console.log(index)
                if (index !== -1) {
                    checkedValuesRT[index] = '';
                }
            }
            $('#inputRT_0').val(checkedValuesRT[0]);
            $('#inputRT_1').val(checkedValuesRT[1]);
            $('#inputRT_2').val(checkedValuesRT[2]);
            $('#inputRT_3').val(checkedValuesRT[3]);
            $('#inputRT_4').val(checkedValuesRT[4]);
            $('#inputRT_5').val(checkedValuesRT[5]);
            $('#inputRT_6').val(checkedValuesRT[6]);
            $('#inputRT_7').val(checkedValuesRT[7]);
            $('#inputRT_8').val(checkedValuesRT[8]);
            updateInputsAndSpansRT(checkedValuesRT);

        });

        function updateInputsAndSpansRT(checkedValuesRT) {
            for (var i = 0; i < checkedValuesRT.length; i++) {
                var parts = checkedValuesRT[i].split('_');
                $('#inputRT_' + i).val(parts[1]);
                $('.feeSpanRT_' + i).text(parts[0]);
                $('#outputDivRT_' + i).text(parts[1]);
            }
        } 

        $('#cancelbtn3').click(function () {
            //alert("T3");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValuesRT.length; i++) {
                $('#outputDivRT_' + i).text('');
            }
        });

        

        $('#cancelNstop2').click(function () {
            //alert("T3");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValuesRT.length; i++) {
                $('#outputDivRT_' + i).text('');
            }
        });

        $('#cancelNstop3').click(function () {
            //alert("T3");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValuesRT.length; i++) {
                $('#outputDivRT_' + i).text('');
            }
        });
        
        

        $('#cancelbtnA2').click(function () {
            //alert("T3");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValuesRT.length; i++) {
                $('#outputDivRT_' + i).text('');
            }
        });

        var checkedValues2RT = ['', '', '', '', '', '', '', '', ''];
        $('.mycheck2RT').change(function () {
            if ($(this).is(':checked')) {
                for (var i = 0; i < 9; i++) {
                    if (checkedValues2RT[i] === '') {
                        checkedValues2RT[i] = $(this).val();
                        break;
                    }
                }
            } else {
                var index = checkedValues2RT.indexOf($(this).val());
                console.log(index)
                if (index !== -1) {
                    checkedValues2RT[index] = '';
                }
            }
            $('#inputConnectRT_0').val(checkedValues2RT[0]);
            $('#inputConnectRT_1').val(checkedValues2RT[1]);
            $('#inputConnectRT_2').val(checkedValues2RT[2]);
            $('#inputConnectRT_3').val(checkedValues2RT[3]);
            $('#inputConnectRT_4').val(checkedValues2RT[4]);
            $('#inputConnectRT_5').val(checkedValues2RT[5]);
            $('#inputConnectRT_6').val(checkedValues2RT[6]);
            $('#inputConnectRT_7').val(checkedValues2RT[7]);
            $('#inputConnectRT_8').val(checkedValues2RT[8]);

            updateInputsAndSpans2RT(checkedValues2RT);

        });

        function updateInputsAndSpans2RT(checkedValues2RT) {
            for (var i = 0; i < checkedValues2RT.length; i++) {
                var parts = checkedValues2RT[i].split('_');
                $('#inputConnectRT_' + i).val(parts[1]);
                $('.feeSpanConnectRT_' + i).text(parts[0]);
                $('#outputDivConnectRT_' + i).text(parts[1]);
            }
        }

        $('#cancelbtn4').click(function () {
            //alert("T4");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValues2RT.length; i++) {
                $('#outputDivConnectRT_' + i).text('');
            }
        });

        $('#cancelNstop3').click(function () {
            //alert("T4");
            // Loop through each element and set its text to an empty string
            for (var i = 0; i < checkedValues2RT.length; i++) {
                $('#outputDivConnectRT_' + i).text('');
            }
        });
        // End connceting second code


        $('input[name="unitKey"]').on('change', function () {
            var selectedIds = [];
            debugger;
            $('input[name="unitKey"]:checked').each(function () {
                selectedIds.push($(this).val());
            });
            var total = 0;
            $('input[name="unitKey"]:checked').each(function () {
                total += parseInt($(this).val());
            });

            //$('#total').text(total.toFixed(2));
            //document.getElementById("total").value = total.toFixed(2);
            var formattedTotal = total.toFixed(2).replace(/\.?0*$/, '');
            $('#total').text(formattedTotal);
            document.getElementById("total").value = formattedTotal;
            const seatmap1 = document.getElementById("total").value;
            localStorage.setItem("selectedIds", JSON.stringify(selectedIds));
            updateCombinedTotalRT();


        });



    });



</script>

<div class="journey-box">
    <ul class="nav nav-pills mb-3">
        @{
            int passengerdata = @Model.passeengerlistRT[0].passengerscount;

        }
        @{
            int passengerdataValue = 0;
            for (int i = 0; i < @Model.passeengerlistRT[0].passengers.Count; i++)
            {
                if (Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "ADT" || Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "CHD")
                {
                    passengerdataValue = passengerdataValue + 1;
                }
            }
            passengerdata = passengerdataValue;
            for (int pas = 0; pas < passengerdata; pas++)
            {
                <input type="hidden" value="@passengerdata" id="passengercountid">
            }
            var seatmaap2 = @Model.passeengerlistRT[0].journeys[0].segments.Count;
            if (seatmaap2 != 2)
            {
                <li class="nav-item">
                    <div id="seattab1waypopup" class="nav-link me-3 activeblue">@Model.passeengerlistRT[0].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[0].designator.destination</div>
                </li>
            }
            else
            {
                <li class="nav-item d-flex">
                    <div id="seattab1Popup" class="nav-link activeblue">@Model.passeengerlistRT[0].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[0].designator.destination</div>
                    <div id="seattab2Popup" class="nav-link">@Model.passeengerlistRT[0].journeys[0].segments[1].designator.origin-@Model.passeengerlistRT[0].journeys[0].segments[1].designator.destination</div>
                </li>
            }
            //RoundTrip
            var seatmaapRT2 = @Model.passeengerlistRT[1].journeys[0].segments.Count;
            if (seatmaapRT2 != 2)
            {
                <li class="nav-item">
                    <div id="seattabRT1waypopup" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[0].designator.destination</div>
                </li>
            }
            else
            {
                <li class="nav-item d-flex">
                    <div id="seattabRT1Popup" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[0].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[0].designator.destination</div>
                    <div id="seattabRT2Popup" class="nav-link">@Model.passeengerlistRT[1].journeys[0].segments[1].designator.origin-@Model.passeengerlistRT[1].journeys[0].segments[1].designator.destination</div>
                </li>
            }

        }

        @*  <li class="nav-item" role="presentation">
        <button class="nav-link">Return:BOM-DEL</button>
        </li> *@
    </ul>
</div>

<div class="row pax-border">

    <div class="col-lg-12" id="passtab1">
        <section class="d-flex flex-wrap">
            @{
                passengerdata = @Model.passeengerlistRT[0].passengerscount;
            }

            @{
                passengerdataValue = 0;
                for (int i = 0; i < @Model.passeengerlistRT[0].passengers.Count; i++)
                {
                    if (Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "ADT" || Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "CHD")
                    {
                        passengerdataValue = passengerdataValue + 1;
                    }
                }
                passengerdata = passengerdataValue;
                for (int pas = 0; pas < passengerdata; pas++)
                {
                    <div class="">
                        <div class="servc-content popinput1">
                            <div>
                                <label>@Model.passengerNamedetails[pas].first</label>
                                <input type="text" id="input_@pas" class="textInput_@pas">
                            </div>
                            <div>
                                <span>Price</span>
                                <span style="color: #1e568f;">₹</span>
                                <span class="feeSpan_@pas"></span>
                            </div>

                        </div>

                    </div>
                }
            }
        </section>
    </div>

    <div class="col-lg-12" id="passtab2">
        <section class="d-flex flex-wrap">
            @{
                int passengerdata1 = @Model.passeengerlistRT[0].passengerscount;
            }

            @{
                int passengerdataValue1 = 0;
                for (int i = 0; i < @Model.passeengerlistRT[0].passengers.Count; i++)
                {
                    if (Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "ADT" || Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "CHD")
                    {
                        passengerdataValue1 = passengerdataValue1 + 1;
                    }
                }
                passengerdata1 = passengerdataValue1;
                for (int pas = 0; pas < passengerdata1; pas++)
                {
                    <div class="py-3">
                        <div class="servc-content popinput2">
                            <div>
                                <label>@Model.passengerNamedetails[pas].first</label>
                                <input type="text" id="inputConnect_@pas" class="textInput_@pas">
                            </div>
                            <div>
                                <span>Price</span>
                                <span style="color: #1e568f;">₹</span>
                                <span class="feeSpanConnect_@pas"></span>
                            </div>
                        </div>

                    </div>
                }
            }
        </section>
    </div>

    <div class="col-lg-12" id="passtab1RT">
        <section class="d-flex flex-wrap">
            @{
                passengerdata = @Model.passeengerlistRT[1].passengerscount;
            }

            @{
                passengerdataValue = 0;
                for (int i = 0; i < @Model.passeengerlistRT[1].passengers.Count; i++)
                {
                    if (Model.passeengerlistRT[1].passengers[i].passengerTypeCode == "ADT" || Model.passeengerlistRT[1].passengers[i].passengerTypeCode == "CHD")
                    {
                        passengerdataValue = passengerdataValue + 1;
                    }
                }
                passengerdata = passengerdataValue;
                for (int pasRT = 0; pasRT < passengerdata; pasRT++)
                {
                    <div class="">
                        <div class="servc-content popinput1">
                            <div>
                                <label>@Model.passengerNamedetails[pasRT].first</label>
                                <input type="text" id="inputRT_@pasRT" class="textInput_@pasRT">
                            </div>
                            <div>
                                <span>Price</span>
                                <span style="color: #1e568f;">₹</span>
                                <span class="feeSpanRT_@pasRT"></span>
                            </div>

                        </div>

                    </div>
                }
            }
        </section>
    </div>

    <div class="col-lg-12" id="passtab2RT">
        <section class="d-flex flex-wrap">
            @{
                passengerdata1 = @Model.passeengerlistRT[0].passengerscount;
            }

            @{
                passengerdataValue1 = 0;
                for (int i = 0; i < @Model.passeengerlistRT[0].passengers.Count; i++)
                {
                    if (Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "ADT" || Model.passeengerlistRT[0].passengers[i].passengerTypeCode == "CHD")
                    {
                        passengerdataValue1 = passengerdataValue1 + 1;
                    }
                }
                passengerdata1 = passengerdataValue1;
                for (int pas = 0; pas < passengerdata1; pas++)
                {
                    <div class="py-3">
                        <div class="servc-content popinput2">
                            <div>
                                <label>@Model.passengerNamedetails[pas].first</label>
                                <input type="text" id="inputConnectRT_@pas" class="textInput_@pas">
                            </div>
                            <div>
                                <span>Price</span>
                                <span style="color: #1e568f;">₹</span>
                                <span class="feeSpanConnectRT_@pas"></span>
                            </div>
                        </div>

                    </div>
                }
            }
        </section>
    </div>

</div>


<div class="row">
    <div class="col-lg-12">
        @*   <div class="flight-protip">Pro Tip Grab your favourite seat before it gets sold.</div> *@
        @* <div class="wing-left">&nbsp;</div> *@
        @{

            //var seatmaap = Model.passeengerlistRT[0].journeys[0].segments.Count;

            Hashtable ht0 = new Hashtable();
            Hashtable ht1 = new Hashtable();
            for (int k = 0; k < Model.SeatmaplistRT[0].datalist.Count; k++)
            {
                int count = Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units.Count;
                for (int j = 0; j < count; j++)
                {
                    // if (Model.Seatmaplist.datalist[k].seatMap.decks.units[j].assignable == true)
                    // {
                    //     if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                    //         ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                    // }

                    if (k == 0)
                    {
                        if (Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].assignable == true)
                        {

                            if (!ht0.Contains(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator))
                            {
                                ht0.Add(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator, Math.Round(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].servicechargefeeAmount,0) + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].Airline + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].availability);
                            }
                        }

                    }
                    else
                    {
                        if (Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].assignable == true)
                        {
                            if (!ht1.Contains(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator))
                            {
                                ht1.Add(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].designator, Math.Round(Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].servicechargefeeAmount,0) + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].Airline + "_@" + Model.SeatmaplistRT[0].datalist[k].seatMap.decks.units[j].availability);
                            }
                        }

                    }

                }
            }
            for (int l = 0; l < Model.SeatmaplistRT[0].datalist.Count; l++)
            {
                if (l == 0)
                {
                    <div id="tabshow1popup" class="seat-section">

                        <!-------------A----------------------------------->
                        <!-------------new Flight Design front----------------->
                        <div class="inner-section">
                            <div>
                                <span class="bgProperties iconflFront">
                                    <img class="left-img" src="~/img/flight-front-icon-1.png">
                                    <img class="right-img" src="~/img/flight-front-icon-2.png">
                                    <img class="exit-top-img" src="~/img/exit-btn-top.png">
                                    <img class="exit-btnn-img" src="~/img/exit-btn-button.png">
                                </span>
                            </div>
                            <div class="bg-white-seat">
                                <ul class="column">
                                    <li class="seat-li row-no">F</li>
                                    <li class="seat-li row-no">E</li>
                                    <li class="seat-li row-no">D</li>
                                    <li class="seat-li row-no"></li>
                                    <li class="seat-li row-no">C</li>
                                    <li class="seat-li row-no">B</li>
                                    <li class="seat-li row-no">A</li>
                                </ul>

                                @{
                                    @for (int i = 1; i <= 30; i++)
                                    {

                                        <ul class="column" id="itemList">
                                            @{
                                                for (int k = 6; k >= 1; k--)
                                                {
                                                    string data = string.Empty;
                                                    if (k == 6) { data = i.ToString() + "F"; }
                                                    else if (k == 5) { data = i.ToString() + "E"; }
                                                    else if (k == 4) { data = i.ToString() + "D"; }
                                                    else if (k == 3) { data = i.ToString() + "C"; }
                                                    else if (k == 2) { data = i.ToString() + "B"; }
                                                    else if (k == 1) { data = i.ToString() + "A"; }
                                                    var designation = data;
                                                    if (!ht0.Contains(data))
                                                    {
                                                        <li class="seat-li chkbox">
                                                            <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        string seatavailability = string.Empty;
                                                        string[] feessplit = ht0[data].ToString().Split("_@");
                                                        string feeamountF1 = feessplit[0];
                                                        seatavailability = feessplit[3];
                                                        // string feeamountF1 = ht0[data].ToString();
                                                        if (feeamountF1 == "0")
                                                        {
                                                            <li class="seat-li free-seat tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay0" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else if (seatavailability != "5")
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else if (Convert.ToDouble(feeamountF1) >= 120 && Convert.ToDouble(feeamountF1) <= 350)
                                                        {
                                                            <li class="seat-li lowcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck" name="unitKey" value="@feeamountF1 _@data _OneWay0 _@l" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="seat-li midcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay0" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                    }

                                                    if (k == 4)
                                                    {
                                                        <li class="seat-li"></li>
                                                    }

                                                    <li class="seat-li colNo left">@i</li>
                                                }
                                            }

                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="tabshow2popup" class="seat-section">

                        <div class="inner-section">
                            <div>
                                <span class="bgProperties iconflFront">
                                    <img class="left-img" src="~/img/flight-front-icon-1.png">
                                    <img class="right-img" src="~/img/flight-front-icon-2.png">
                                    <img class="exit-top-img" src="~/img/exit-btn-top.png">
                                    <img class="exit-btnn-img" src="~/img/exit-btn-button.png">
                                </span>
                            </div>
                            <div class="bg-white-seat">
                                <ul class="column">
                                    <li class="seat-li row-no">F</li>
                                    <li class="seat-li row-no">E</li>
                                    <li class="seat-li row-no">D</li>
                                    <li class="seat-li row-no"></li>
                                    <li class="seat-li row-no">C</li>
                                    <li class="seat-li row-no">B</li>
                                    <li class="seat-li row-no">A</li>
                                </ul>

                                @{
                                    @for (int i = 1; i <= 30; i++)
                                    {

                                        <ul class="column" id="itemList">
                                            @{
                                                for (int k = 6; k >= 1; k--)
                                                {
                                                    string data = string.Empty;
                                                    if (k == 6) { data = i.ToString() + "F"; }
                                                    else if (k == 5) { data = i.ToString() + "E"; }
                                                    else if (k == 4) { data = i.ToString() + "D"; }
                                                    else if (k == 3) { data = i.ToString() + "C"; }
                                                    else if (k == 2) { data = i.ToString() + "B"; }
                                                    else if (k == 1) { data = i.ToString() + "A"; }
                                                    var designation = data;
                                                    if (!ht1.Contains(data))
                                                    {
                                                        <li class="seat-li chkbox">
                                                            <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        string seatavailability = string.Empty;
                                                        string[] feessplit = ht1[data].ToString().Split("_@");
                                                        string feeamountF1 = feessplit[0];//ht1[data].ToString();
                                                        seatavailability = feessplit[3];
                                                        if (feeamountF1 == "0")
                                                        {
                                                            <li class="seat-li free-seat tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck2" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay1" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else if (seatavailability != "5")
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else if (Convert.ToDouble(feeamountF1) >= 120 && Convert.ToDouble(feeamountF1) <= 350)
                                                        {
                                                            <li class="seat-li lowcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck2" name="unitKey" value="@feeamountF1 _@data _OneWay0 _@l" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="seat-li midcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck2" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _OneWay1" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                    }

                                                    if (k == 4)
                                                    {
                                                        <li class="seat-li"></li>
                                                    }

                                                    <li class="seat-li colNo left">@i</li>
                                                }
                                            }

                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            //RoundTrip Spicejet SeatMap
            Hashtable htRT0 = new Hashtable();
            Hashtable htRT1 = new Hashtable();
            for (int k = 0; k < Model.SeatmaplistRT[1].datalist.Count; k++)
            {
                int count = Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units.Count;
                for (int j = 0; j < count; j++)
                {
                    // if (Model.Seatmaplist.datalist[k].seatMap.decks.units[j].assignable == true)
                    // {
                    //     if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                    //         ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                    // }

                    if (k == 0)
                    {
                        if (Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].assignable == true)
                        {
                            if (!htRT0.Contains(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator))
                            {
                                htRT0.Add(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator, Math.Round(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].servicechargefeeAmount,0) + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].Airline + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].availability);
                            }
                        }

                    }
                    else
                    {
                        if (Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].assignable == true)
                        {
                            if (!htRT1.Contains(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator))
                            {
                                htRT1.Add(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].designator, Math.Round(Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].servicechargefeeAmount, 0) + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].unitKey + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].Airline + "_@" + Model.SeatmaplistRT[1].datalist[k].seatMap.decks.units[j].availability);
                            }
                        }

                    }

                }
            }
            for (int l = 0; l < Model.SeatmaplistRT[1].datalist.Count; l++)
            {
                if (l == 0)
                {
                    <div id="tabshowRT1" class="seat-section">

                        <div class="inner-section">
                            <div>
                                <span class="bgProperties iconflFront">
                                    <img class="left-img" src="~/img/flight-front-icon-1.png">
                                    <img class="right-img" src="~/img/flight-front-icon-2.png">
                                    <img class="exit-top-img" src="~/img/exit-btn-top.png">
                                    <img class="exit-btnn-img" src="~/img/exit-btn-button.png">
                                </span>
                            </div>
                            <div class="bg-white-seat">
                                <ul class="column">
                                    <li class="seat-li row-no">F</li>
                                    <li class="seat-li row-no">E</li>
                                    <li class="seat-li row-no">D</li>
                                    <li class="seat-li row-no"></li>
                                    <li class="seat-li row-no">C</li>
                                    <li class="seat-li row-no">B</li>
                                    <li class="seat-li row-no">A</li>
                                </ul>

                                @{
                                    @for (int i = 1; i <= 30; i++)
                                    {

                                        <ul class="column" id="itemList">
                                            @{
                                                for (int k = 6; k >= 1; k--)
                                                {
                                                    string data = string.Empty;
                                                    if (k == 6) { data = i.ToString() + "F"; }
                                                    else if (k == 5) { data = i.ToString() + "E"; }
                                                    else if (k == 4) { data = i.ToString() + "D"; }
                                                    else if (k == 3) { data = i.ToString() + "C"; }
                                                    else if (k == 2) { data = i.ToString() + "B"; }
                                                    else if (k == 1) { data = i.ToString() + "A"; }
                                                    var designation = data;
                                                    if (!htRT0.Contains(data))
                                                    {
                                                        <li class="seat-li chkbox">
                                                            <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        string seatavailability = string.Empty;
                                                        string[] feessplit = htRT0[data].ToString().Split("_@");
                                                        string feeamountF1 = feessplit[0];
                                                        seatavailability = feessplit[3];
                                                        //string feeamountF1 = htRT0[data].ToString();
                                                        if (feeamountF1 == "0")
                                                        {
                                                            <li class="seat-li free-seat tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheckRT" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT0" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else if (seatavailability != "5")
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else if (Convert.ToDouble(feeamountF1) >= 120 && Convert.ToDouble(feeamountF1) <= 350)
                                                        {
                                                            <li class="seat-li lowcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheckRT" name="unitKey" value="@feeamountF1 _@data _OneWay0 _@l" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="seat-li midcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheckRT" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT0" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                    }

                                                    if (k == 4)
                                                    {
                                                        <li class="seat-li"></li>
                                                    }

                                                    <li class="seat-li colNo left">@i</li>
                                                }
                                            }

                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="tabshowRT2" class="seat-section">

                        <div class="inner-section">
                            <div>
                                <span class="bgProperties iconflFront">
                                    <img class="left-img" src="~/img/flight-front-icon-1.png">
                                    <img class="right-img" src="~/img/flight-front-icon-2.png">
                                    <img class="exit-top-img" src="~/img/exit-btn-top.png">
                                    <img class="exit-btnn-img" src="~/img/exit-btn-button.png">
                                </span>
                            </div>
                            <div class="bg-white-seat">
                                <ul class="column">
                                    <li class="seat-li row-no">F</li>
                                    <li class="seat-li row-no">E</li>
                                    <li class="seat-li row-no">D</li>
                                    <li class="seat-li row-no"></li>
                                    <li class="seat-li row-no">C</li>
                                    <li class="seat-li row-no">B</li>
                                    <li class="seat-li row-no">A</li>
                                </ul>

                                @{
                                    @for (int i = 1; i <= 30; i++)
                                    {

                                        <ul class="column" id="itemList">
                                            @{
                                                for (int k = 6; k >= 1; k--)
                                                {
                                                    string data = string.Empty;
                                                    if (k == 6) { data = i.ToString() + "F"; }
                                                    else if (k == 5) { data = i.ToString() + "E"; }
                                                    else if (k == 4) { data = i.ToString() + "D"; }
                                                    else if (k == 3) { data = i.ToString() + "C"; }
                                                    else if (k == 2) { data = i.ToString() + "B"; }
                                                    else if (k == 1) { data = i.ToString() + "A"; }
                                                    var designation = data;
                                                    if (!htRT1.Contains(data))
                                                    {
                                                        <li class="seat-li chkbox">
                                                            <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        string seatavailability = string.Empty;
                                                        string[] feessplit = htRT1[data].ToString().Split("_@");
                                                        string feeamountF1 = feessplit[0];
                                                        seatavailability = feessplit[3];
                                                        //string feeamountF1 = htRT1[data].ToString();
                                                        if (feeamountF1 == "0")
                                                        {
                                                            <li class="seat-li free-seat tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[1].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck2RT" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT1" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else if (seatavailability != "5")
                                                        {
                                                            <li class="seat-li chkbox">
                                                                <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                            </li>
                                                        }
                                                        else if (Convert.ToDouble(feeamountF1) >= 120 && Convert.ToDouble(feeamountF1) <= 350)
                                                        {
                                                            <li class="seat-li lowcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck2RT" name="unitKey" value="@feeamountF1 _@data _OneWay0 _@l" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="seat-li midcomfort tooltip">
                                                                <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlistRT[0].passengers[0].passengerKey" />
                                                                <input type="checkbox" class="mycheck2RT" name="unitKey" value="@feeamountF1 _@feessplit[1] _@data _@l _@feessplit[2] _RT1" id="unitKey" />
                                                                <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                            </li>
                                                        }
                                                    }

                                                    if (k == 4)
                                                    {
                                                        <li class="seat-li"></li>
                                                    }

                                                    <li class="seat-li colNo left">@i</li>
                                                }
                                            }

                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }

        }
        @* <div class="wing-right">&nbsp;</div>*@
        <div class="legendHolder-box">
            <ul>

                <li style="padding:0;"><strong>Legend:</strong></li>
                <li><span class="free"></span>Free Seats</li>
                <li><span class="midcomfort"></span>&#8377; 150 - &#8377; 350</li>
                <li><span class="comfort"></span>&#8377; 400 - &#8377; 800</li>
                <li><span class="booked"></span>Occupied</li>

            </ul>
            <p><strong>Disclaimer:</strong> Seat allotment is the sole prerogative of the airline and can't be guaranteed by Yatra.com</p>
        </div>
    </div>
</div>

