@* @model DomainLayer.Model.GetfligthModel *@
@model DomainLayer.Model.SimpleAvailabilityRequestModel
@{
    var data = Model;

}

<body>

    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->
    <div class="main">
        <!-- ***** Header Start ***** -->
        <header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand" href="index.html">
                    <img class="navbar-brand-regular" src="~/img/logo/logo-white.png" alt="brand-logo">
                    <img class="navbar-brand-sticky" src="~/img/logo/logo.png" alt="sticky brand-logo">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Mobile Menu Toggler -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <nav>
                        <ul class="navbar-nav" id="top-navbar-nav">
                            <li class="nav-item">
                            <li class="nav-item">
                                <select aria-label="Default">
                                    <option>English</option>
                                    <option value="1">French</option>
                                    <option value="2">Russian </option>
                                    <option value="3">Spanish</option>
                                    <option value="3">

                                    </option>
                                </select>
                            </li>
                            </li>
                            <li class="nav-item">
                                <select aria-label="Default">
                                    <option>India</option>
                                    <option value="1">UAE</option>
                                    <option value="2">USA</option>
                                </select>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Login</a>
                            </li>
                        </ul>
                    </nav>
                    <nav id="mobile-nav">
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="features">Features</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#">
                                    Pages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#">Screenshots</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- ***** Header End ***** -->
        <!-- ***** Flight Search Area Start ***** -->
        <section class="section search-area bg-overlay  d-flex align-items-center">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-md-7 col-lg-12">
                        <div class="row justify-content-center">
                            <div class="nav-bar col-12 col-md-7 col-lg-11">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Flight-tab" data-toggle="pill" href="#pills-Flight" role="tab" aria-controls="pills-Flight" aria-selected="true"><img class="mr-2" src="~/img/nav-icon-1.png">Flight</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Hotel-tab" data-toggle="pill" href="#pills-Hotel" role="tab" aria-controls="pills-Hotel" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-2.png">Hotel</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Visa-tab" data-toggle="pill" href="#pills-Visa" role="tab" aria-controls="pills-Visa" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-3.png">Visa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Holidays-tab" data-toggle="pill" href="#pills-Holidays" role="tab" aria-controls="pills-Holidays" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-4.png">Holidays</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Trains-tab" data-toggle="pill" href="#pills-Trains" role="tab" aria-controls="pills-Trains" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-5.png">Trains</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Buses-tab" data-toggle="pill" href="#pills-Buses" role="tab" aria-controls="pills-Buses" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-6.png">Buses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-Cabs-tab" data-toggle="pill" href="#pills-Cabs" role="tab" aria-controls="pills-Cabs" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-7.png">Cabs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-light-Passes-tab" data-toggle="pill" href="#pills-light-Passes" role="tab" aria-controls="pills-flight-Passes" aria-selected="false"><img class="mr-2" src="~/img/nav-icon-8.png">Flight Passes</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-box">
                                <div class="S-option">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Radio1" value="OneWay" id="one-wayid" checked>
                                        <label class="form-check-label">One way</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Radio2" value="RoundTrip" id="round-tripid">
                                        <label class="form-check-label">Round Trip</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Radio3" value="MultiCity" id="multi-cityid">
                                        <label class="form-check-label">Multi City</label>
                                    </div>
                                    <div class="custom-control-inline float-right"><h5 style="font-weight:500;">Book Flight Tickets</h5></div>
                                </div>
                                <form asp-action="SearchResultFlight" asp-controller="FlightSearchIndex" method="post" id="multipleValuesForm">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-12 col-md-10 col-lg-3 space autocomplete">
                                                <label>Flying From</label>
                                                <span class="input-group-text flightdepr">
                                                    <img src="~/img/location-icon.png" alt="icon">&nbsp;
                                                    @* <input id="myInput" type="" placeholder="Delhi DL" class="form-control fisrt">*@
                                                    @* <select class="form-control fisrt" id="ToCity" asp-for="origin"
                                                    asp-items="@(new SelectList(@ViewBag.ListofCountry,"CityCode", "CityName"))">
                                                    </select> *@
                                                    @*AutoSuggest Code For Airport*@

                                                    @* <input type="text" id="airportInput" asp-for="origin" class="form-control text-15 first" value="Delhi-DEL" placeholder="Enter AirportName"> *@
                                                    <input type="text" id="myInput" asp-for="origin" class="form-control text-15 first" value="Delhi-DEL" placeholder="Enter AirportName">
                                                </span>
                                                <div id="errororigin" class="errorbox" style="display:none;">Enter Origin Name*</div>
                                                @* <div id="airportname"></div>
                                                <div class="auto-suggest">
                                                <ul id="airportSuggestions"></ul>
                                                </div> *@
                                            </div>
                                            <div class="rplc-btn">
                                                <img src="~/img/direction-arrows.png" />
                                            </div>
                                            <div class="col-12 col-md-10 col-lg-3 space autocomplete">
                                                <label>Flying To</label>
                                                <span class="input-group-text" id="basic-addon1">
                                                    <img src="~/img/location-icon.png" alt="icon" style="left:15px;">&nbsp;
                                                    @* <input id="myInput1" type="" placeholder="Mumbai BOM" class="form-control fisrt">
                                                    <select class="form-control fisrt" id="ToCity" asp-for="destination"
                                                    asp-items="@(new SelectList(@ViewBag.ListofCountry,"CityCode", "CityName"))">
                                                    </select>*@
                                                    @* <input type="text" id="airportdestinationInput" asp-for="destination" class="form-control text-15 first" value="Mumbai-BOM" placeholder="Enter AirportName"> *@
                                                    <input type="text" id="myInput1" asp-for="destination" class="form-control text-15 first" value="Mumbai-BOM" placeholder="Enter AirportName">
                                                </span>
                                                <div id="errordestinaton" class="errorbox" style="display:none;">Enter Destination Name*</div>
                                                @*  <div id="airportdestination"></div>
                                                <div class="auto-suggest">
                                                <ul id="airportSuggestionsDestination"></ul>
                                                </div> *@
                                            </div>
                                            <div class="col-12 col-md-10 col-lg-2 space">
                                                <label>Departure</label>
                                                <span class="input-group-text">
                                                    <img src="~/img/calender-icon.png" alt="icon">
                                                    <input id="start-date" asp-for="beginDate" type="" placeholder="Date" class="form-control">
                                                    <span asp-validation-for="beginDate"></span>
                                                </span>

                                            </div>
                                            <div class="col-12 col-md-10 col-lg-2 space">
                                                <label>Return</label>
                                                <span class="input-group-text">
                                                    <img src="~/img/calender-icon.png" alt="icon">
                                                    <input id="end-date" asp-for="endDate" type="" placeholder="" class="form-control" disabled>

                                                    <span asp-validation-for="endDate"></span>
                                                </span>
                                                <p class="rounddateinput">Book a round trip <br> to save more</p>
                                            </div>
                                            <div class="col-12 col-md-10 col-lg-2 space travellers">
                                                <label>Travellers </label>
                                                <div class="searchMenu-guests js-form-dd js-form-counters">
                                                    <div data-x-dd-click="searchMenu-guests">

                                                        <div class="text-15 text-light-1 ls-2 lh-16">
                                                            <span class="js-count-adult" id="count_adult">1</span> adults
                                                            -
                                                            <span class="js-count-child" id="count_child">0</span> childeren
                                                            -
                                                            <span class="js-count-infents" id="count_infant">0</span> Infants
                                                        </div>
                                                    </div>

                                                    <div class="searchMenu-guests__field shadow-2" data-x-dd="searchMenu-guests" data-x-dd-toggle="-is-active">

                                                        <div class="bg-white px-30 py-30 rounded-4">

                                                            @*  ------------------------ *@
                                                            <div class="d-flex y-gap-10 justify-between items-center">
                                                                <div class="btn-incr-adult">
                                                                    <div class="text-13 fw-600">Adults</div>

                                                                    <input type="hidden" value="ADT" asp-for="@Model.passengercount.adulttype" />
                                                                    <div class="text-13 fw-500">Aged 12+ yrs</div>
                                                                </div>
                                                                <div class="btn-increase">
                                                                    <div class="decrement sub btn_sub">-</div>

                                                                    <input type="number" id="field_adult" class="input-field" value="1" asp-for="@Model.passengercount.adultcount" min="1" max="9">
                                                                    <div class="increment add btn_sub">+</div>
                                                                </div>
                                                            </div>
                                                            <div class="border-top-light mt-24 mb-24"></div>
                                                            <div class="d-flex y-gap-10 justify-between items-center">
                                                                <div class="btn-incr-chld">
                                                                    <div class="text-13 fw-600">
                                                                        Children
                                                                    </div>
                                                                    <input type="hidden" value="CHD" asp-for="@Model.passengercount.childtype" />
                                                                    <div class="text-13 fw-500">
                                                                        Aged 2-12 yrs
                                                                    </div>
                                                                </div>
                                                                <div class="btn-increase">
                                                                    <div class="decrement1 sub btn_sub">-</div>
                                                                    <input type="number" id="field_child" class="input-field" value="0" asp-for="@Model.passengercount.childcount" min="0" max="6">
                                                                    <div class="increment1 add btn_sub">+</div>

                                                                </div>
                                                            </div>
                                                            <div class="border-top-light mt-24 mb-24"></div>
                                                            <div class="d-flex y-gap-10 justify-between items-center">
                                                                <div class="infant-area">
                                                                    <div class="text-13 fw-600">Infants</div>
                                                                    <input type="hidden" value="INFT" asp-for="@Model.passengercount.infanttype" />
                                                                    <div class="text-13 fw-500">
                                                                        Below 2 yrs
                                                                    </div>
                                                                </div>
                                                                <div class="btn-increase">
                                                                    <div class="decrement2 sub btn_sub">-</div>

                                                                    <input type="number" id="field_infant" class="input-field" value="0" asp-for="@Model.passengercount.infantcount" min="0" max="6">
                                                                    <div class="increment2 add btn_sub">+</div>

                                                                </div>
                                                            </div>

                                                            <div class="border-top-light mt-24 mb-24"></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 search-bottom"></div>
                                            <div class="col-12 col-md-10 col-lg-9 pl-0">
                                                <div class="form-group pt-2">
                                                    <div class="dropdown js-dropdown js-economy-active" style="display:inline-block;">
                                                        <div class="dropdown__button d-flex items-center  text-15" data-el-toggle=".js-economy-toggle" data-el-toggle-active=".js-economy-active">
                                                            <span class="js-dropdown-title">Show Class </span>
                                                            <i class="fa fa-angle-down icon icon-chevron-sm-down" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="toggle-element -dropdown  js-click-dropdown js-economy-toggle">
                                                            <div class="text-14 y-gap-8 js-dropdown-list">

                                                                <div><a href="#" class="d-block js-dropdown-link">Economic</a></div>
                                                                <div><a href="#" class="d-block js-dropdown-link">Premium</a></div>
                                                                <div><a href="#" class="d-block js-dropdown-link">Business</a></div>
                                                                <div><a href="#" class="d-block js-dropdown-link">First</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="defaultInline3">
                                                        <label class="custom-control-label" for="defaultInline3">Direct Flights</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="defaultInline4">
                                                        <label class="custom-control-label" for="defaultInline4">Defence Fare</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="defaultInline4">
                                                        <label class="custom-control-label" for="defaultInline4">Student Fare </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-10 col-lg-3">
                                                <div class="form-group">
                                                    <button type="submit" id="searchbtn" class="btn btn-lg btn-block">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overlay" id="animationOverlay">
                            <div class="loader"></div>
                            <div class="iconanimate">
                                <img id="flightImage" src="~/img/flytk.png" alt="Flight" style="display:none">
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Flight Search Area End ***** -->
        <!-- ***** whybook Area Start ***** -->
        <section class="whybook">
            <div class="hd-one mb-4">Why Book With Us?</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5 col-sm-4">
                        <div class="block-one"><img src="~/img/why-book-icon1.png" alt="#"></div>
                        <div class="block-two">
                            <p>Lowest Budget Airline</p>
                            <h2>Fare Guarantee</h2>
                        </div>
                    </div>
                    <div class="col-5 col-sm-4">
                        <div class="block-one"><img src="~/img/why-book-icon2.png" alt="#"></div>
                        <div class="block-two">
                            <p>Easy Book In</p>
                            <h2>Just 3 Steps</h2>
                        </div>
                    </div>
                    <div class="col-5 col-sm-4">
                        <div class="block-one"><img src="~/img/why-book-icon3.png" alt="#"></div>
                        <div class="block-two">
                            <p>24x365 Days</p>
                            <h2>Free Phone Assistance</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** whybook Area End ***** -->
        <!-- ***** SPECIAL OFFER Area Start ***** -->
        <section id="special-offer" class="section features-area style-two overflow-hidden pt_50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2><span class="text-primary">SPECIAL </span> OFFERS</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 res-margin">
                        <!-- Special offer -->
                        <a href="#">
                            <div class="single-offer card">
                                <!-- Card Top -->
                                <div class="card-top p-3">
                                    <div>
                                        <img class="navbar-brand-sticky" src="~/img/Taj-lake-palace-udaipur-ind.webp" alt="image">
                                    </div>
                                </div>
                                <div class="offer media bg-gray p-3">
                                    <div class="reviewer-meta media-body align-self-center ml-2">
                                        <h4 class="text-primary mt-1 mb-2">Taj Lake Palace, Udaipur</h4>
                                        <p class="text-right"><a href="#">Book Now<i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 res-margin">
                        <!-- Special offer -->
                        <a href="#">
                            <div class="single-offer card">
                                <!-- Card Top -->
                                <div class="card-top p-3">
                                    <div>
                                        <img class="navbar-brand-sticky" src="~/img/Itc-maurya-delhi.webp" alt="image">
                                    </div>
                                </div>
                                <div class="offer media bg-gray p-3">
                                    <div class="reviewer-meta media-body align-self-center ml-2">
                                        <h4 class="text-primary mt-1 mb-2">ITC Maurya New Delhi</h4>
                                        <p class="text-right"><a href="#">Book Now<i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 res-margin">
                        <!-- Special offer -->
                        <a href="#">
                            <div class="single-offer card">
                                <!-- Card Top -->
                                <div class="card-top p-3">
                                    <div>
                                        <img class="navbar-brand-sticky" src="~/img/taj-mahal-palace-mumbai.webp" alt="image">
                                    </div>
                                </div>
                                <div class="offer media bg-gray p-3">
                                    <div class="reviewer-meta media-body align-self-center ml-2">
                                        <h4 class="text-primary mt-1 mb-2">The Taj Mahal Hotel Mumbai</h4>
                                        <p class="text-right"><a href="#">Book Now<i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <!-- ***** SPECIAL OFFER Area End ***** -->
        <!-- ***** Slide Item Area Start ***** -->
        <section class="ptb_50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5 col-sm-4">
                        <div class="slideItem">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span><h4>We are now available</h4>Call +155 666 888 for contact with us</span>
                        </div>
                    </div>
                    <div class="col-5 col-sm-4">
                        <div class="slideItem">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <span><h4>International Flight</h4>Call +155 666 888 for booking </span>
                        </div>
                    </div>
                    <div class="col-5 col-sm-4">
                        <div class="slideItem">
                            <img src="assets/img/refund-icon.png" alt="#" class="mr-2">
                            <span><h4>Check Refund</h4>Call +155 666 888 for check refund</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Slide Item Area End ***** -->
        <!-- ***** Destination Area Start ***** -->
        <section class="section destination-area destination-style-two overflow-hidden ptb_62" style="background:#EDF8FF;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2><span class="text-primary">MOST POPULAR </span> DESTINATIONS</h2>
                            <p class="d-none d-sm-block mt-4">Here are some of the places that are currently <br>the most popular choice form out trip</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Single destination -->
                        <div class="single-destination text-center overflow-hidden m-2 m-lg-0">
                            <!-- destination Thumb-->
                            <a href="#">
                                <div class="destination-thumb d-inline-block position-relative overflow-hidden">
                                    <img src="~/img/destination/populer-destination-img-1.png" alt="">
                                    <!-- destination Overlay -->
                                    <div class="destination-overlay">
                                        <h4 class="destination-name text-white">Spectacular Phuket and Krabi </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Single destination -->
                        <div class="single-destination text-center overflow-hidden m-2 m-lg-0">
                            <!-- destination Thumb -->
                            <a href="#">
                                <div class="destination-thumb d-inline-block position-relative overflow-hidden">
                                    <img src="~/img/destination/populer-destination-img-2.jpg" alt="">
                                    <!-- destination Overlay -->
                                    <div class="destination-overlay">
                                        <h4 class="destination-name text-white">Blissful Bali</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Single destination -->
                        <a href="#">
                            <div class="single-destination text-center overflow-hidden m-2 m-lg-0">
                                <!-- destination Thumb -->
                                <div class="destination-thumb d-inline-block position-relative overflow-hidden">
                                    <img src="~/img/destination/populer-destination-img-3.png" alt="">
                                    <!-- destination Overlay -->
                                    <div class="destination-overlay">
                                        <h4 class="destination-name text-white">Mauritius Getaway with Tarisa Resort and Spa</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Single destination -->
                        <div class="single-destination text-center overflow-hidden m-2 m-lg-0">
                            <!-- destination Thumb -->
                            <a href="#">
                                <div class="destination-thumb d-inline-block position-relative overflow-hidden">
                                    <img src="~/img/destination/populer-destination-img-4.jpg" alt="">
                                    <!-- destination Overlay -->
                                    <div class="destination-overlay">
                                        <h4 class="destination-name text-white">Mesmerizing Maldives with Medhufushi Island Resort</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Destination Area End ***** -->
        <!-- ***** Download Area Start ***** -->
        <section class="section download-area ptb_62">
            <div class="container">
                <div class="row justify-content-center inner-box">
                    <div class="col-12 col-md-10 col-lg-3">
                        <div class="section-heading text-center">
                            <h2><span class="text-primary">Download </span> Our Mobile App</h2>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 col-lg-6">
                        <!-- Download Text -->
                        <div class="download-text text-center border-line">
                            <!-- Store Buttons -->
                            <div class="button-group store-buttons d-flex justify-content-center">
                                <a href="#">
                                    <img src="~/img/icon/google-play-black.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="~/img/icon/app-store-black.png" alt="">
                                </a>

                            </div>
                            <h3 class="my-3 d-block">Get Download link on your Mobile</h3>
                            <input type="text" class="form-control" name="name" placeholder="Enter Your Mobile Number" required="required"><button type="submit" class="btn btn-lg btn-block">Send</button>
                        </div>

                    </div>
                    <div class="col-12 col-md-10 col-lg-3 text-center">
                        <img src="~/img/scanner.png" alt="">
                        <p class="my-3 d-block">Scan the QR Code to download the Mobile App</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Download Area End ***** -->
        <!--====== Footer Area Start ======-->
        <footer class="footer-area footer-fixed">
            <!-- Footer Top -->
            <div class="footer-top ptb_62">
                <div class="container">
                    <h3 class="footer-title mb-2">Travel Guide</h3>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <ul>
                                    <li class="py-2"><a href="#">Andaman and Nicobar Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Kerala Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Himachal Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Kashmir Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Gujarat Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Maharashtra Travel Guide</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <ul>
                                    <li class="py-2"><a href="#">Lakshwadweep Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Assam Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Arunachal Pradesh Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Andhra Pradesh Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Manipur Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Madhya Pradesh Travel Guide</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <ul>
                                    <li class="py-2"><a href="#">Nagaland Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Odisha Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Tamil Nadu Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Uttaranchal Travel Guide</a></li>
                                    <li class="py-2"><a href="#">West Bengal Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Karnataka Travel Guide</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <ul>
                                    <li class="py-2"><a href="#">Lakshwadweep Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Assam Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Arunachal Pradesh Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Andhra Pradesh Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Manipur Travel Guide</a></li>
                                    <li class="py-2"><a href="#">Madhya Pradesh Travel Guide</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-mid ptb_50">
                <div class="container">
                    <h3 class="footer-title mb-2">Why jetwaystravel.com?</h3>
                    <p>Our competitive rates and exclusive offers are what gives us a top notch over our competitors. We promise 'Unbeatable' services both in pricing and quality. For instance: Every Wednesday, travelers can save big with our ZERO Convenience fee on flight bookings.</p>
                    <p>Also, we get it - travel’s a big decision. It’s not every day that you fly across the world to wander the souks of Dubai or enjoy a dreamy sunrise in Paris. But for us, it’s been our every day job for the past four decades. Let’s just say we know what travelers really want. We give you the pros and cons for all the different travel products and allow you to decide what works best for you and your family. While many travel companies claim to have experts, we believe few, match our own specialists for genuine- firsthand knowledge. We combine first-hand knowledge with exceptional special offers, and we take care of every detail to create a holiday as unique as you are. You will no more need to worry about coordinating flight bookings, hotel reservations, visa stamps or tours as all your needs are taken care of under one roof; the Jetways Travels roof. More than 85% of clients come back to us for future trips.</p>
                    <p>When you choose Jetways Travels, your trip is in safe hands. Whilst you are abroad our team is available 24 hours a day, 365 days a year should you need assistance. We do absolutely everything for you, all you need to do is turn up at the airport with your bags and go!</p>
                </div>
            </div>

            <div class="footer-mid-bottom ptb_25">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-6">
                            <!-- Social Icons -->
                            <div class="social-icons d-flex">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="twitter" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="google-plus" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-6 text-right">
                            <img src="~/img/card.png" alt="card">
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Copyright Area -->
                            <div class="copyright-area text-center py-4">
                                <!-- Copyright-->
                                <div class="copyright">Copyrights &copy; 2023 www.jetwaystravel.com All Rights Reserved..</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--====== Footer Area End ======-->
    </div>


    <!-- ***** All jQuery Plugins ***** -->
    <!-- Social media js -->
    <!-- Clander js -->
    @section scripts{
        <link href="~/css/indexvny.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


        <!-- Bootstrap js -->
        <script src="~/js/bootstrap/popper.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.min.js"></script>
        <!-- Travellers js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
        <script src="~/js/vendors.js"></script>
        <script src="~/js/main.js"></script>

        <!-- Active js -->
        <script src="assets/js/active.js"></script>
        <script src="~/js/custom.js/airportcode.js"></script>
        <script src="~/js/custom.js/indexpage.js"></script>
        <style type="text/css">
            /*     .errorbox {
                                        margin-left: 40px;
                                        padding: 4px 10px;
                                        font-size: 13px;
                                        color: #fff;
                                        margin-top: -4px;
                                        width: auto;
                                        font-weight: 700;
                                        background: red;
                                        border-radius: 2px;
                                    } */
            .errorbox {
                position: relative;
                margin-left: 40px;
                padding: 4px 10px;
                font-size: 13px;
                color: #fff;
                margin-top: -4px;
                width: 68%;
                font-weight: 700;
                background: red;
                border-radius: 2px;
            }

                .errorbox::before {
                    content: "";
                    position: absolute;
                    transform: rotate(180deg);
                    bottom: 28px;
                    border-width: 8px;
                    border-style: solid;
                    border-color: red transparent transparent transparent;
                }



            /*   #myAnimation {
                            width:60px;
                            height:60px;
                            /* position: absolute;
                            bottom: 0px;
                            border-radius:50%;
                            padding:10px;
                           background-color: red;

                        } */


            /* Overlay styles */
            .overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
                z-index: 9999;
            }

            /* Loader animation styles */
            .loader {
                border: 5px solid #f3f3f3;
                border-top: 5px solid #3498db;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                animation: spin 2s linear infinite;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -25px;
                margin-left: -25px;
            }

            @@keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            .iconanimate {
                width: 60px;
                height: 60px;
                /* position: absolute; */
                border-radius: 50%;
                padding: 10px;
                background-color: red;
                position: relative;
                top: 50%;
                animation-name: example;
                animation-duration: 10s;
            }

            @@keyframes example {
                0% {
                    left: 0; /* Starting position */
                }

                100% {
                    left: calc(100% - 100px); /* Move to the right edge (100% - width) */
                }
                /* 0%   {background-color:red; left:0px; right:0px;}
                              25%  {background-color:yellow; left:80%; top:10%;}
                              50%  {background-color:blue; left:200px; top:200px;}
                              75%  {background-color:green; left:0px; top:200px;}
                              100% {background-color:red; left:0px; top:0px;}  */
            }

            .iconanimate img {
                transform: rotate(45deg);
            }

            .rplc-btn {
                width: 34px;
                position: absolute;
                left: 246px;
                background: #ffffffc2;
                margin-top: 52px;
                /* margin-left: -2px; */
                padding: 3px;
                border-radius: 50%;
                z-index: 999;
            }

                .rplc-btn img {
                    transform: rotate(90deg);
                }

        </style>
        <script>
            $(document).ready(function () {
                $('.rplc-btn').on('click', function () {
                    // Get values from the first input box
                    var flyingFromValue = $('#myInput').val();

                    // Get values from the second input box
                    var flyingToValue = $('#myInput1').val();

                    // Swap values between the two input boxes
                    $('#myInput').val(flyingToValue);
                    $('#myInput1').val(flyingFromValue);
                });
            });
        </script>

    }
</body>

