@model DomainLayer.ViewModel.ViewModel
@{
    Layout = null;

}

<div class="py-15 px-20 rounded-4 text-15 bg-blue-1-05 mb-10">
    <div class="d-flex justify-content-end" style="margin-bottom:-15px;"><button id="checkboxLead" class="checkbox-button2" onclick="toggleCheckbox()"></button></div>

    <form asp-action="IndigoTravllerDetails" asp-controller="IndigoTripsell" method="post" id="passengerForm">

        @for (var i = 0; i < Model.passeengerlist.passengers.Count; i++)
        {
            <input type="hidden" name="passengers[@i].origin" value="@Model.passeengerlist.journeys[0].designator.origin" />
            <input type="hidden" name="passengers[@i].departure" value="@Model.passeengerlist.journeys[0].designator.departure" />
            <input type="hidden" name="passengers[@i].destination" value="@Model.passeengerlist.journeys[0].designator.destination" />
            <input type="hidden" name="passengers[@i].identifier" value="@Model.passeengerlist.journeys[0].segments[0].identifier.identifier" />
            <input type="hidden" name="passengers[@i].carrierCode" value="@Model.passeengerlist.journeys[0].segments[0].identifier.carrierCode" />

            <div><label class="text-16 fw-600">@Model.passeengerlist.passengers[i].passengerTypeCode</label></div>
            <input type="hidden" name="passengerdetails[@i].passengertypecode" value="@Model.passeengerlist.passengers[i].passengerTypeCode" />
            <input type="hidden" name="passengerdetails[@i].passengerkey" value="@Model.passeengerlist.passengers[i].passengerKey" />

            <div class="row">
                <div class="col-md-1">
                    <select name="passengerdetails[@i].Title" class="form-control" asp-items="@ViewBag.Title"></select>
                </div>
                <div class="col-md-3 inputFirstname">
                    <div class="form-input">

                        <input type="text" class="contactFname validate-field" data-validate="name" maxlength="32" oninput="validateInputI(event ,@i)" id="LeadPass[@i]" placeholder="First & middle name" name="passengerdetails[@i].First" required />

                    </div>
                    <p id="error-Fname" class="error-message  error-CFname" style="display: none;"></p>
                    <p class="error-message-val " style="display:none"></p>
                </div>
                <div class="col-md-3">

                    <div class="form-input">
                        <input type="text" class="contactLname validate-field" data-validate="last" oninput="validateInputI(event,@i)" maxlength="32" placeholder="Last name" name="passengerdetails[@i].Last" required />

                    </div>
                    <p id="error-Lname" class="error-message error-CLname" style="display:none"></p>

                </div>
                @{
                    if (Model.passeengerlist.passengers[i].passengerTypeCode == "ADT" || Model.passeengerlist.passengers[i].passengerTypeCode == "CHD")
                    {
                        <div class="col-md-3">
                            <div class="form-input"><input type="text" data-validate="email" class="contactemail validate-field" maxlength="266" oninput="validateInputI(event,@i)" id="contactemailID" placeholder="email" name="" required /></div>
                        </div>
                        <p class="error-message error-emailname" style="display:none"></p>
                        <p class="error-message-val " style="display:none"></p>

                        <div class="col-md-2">
                            <div class="form-input"><input type="text" data-validate="phone" maxlength="10" id="contactphoneID" class="contactphone validate-field" oninput="validateInputI(event,@i)" placeholder="phone" name="passengerdetails[@i].mobile" required /></div>
                        </div>
                        <p class="error-message error-phoneN" style="display:none"></p>
                        <p class="error-message-val" style="display:none"></p>
                    }
                    if (@Model.passeengerlist.passengers[i].passengerTypeCode == "INFT")
                    {
                        <div class="col-md-4 infant-dob-input ">
                            <div class="form-input dobinput d-flex">
                                <div class="dob-picker">
                                    <select class="brd-none day-select" name="passengerdetails[@i].day" required>
                                        <option value="" disabled selected>Day</option>
                                    </select>
                                    <select class="brd-none month-select" name="passengerdetails[@i].month" required>
                                        <option value="" disabled selected>Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select class="brd-none year-select" name="passengerdetails[@i].year" required>
                                        <option value="" disabled selected>Year</option>
                                    </select>
                                </div>

                            </div>
                            <div class="validation-message-Required error-message" style="color: red; display: none;"></div>
                        </div>


                    }
                }
            </div>
        }
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary mt-15" id="showReviewPopup">Save</button>
        </div>

    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Include Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .modal-body p {
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 9%);
        border: 1px solid #E4E3E1;
        padding: 8px;
        margin-bottom: 10px;
    }

    .dobinput {
        background: #fff;
        color: var(--color-light-1);
        border: 1px solid var(--color-border);
        border-radius: 4px;
        padding: 8px;
        min-height: 40px;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 100%;
        font-size: 14px;
    }

    .brd-none {
        border: none;
    }

    .custom-select::-ms-expand {
        display: none; /* Hide the arrow icon in IE */
    }

    .custom-select option {
        padding: 5px; /* Set the desired padding for each option */
        height: 50px;
        overflow: hidden;
    }

    .checkbox-button2 {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0;
        cursor: pointer;
    }


        .checkbox-button2.checked::after {
            content: '\2713';
            font-size: 16px;
            color: #333;
            display: block;
            text-align: center;
            line-height: 20px;
        }

</style>
<script type="text/javascript">
    function validateInputI(event) {
        const element = event.target;
        const value = element.value.trim();
        const validateType = element.getAttribute('data-validate');
        const validators = {
            name: /^[a-zA-Z\s]*$/,
            last: /^[a-zA-Z\s]*$/,
            email: /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/,
            phone: /^\d{10}$/
        };

        const messages = {
            name: 'Enter First Name',
            last: 'Enter Last Name',
            email: 'Enter valid email.',
            phone: 'Enter valid phone number.',
            duplicate: 'Duplicate names are not allowed.'
        };

        if (value === "") {
            showErrorVal(element, messages[validateType]);
            return false;
        } else {
            removeErrorVal(element);
        }
        if (validateType === 'name' || validateType === 'last') {
            element.value = value.replace(/[^A-Za-z.]/g, '');
        }

        if (!validators[validateType].test(value)) {
            showErrorVal(element, messages[validateType]);
        } else {
            removeErrorVal(element);
        }

        if (validateType === 'name') {
            const allNames = document.querySelectorAll(`[data-validate="${validateType}"]`);
            const duplicate = Array.from(allNames).filter((el) => el.value.trim() === value && el !== element);
            if (duplicate.length > 0) {
                showErrorVal(element, messages['duplicate']);
                return false;
            } else {
                removeErrorVal(element);
            }
        }
    }
    function showErrorVal(element, message) {
        const parentElement = element.closest('.col-md-3, .col-md-2');
        let errorMessage = parentElement.querySelector('.error-message-val');

        if (!errorMessage) {
            errorMessage = document.createElement('p');
            errorMessage.className = 'error-message-val';
            parentElement.appendChild(errorMessage);
        }

        errorMessage.textContent = message;
        errorMessage.style.display = 'block';
        element.classList.add('error-input');
        if (element.offsetParent !== null) {
            element.focus();
            return false;
        }
    }
    function removeErrorVal(element) {
        const parentElement = element.closest('.col-md-3, .col-md-2');
        const errorMessage = parentElement.querySelector('.error-message-val');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
        element.classList.remove('error-input');
    }

    var buttonLead = document.getElementById('checkboxLead');
    buttonLead.addEventListener('click', function (e) {
        e.preventDefault();
        buttonLead.checked = !buttonLead.checked;
        if (buttonLead.checked) {
            buttonLead.classList.add('checked');
        } else {
            buttonLead.classList.remove('checked');
        }
        if (buttonLead.checked) {
            alert("Checked!!")
            var emaiLeadPass = document.querySelector('.contactemail').value;
            var phoneLeadPass = document.querySelector('.contactphone').value;
            //Get all elements with class "contactemail" and set their value
            var emailInputsT = document.querySelectorAll(".contactemail");
            emailInputsT.forEach(function (input) {
                input.value = emaiLeadPass;
            });

            // Get all elements with class "contactphone" and set their value
            var phoneInputsT = document.querySelectorAll(".contactphone");
            phoneInputsT.forEach(function (input) {
                input.value = phoneLeadPass;
            });
        } else {
            alert("Checkbox is unchecked");

            var emaiLeadPass = "";
            var phoneLeadPass = "";
            var emailInputsT = document.querySelectorAll(".contactemail");
            emailInputsT.forEach(function (input) {
                input.value = emaiLeadPass;
            });
            var phoneInputsT = document.querySelectorAll(".contactphone");
            phoneInputsT.forEach(function (input) {
                input.value = phoneLeadPass;
            });

            var emaiLeadPassenger = localStorage.getItem('Leadpassenger3');
            var phoneLeadPassenger = localStorage.getItem('Leadpassenger4');
            document.querySelector("#contactemailID").value = emaiLeadPassenger;
            document.querySelector("#contactphoneID").value = phoneLeadPassenger;

        }
    });

    var buttonLead = document.getElementById('checkboxLead');
    document.addEventListener('DOMContentLoaded', function (event) {
        event.preventDefault();
        const infantContainers = document.querySelectorAll('.infant-dob-input');
        function populateDayOptions(container) {
            const daySelect = container.querySelector('.day-select');
            for (let i = 1; i <= 31; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.textContent = i;
                daySelect.appendChild(option);
            }
        }

        // Function to populate year options for a given container
        function populateYearOptions(container) {
            const yearSelect = container.querySelector('.year-select');
            const currentYear = new Date().getFullYear();
            const maxInfantAge = 2;
            for (let i = currentYear; i >= currentYear - maxInfantAge; i--) {
                const option = document.createElement('option');
                option.value = i;
                option.textContent = i;
                yearSelect.appendChild(option);
            }
        }

        infantContainers.forEach(function (container) {
            populateDayOptions(container);
            populateYearOptions(container);
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        function showForm() {
            $('#passengerForm').show();
        }
        $("#editData").click(function () {
            $("#dataPopup").hide();
        });
        $("#showReviewPopup").click(function (e) {
            e.preventDefault();
            debugger;
            /*******Validation Start*********/
            const fieldsToValidate = [
                { className: 'contactFname', errorMessage: 'First name is required ' },
                { className: 'contactLname', errorMessage: 'Last  name is required' },
                { className: 'contactemail', errorMessage: 'Email  name is required' },
                { className: 'contactphone', errorMessage: 'Phone number is required' }
            ];
            let firstInvalidElement = null;
            fieldsToValidate.forEach(field => {
                const elements = document.querySelectorAll(`.${field.className}`);
                elements.forEach(element => {
                    element.addEventListener("input", function () {
                        removeError(element);
                    });
                    if (element.value.trim() === "") {
                        showError(element, field.errorMessage);
                        if (!firstInvalidElement) {
                            firstInvalidElement = element;
                        }
                    }
                });
            });
            if (firstInvalidElement) {
                firstInvalidElement.focus();
                return false;
            } else {
                // document.getElementById('passengerForm').submit();
            }
            function removeError(element) {
                const parentElement = element.closest('.col-md-3,.col-md-2');
                const errorMessage = parentElement.querySelector(".error-message");
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
                element.classList.remove("error-input");
            }
            function showError(element, message) {
                const parentElement = element.closest('.col-md-3 ,.col-md-2');
                let errorMessage = parentElement.querySelector(".error-message");

                if (!errorMessage) {
                    errorMessage = document.createElement("p");
                    errorMessage.className = "error-message";
                    parentElement.appendChild(errorMessage);
                }

                errorMessage.textContent = message;
                errorMessage.style.display = 'block';
                element.classList.add("error-input");
            }

            // function removeError(element) {

            //     const errorMessage = element.parentNode.querySelector(".error-message");
            //     if (errorMessage) {
            //         errorMessage.style.display = 'none';
            //     }
            //     element.classList.remove("error-input");
            // }
            // function showError(element, message) {

            //     const errorMessageval = element.parentNode.querySelector('.error-message-val');
            //     if (errorMessageval) {
            //         errorMessageval.style.display = "none";
            //     }

            //     let errorMessage = element.parentNode.querySelector(".error-message");
            //     if (!errorMessage) {
            //         errorMessage = document.createElement("p");
            //         errorMessage.className = "error-message";
            //         element.parentNode.appendChild(errorMessage);
            //     }

            //     errorMessage.textContent = message;
            //     errorMessage.style.display = 'block';
            //     element.classList.add("error-input");
            // }



            // Infant Date
            if (!validateMultipleInfantDOBs()) {
                return false;
            }
            function validateInfantDOB(dob) {
                if (!dob) {
                    return false;
                }
                var dobDate = new Date(dob);
                var currentDate = new Date();

                if (isNaN(dobDate.getTime())) {
                    return false;
                }
                var ageDiff = currentDate.getFullYear() - dobDate.getFullYear();
                var monthDiff = currentDate.getMonth() - dobDate.getMonth();
                var dayDiff = currentDate.getDate() - dobDate.getDate();
                if (ageDiff > 2) {
                    return false;
                }
                if (ageDiff === 2) {
                    if (monthDiff > 0 || (monthDiff === 0 && dayDiff >= 0)) {
                        return false;
                    }
                }
                return true;
            }
            function validateMultipleInfantDOBs() {
                var infantsValid = true;
                debugger;
                $(".dobinput:visible").each(function () {
                    debugger;
                    var day = $(this).find('.day-select').val();
                    var month = $(this).find('.month-select').val();
                    var year = $(this).find('.year-select').val();
                    var dob = year + "-" + month + "-" + day;
                    var validationMessageReq = $(this).closest('.infant-dob-input').find('.validation-message-Required');
                    if (!day || !month || !year) {
                        debugger;
                        validationMessageReq.text(" date fields are required.");
                        validationMessageReq.show();
                        infantsValid = false;
                    } else if (!validateInfantDOB(dob)) {
                        debugger;
                        validationMessageReq.text("Infant age cannot be greater than 2 years..");
                        validationMessageReq.show();
                        infantsValid = false;
                    } else {
                        validationMessageReq.hide();
                    }
                });
                return infantsValid;
            }
            /*******Validation End*********/

            var enteredData = "";
            for (var i = 0; i < @Model.passeengerlist.passengers.Count; i++) {
                var firstName = $("input[name='passengerdetails[" + i + "].First']").val();
                var lastName = $("input[name='passengerdetails[" + i + "].Last']").val();
                var title = $("select[name='passengerdetails[" + i + "].Title']").val();
                var Passengertypecode = $("input[name='passengerdetails[" + i + "].passengertypecode']").val();
                if (Passengertypecode == "ADT") { Passengertypecode = "Adult"; }
                if (Passengertypecode == "CHD") { Passengertypecode = "Child"; }
                enteredData += "<p><strong>Passenger " + (i + 1) + ": (" + Passengertypecode + ")</strong><br>";
                enteredData += "Title: " + title + "<br>";
                enteredData += "First Name: " + firstName + "<br>";
                enteredData += "Last Name: " + lastName + "</p>";
            }
            // Display the entered data in the popup
            $("#enteredData").html(enteredData);
            // Show the popup
            $('#dataPopup').modal('show');
            // Hide the form
            //$('#passengerForm').hide();
        });
        $("#ContinueData").click(function () {
            $('#passengers_id').hide(); //Contact Details Div Hide
            //*************Validation effect Start**********
            var contentToDisplay = document.getElementById("content");
            contentToDisplay.style.display = "none";
            var content2To = document.getElementById("content2");
            content2To.style.display = "none";
            // var toggleButton3To = document.getElementById("toggleButton3");
            // toggleButton3To.style.opacity = "1.0";
            // var content3To = document.getElementById("content3");
            // content3To.style.display = "block";
            var toggleButton4To = document.getElementById("toggleButton4");
            toggleButton4To.style.opacity = "1.0";
            var GSTcontent5To = document.getElementById("content4");
            GSTcontent5To.style.display = "block";

            var GSTContinuebtn1 = document.querySelector("#Continuebtn");
            GSTContinuebtn1.disabled = false;
            GSTContinuebtn1.style.opacity = "1.0";

            var formData = new FormData($("#passengerForm")[0]);
            $.ajax({
                url: "/IndigoTripsell/IndigoTravllerDetails",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    //alert(result);
                    $('#IndigoPartialView').html(result);
                    // Handle the response from the server if needed
                },
                error: function (error) {
                    // Handle any errors here
                }
            });
        });


    });

</script>

<div class="modal fade" id="dataPopup" tabindex="-1" role="dialog" aria-labelledby="dataPopupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content pb-3">
            <div class="modal-header">
                <h5 class="modal-title" id="dataPopupLabel">Please review your details to ensure accuracy.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="enteredData">
                <!-- Display the entered data here -->

            </div>
            <div class="d-flex justify-content-end">
                <div class="editbtn me-3">
                    <button type="button" data-dismiss="modal" class="btn btn-primary w-20" id="editData">Edit</button>
                </div>
                <div class="countibtn me-3">
                    <button type="button" data-dismiss="modal" class="btn btn-primary w-20" id="ContinueData">Continue</button>
                </div>
            </div>

        </div>
    </div>
</div>


<style>
    .error-message {
        color: red;
        font-size: 12px;
        margin: 5px 0 0 0;
        display: none;
    }

    .error-message-val {
        color: red;
        font-size: 12px;
        margin: 5px 0 0 0;
        display: none;
    }

    .error-input {
        border: 1px solid red;
    }

    .checkbox-button {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0;
        cursor: pointer;
    }


        .checkbox-button.checked::after {
            content: '\2713';
            font-size: 16px;
            color: #333;
            display: block;
            text-align: center;
            line-height: 20px;
        }

</style>
<script type="text/javascript">

    //Lead Passeneger Check Box function
    var button = document.getElementById('leadpassengerButton');


    button.addEventListener('click', function (e) {
        e.preventDefault();

        button.checked = !button.checked;


        if (button.checked) {
            button.classList.add('checked');
        } else {
            button.classList.remove('checked');
        }


        if (button.checked) {
            // alert("Checked!!")

            var firstLeadPass = document.querySelector('.firstNClass').value;
            var lastLeadPass = document.querySelector('.lastNClass').value;
            var emaiLeadPass = document.querySelector('.emailNClass').value;
            var phoneLeadPass = document.querySelector('.phoneNClass').value;
            localStorage.setItem('Leadpassenger1', firstLeadPass);
            localStorage.setItem('Leadpassenger2', lastLeadPass);
            localStorage.setItem('Leadpassenger3', emaiLeadPass);
            localStorage.setItem('Leadpassenger4', phoneLeadPass);

        } else {
            //alert("Checkbox is unchecked");
            var firstLeadPass = "";
            var lastLeadPass = "";
            var emaiLeadPass = "";
            var phoneLeadPass = "";
            localStorage.setItem('Leadpassenger1', firstLeadPass);
            localStorage.setItem('Leadpassenger2', lastLeadPass);
            localStorage.setItem('Leadpassenger3', emaiLeadPass);
            localStorage.setItem('Leadpassenger4', phoneLeadPass);
        }
    });




    //GST Checkbox Function
    var buttongst = document.getElementById('GSTButton');


    buttongst.addEventListener('click', function (e) {
        e.preventDefault();

        buttongst.checked = !buttongst.checked;


        if (buttongst.checked) {

            buttongst.classList.add('checked');

        } else {
            buttongst.classList.remove('checked');
        }


        if (buttongst.checked) {
            //alert("Checked!!")
            $(".hid-block").show();


        } else {
            //alert("Checkbox is unchecked");
            $(".hid-block").hide();
        }
    });




    //****************GST END*************************** */





    $(document).ready(function () {
        $(".pagelaodSg").click(function (e) {
            e.preventDefault();

            //alert("Test");
            var laedpas = localStorage.getItem('Leadpassenger1');
            document.querySelector(".contactFname").value = laedpas;
            var laedpasLast = localStorage.getItem('Leadpassenger2');
            document.querySelector(".contactLname").value = laedpasLast;

            var laedpasemail = localStorage.getItem('Leadpassenger3');
            document.querySelector(".contactemail").value = laedpasemail;
            //document.querySelectorAll(".contactemail").value = laedpasemail;
            var laedpasphone = localStorage.getItem('Leadpassenger4');
            document.querySelector(".contactphone").value = laedpasphone;

            //document.querySelectorAll(".contactphone").value = laedpasphone;
            // Get all elements with class "contactemail" and set their value
            // var emailInputs = document.querySelectorAll(".contactemail");
            // emailInputs.forEach(function (input) {
            //     input.value = laedpasemail;
            // });

            // Get all elements with class "contactphone" and set their value
            // var phoneInputs = document.querySelectorAll(".contactphone");
            // phoneInputs.forEach(function (input) {
            //     input.value = laedpasphone;
            // });



            var firstfocus = document.getElementById("first").value;
            if (firstfocus == "") {
                //alert("Enter Origin Name");
                var firstToDisplay = document.getElementById("error-message1");
                firstToDisplay.style.display = "block";
                document.getElementById("first").focus();
                return false;
            }
            else {
                var firstToDisplay = document.getElementById("error-message1");
                firstToDisplay.style.display = "none";
            }


            var lastfocus = document.getElementById("last").value;
            if (lastfocus == "") {
                //alert("Enter Origin Name");
                var firstToDisplay = document.getElementById("error-message2");
                firstToDisplay.style.display = "block";
                document.getElementById("last").focus();
                return false;
            }
            else {
                var firstToDisplay = document.getElementById("error-message2");
                firstToDisplay.style.display = "none";
            }


            let emailfocus = document.getElementById("emailAddress").value;

            if (emailfocus == "") {
                //alert("Enter Origin Name");
                let emailToDisplay = document.getElementById("error-message7");
                emailToDisplay.style.display = "block";
                document.getElementById("emailAddress").focus();
                return false;
            }
            else {
                let emailToDisplay = document.getElementById("error-message7");
                emailToDisplay.style.display = "none";
            }

            let phonefocus = document.getElementById("number").value;
            if (phonefocus == "") {

                let phoneToDisplay = document.getElementById("error-message8");
                phoneToDisplay.textContent = "Please enter your phone number";
                phoneToDisplay.style.display = "block";
                document.getElementById("number").focus();
                return false;
            }
            var mobileNumberPattern = /^\d{10}$/; // Assumes a 10-digit number

            if (!mobileNumberPattern.test(phonefocus)) {
                alert("Please enter a valid 10-digit mobile number.");
                return false;
            }





            var contactFormData = new FormData($("#contactFormSG")[0]);
            //alert("form data:"+ contactFormData);
            $.ajax({
                url: "/IndigoTripsell/IndigoContactDetails",
                type: "POST",
                data: contactFormData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // Handle the response from the server if needed
                    var contentToDisplay = document.getElementById("content");
                    contentToDisplay.style.display = "none";
                    var content2ToDisplay = document.getElementById("content2");
                    content2ToDisplay.style.display = "block";

                    var toggleButton2 = document.getElementById("toggleButton2");
                    //toggleButton2.disabled = false;
                    toggleButton2.style.opacity = "1.0";

                },
                error: function (error) {
                    // Handle any errors here
                }
            });
            //return true;



        });



    });


    function validateInput(event) {
        const input = event.target.value;
        const regex = /^[a-zA-Z]*$/; // Regular expression to match alphabetic characters only

        if (!regex.test(input)) {
            document.getElementById('errorMessage').innerText = "";
            event.target.value = input.replace(/[^a-zA-Z]/g, ''); // Remove non-alphabetic characters
        } else {
            document.getElementById('errorMessage').innerText = "";
        }

        var firstfocus = document.getElementById("first").value;
        if (firstfocus == "") {
            //alert("Enter Origin Name");
            var firstToDisplay = document.getElementById("error-message1");
            firstToDisplay.style.display = "block";
            document.getElementById("first").focus();
            return false;
        }
        else {
            var firstToDisplay = document.getElementById("error-message1");
            firstToDisplay.style.display = "none";
        }
    }
    function validateInput2(event) {
        const input = event.target.value;
        const regex = /^[a-zA-Z]*$/; // Regular expression to match alphabetic characters only

        if (!regex.test(input)) {
            document.getElementById('errorMessage2').innerText = "";
            event.target.value = input.replace(/[^a-zA-Z]/g, ''); // Remove non-alphabetic characters
        } else {
            document.getElementById('errorMessage2').innerText = "";
        }
        var lastfocus = document.getElementById("last").value;
        if (lastfocus == "") {
            //alert("Enter Origin Name");
            var firstToDisplay = document.getElementById("error-message2");
            firstToDisplay.style.display = "block";
            document.getElementById("last").focus();
            return false;
        }
        else {
            var firstToDisplay = document.getElementById("error-message2");
            firstToDisplay.style.display = "none";
        }


    }

    function validateEmail(event) {
        const email = event.target.value;
        //const regex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/; // Regular expression for basic email validation
        const regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/; // Regular expression for basic email validation

        if (!regex.test(email)) {
            document.getElementById('emailErrorMessage').innerText = "valid email";
        } else {
            document.getElementById('emailErrorMessage').innerText = "";
        }

        let emailfocus = document.getElementById("emailAddress").value;

        if (emailfocus == "") {
            //alert("Enter Origin Name");
            let emailToDisplay = document.getElementById("error-message7");
            emailToDisplay.style.display = "block";
            document.getElementById("emailAddress").focus();
            return false;
        }
        else {
            let emailToDisplay = document.getElementById("error-message7");
            emailToDisplay.style.display = "none";
        }


    }

    function validatePhoneNumber(event) {
        const phoneNumber = event.target.value;
        const regex = /^\d{10}$/; // Regular expression for 10-digit phone number validation

        if (!regex.test(phoneNumber)) {
            document.getElementById('phoneNumberErrorMessage').innerText = "valid number";
        } else {
            document.getElementById('phoneNumberErrorMessage').innerText = "";
        }
        let phonefocus = document.getElementById("number").value;
        if (phonefocus == "") {

            let phoneToDisplay = document.getElementById("error-message8");
            phoneToDisplay.style.display = "block";
            document.getElementById("number").focus();
            return false;
        }
        else {
            let phoneToDisplay = document.getElementById("error-message8");
            phoneToDisplay.style.display = "none";
        }
    }

    function validateInputgst(event) {
        const input = event.target.value;
        const regex = /^[a-zA-Z]*$/; // Regular expression to match alphabetic characters only

        if (!regex.test(input)) {
            document.getElementById('errorMessagegst').innerText = "";
            event.target.value = input.replace(/[^a-zA-Z]/g, ''); // Remove non-alphabetic characters
        } else {
            document.getElementById('errorMessagegst').innerText = "";
        }
    }

    function validateGST(event) {
        const gstNumber = event.target.value.toUpperCase(); // Convert to uppercase for consistency
        //const regex = /^[0-9A-Z]{15}$/; // Regular expression for 15-character GST number validation
        const regex = /^([0-9]){2}([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}([0-9]){1}([a-zA-Z]){1}([0-9]){1}?$/; // Regular expression for 15-character GST number validation

        if (gstNumber.trim() === "") {
            document.getElementById('gstErrorMessage').innerText = "Enter a GST number.";
        } else if (!regex.test(gstNumber)) {
            document.getElementById('gstErrorMessage').innerText = "Enter a valid 15-character GST number.";
        } else {
            document.getElementById('gstErrorMessage').innerText = "";
        }

        let gstnamefocus = document.getElementById("gstname").value;

        if (gstnamefocus == "") {
            //alert("Enter Origin Name");
            let gstToDisplay = document.getElementById("error-message9");
            gstToDisplay.style.display = "block";
            document.getElementById("emailAddres9").focus();
            return false;
        }
        else {
            let gstToDisplay = document.getElementById("error-message9");
            gstToDisplay.style.display = "none";
        }
    }
</script>

