@model DomainLayer.ViewModel.ViewModel
@using System.Collections;
@{
    Layout = null;

}
<script src="~/js/custom.js/SGCustom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
@* <script>
    $(document).ready(function () {
        debugger;
        $('input[type="checkbox"]').on('change', function () {
            var selectedIds = [];
            debugger;
            $('input[type="checkbox"]:checked').each(function () {

                //selectedIds.push($(this).attr('id'));
                selectedIds.push($(this).val());

            });

            localStorage.setItem('selectedIds', selectedIds);

            var input = document.getElementsByName("unitKey");
            var total = 0;
            for (var i = 0; i < input.length; i++) {
                if (input[i].checked) {
                    total += parseInt(input[i].value);
                }
            }
            document.getElementById("total").value = total.toFixed(2);
            var one = document.getElementById("Totalamount").value;
            var two = document.getElementById("total").value;
            //SSRMeal();

        });
    });
</script> *@

<script>

    $(document).ready(function () {

        $("#exampleModalSeat").click(function (e) {

            e.preventDefault();
            $.ajax({
                url: '@Url.Action("PostSeatMapModaldataView", "SGTripsell")',
                type: "GET",
                success: function (data) {
                    //console.log('POST request successful');
                    $('#sgexampleModal .modal-bodyy').html(data);
                    $('#sgexampleModal').modal('show');

                },
                error: function (error) {
                    console.log("Error fetching data:", error);
                }
            });
        });

    });

</script>
<style>
    .chkbox {
        background: #b1abab;
        text-align: center;
        cursor: not-allowed;
        padding: 3px 0;
    }


    .border-service {
        border: 1px solid #a5a2a2;
        border-radius: 2px;
    }

    .bg-servc {
        background-color: #f4f5f7;
    }

    .servc-bordr {
        border-bottom: 1px solid #000;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .servc-bordr, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        /*  -webkit-appearance: none; */
        margin: 0;
    }

    .servc-bordr, textarea:focus, input:focus {
        outline: none;
    }

    .seatmap-btn {
        border: none;
        padding: 4px 7px;
        border-radius: 4px;
        background: #b5cbe7;
    }

    .select-width{
        max-width:120px;
    }
</style>

<div class="flight-box-content rounded-4">
    <div class="tabs -pills-3 js-tabs">
        <div class="tabs__controls row x-gap-10 y-gap-10 js-tabs-controls bdr-btm">
            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10  js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">Select Seat</div>
            </div>

            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10  js-tabs-button " data-tab-target=".-tab-item-2">Add Meals</div>

            </div>

            <div class="col-auto">
                <div class="tabs__button text-14 fw-600 px-20 py-10 js-tabs-button " data-tab-target=".-tab-item-3">Add Baggage</div>
            </div>
        </div>

        <div class="tabs__content pt-0 js-tabs-content">
            <div class="tabs__pane -tab-item-1 is-tab-el-active">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">
                        @{
                            int passengerdata = @Model.passeengerlist.passengerscount;

                        }
                        @{
                            int passengerdataValue = 0;
                            for (int i = 0; i < @Model.passeengerlist.passengers.Count; i++)
                            {
                                if (Model.passeengerlist.passengers[i].passengerTypeCode == "ADT" || Model.passeengerlist.passengers[i].passengerTypeCode == "CHD")
                                {
                                    passengerdataValue = passengerdataValue + 1;
                                }
                            }
                            passengerdata = passengerdataValue;
                            for (int pas = 0; pas < passengerdata; pas++)
                            {
                                <input type="hidden" value="@passengerdata" id="passengercountid">
                            }

                            var seatmaap2 = @Model.passeengerlist.journeys[0].segments.Count;
                            if (seatmaap2 == 1)
                            {
                                <li class="nav-item">
                                    <button class="nav-link active">@Model.passeengerlist.journeys[0].segments[0].designator.origin-@Model.passeengerlist.journeys[0].segments[0].designator.destination</button>
                                </li>
                            }
                            else
                            {
                                @for (int i = 0; i < seatmaap2; i++)
                                {
                                    <li class="nav-item d-flex">
                                        @if (i == 0)
                                        {
                                            <div id="seattab1" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>

                                        }
                                        else
                                        {
                                            <div id="seattab2" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>
                                        }
                                    </li>


                                }
                            }
                        }

                        @*  <li class="nav-item" role="presentation">
                        <button class="nav-link">Return:BOM-DEL</button>
                        </li> *@
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <section class="container">
                            <div class="row border-service">

                                <div class="d-flex justify-content-between bg-servc py-2">
                                    <div class="serv-header">
                                        <span><img src="~/img/why-book-icon1.png" /></span> Traveller
                                    </div>
                                    <div class="serv-header">
                                        <span><img src="~/img/images/pmeal.png"></span> Meal
                                    </div>
                                    <div class="serv-header">
                                        <span><img src="~/img/images/pseat.png"></span> Seat
                                    </div>
                                    <div class="serv-header">
                                        <span><img src="~/img/images/pbaggage.png"></span> Baggage
                                    </div>
                                    <div class="serv-header">
                                        <span><img src="~/img/why-book-icon1.png" /></span>  Special Request
                                    </div>
                                </div>
                                @{
                                    int passengerdata2 = @Model.passeengerlist.passengerscount;
                                }

                                @{
                                    int passengerdataValue2 = 0;
                                    for (int i = 0; i < @Model.passeengerlist.passengers.Count; i++)
                                    {
                                        if (Model.passeengerlist.passengers[i].passengerTypeCode == "ADT" || Model.passeengerlist.passengers[i].passengerTypeCode == "CHD")
                                        {
                                            passengerdataValue2 = passengerdataValue2 + 1;
                                        }
                                    }
                                    passengerdata2 = passengerdataValue2;


                                    for (int pas = 0; pas < passengerdata2; pas++)
                                    {
                                        <div class="d-flex justify-content-between py-3">
                                            <div class="servc-content">
                                                Travellor @pas
                                            </div>
                                            <div class="servc-content">
                                                @{
                                                    List<SelectListItem> mealOptions = new List<SelectListItem>();

                                                    for (int s = 0; s < Model.Meals.legSsrs[0].legssrs.Count; s++)
                                                    {

                                                        string queryMeal = Model.Meals.legSsrs[0].legssrs[s].ssrCode;
                                                        //var mealData = SpicejetMealImageList.GetAllmeal().SingleOrDefault(x => x.MealCode == queryMeal);

                                                        // if (mealData != null)
                                                        // {
                                                        //     // Assuming MealImageList.GetAllmeal() returns a list of objects with MealCode and MealImage properties
                                                        //     mealOptions.Add(new SelectListItem { Text = mealData.MealImage, Value = mealData.MealCode });
                                                        // }

                                                    }
                                                }

                                                <select id="mealid" class="servc-bordr select-width" asp-items="@mealOptions"></select>

                                            </div>
                                            <div class="servc-content">
                                                <input type="button" id="exampleModalSeat" value="Seat Map" class="button small-btn rtbtn" data-toggle="modal" data-target="#sgexampleModal">

                                            </div>
                                            <div class="servc-content">
                                                <select class="servc-bordr">
                                                    <option></option>
                                                    <option>Meal1</option>
                                                    <option>Meal2</option>
                                                    <option>Meal3</option>
                                                    <option>Meal4</option>
                                                </select>
                                            </div>
                                            <div class="servc-content">
                                                <select class="servc-bordr">
                                                    <option></option>
                                                    <option>Meal1</option>
                                                    <option>Meal2</option>
                                                    <option>Meal3</option>
                                                    <option>Meal4</option>
                                                </select>
                                            </div>
                                        </div>

                                    }
                                }
                                    
                              
                               


                                <div class="col-lg-12">


                                    <!-- Modal -->
                                    <div class="modal fade" id="sgexampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content model-wd80">
                                                <div class="modal-mfareheader d-flex justify-between">
                                                    <h2 class="text-22 fw-600">Seat Details</h2>
                                                    <button type="button" class="btnclose" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" style="font-size: 21px;">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-bodyy mbody-padding">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btnclose btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>



            <div class="tabs__pane -tab-item-2">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">

                            @for (int i = 0; i < seatmaap2; i++)
                            {
                            <li class="nav-item d-flex">
                                    @if (i == 0)
                                    {
                                    <div id="seattab3" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>

                                    }
                                    else
                                    {
                                    <div id="seattab4" class="nav-link">@Model.passeengerlist.journeys[0].segments[i].designator.origin-@Model.passeengerlist.journeys[0].segments[i].designator.destination</div>
                                    }
                            </li>


                            }

                            @*<button class="nav-link active">Departure:DEL-BOM</button>*@

                            @* <li class="nav-item" role="presentation">
                        <button class="nav-link">Return:BOM-DEL</button>
                        </li> *@
                    </ul>
                </div>
                <div class="flight-protip" style="margin-bottom:0;">Pre-booked meal is up to 25% cheaper than on-board price.</div>
                <div>
                    <div class="d-flex x-gap-15 mt-25 items-end justify-end">
                        <div class="d-flex x-gap-15 items-end mt-10 mb-10">
                            <div class="col-auto">
                                <button class="d-flex items-end text-18 arrow-left-hover js-tour-prev-one">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="d-flex items-end text-15 arrow-right-hover js-tour-next-one">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <partial name="_IndigoAddCartlPatialView.cshtml" />
                </div>
            </div>

            <div class="tabs__pane -tab-item-3">
                <div class="journey-box">
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">
                            <button class="nav-link active">Departure:DEL-BOM</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link">Return:BOM-DEL</button>
                        </li>
                    </ul>
                </div>
                <div class="flight-protip" style="margin-bottom:0;">Pre-booked baggage is up to 25% cheaper than on-board price.</div>
                <div>
                    <div class="d-flex x-gap-15 mt-25 items-end justify-end">
                        <div class="d-flex x-gap-15 items-end mt-10 mb-10">
                            <div class="col-auto">
                                <button class="d-flex items-end text-18 arrow-left-hover js-tour-prev">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="d-flex items-end text-15 arrow-right-hover js-tour-next">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="relative overflow-hidden js-section-slider pt-10 sm:pt-20" data-gap="30" data-scrollbar data-slider-cols="xl-5 lg-4 md-3 sm-2 base-2" data-nav-prev="js-tour-prev" data-pagination="js-tour-pag" data-nav-next="js-tour-next">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide active">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <img src="~/img/images/travel-bag.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10">Additional</h6>
                                    <h5 class="text-16 fw-700 mt-6">3 Kg</h5>
                                    <p class="text-14 fw-600 mt-2 text-center">&#8377; 1,350</p>
                                    <div class="d-flex justify-content-center">
                                        <button class="button -md -outline-blue-1 text-blue-1">Select</button>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <img src="~/img/images/travel-bag.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10">Additional</h6>
                                    <h5 class="text-16 fw-700 mt-6">5 Kg</h5>
                                    <p class="text-14 fw-600 mt-2 text-center">&#8377; 2,250</p>
                                    <div class="d-flex justify-content-center">
                                        <button class="button -md -outline-blue-1 text-blue-1">Select</button>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <img src="~/img/images/travel-bag.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10">Additional</h6>
                                    <h5 class="text-16 fw-700 mt-6">10 Kg</h5>
                                    <p class="text-14 fw-600 mt-2 text-center">&#8377; 4,500</p>
                                    <div class="d-flex justify-content-center">
                                        <button class="button -md -outline-blue-1 text-blue-1">Select</button>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <img src="~/img/images/travel-bag.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10">Additional</h6>
                                    <h5 class="text-16 fw-700 mt-6">15 Kg</h5>
                                    <p class="text-14 fw-600 mt-2 text-center">&#8377; 6,750</p>
                                    <div class="d-flex justify-content-center">
                                        <button class="button -md -outline-blue-1 text-blue-1">Select</button>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <img src="~/img/images/travel-bag.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10">Additional</h6>
                                    <h5 class="text-16 fw-700 mt-6">25 Kg</h5>
                                    <p class="text-14 fw-600 mt-2 text-center">&#8377; 11,250</p>
                                    <div class="d-flex justify-content-center">
                                        <button class="button -md -outline-blue-1 text-blue-1">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tabs__pane -tab-item-4">
                <div class="journey-box">
                    <ul class="nav nav-pills">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active">Return:BOM-DEL</button>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="d-flex x-gap-15 mt-25 items-end justify-end">
                        <div class="d-flex x-gap-15 items-end mt-10 mb-10">
                            <div class="col-auto">
                                <button class="d-flex items-end text-18 arrow-left-hover js-tour-prev-two">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="d-flex items-end text-15 arrow-right-hover js-tour-next-two">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="relative overflow-hidden js-section-slider pt-10 sm:pt-20" data-gap="30" data-scrollbar data-slider-cols="xl-5 lg-4 md-3 sm-2 base-2" data-nav-prev="js-tour-prev-two" data-pagination="js-tour-pag" data-nav-next="js-tour-next-two">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <img src="~/img/images/check-bag-icon.png" title="image" alt="image">
                                    <h6 class="text-14 fw-700 mt-10">Fast forward</h6>
                                    <h5 class="text-12 fw-600 pt-1">Check-in first and get your bag(s) before anyone else</h5>
                                    <p class="text-14 fw-600 mt-2 text-center">&#8377; 530</p>
                                    <div class="d-flex justify-content-center">
                                        <button class="button -md -outline-blue-1 text-blue-1">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/js/custom.js/customnew.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

@* <script>

    $(document).ready(function () {

        var count = $("#passengercountid").val();
        $('.mycheck').on('change', function () {
            if ($('.mycheck:checked').length > count) {
                alert('You can only ' + count + ' select checkboxes.');
                this.checked = false;
            }
        });

        $('.mycheck2').on('change', function () {
            if ($('.mycheck2:checked').length > count) {
                alert('You can only ' + count + ' select checkboxes.');
                this.checked = false;
            }
        });
        // Function for handling seat checkboxes
        $('input[name="unitKey"]').on('change', function () {
            var selectedIds = [];
            debugger;
            $('input[name="unitKey"]:checked').each(function () {
                selectedIds.push($(this).val());
            });
            var total = 0;
            $('input[name="unitKey"]:checked').each(function () {
                total += parseInt($(this).val());
            });
            document.getElementById("total").value = total.toFixed(2);
            const seatmap1 = document.getElementById("total").value;

            var TotalAmmount = document.getElementById("Totalamount").value;
            localStorage.setItem('seatPayment', seatmap1);
            localStorage.setItem('basePayment', TotalAmmount);

            var Totalseat1 = parseInt(TotalAmmount) + parseInt(seatmap1);
            if (seatmap1 != null) {
                document.getElementById("seattotal1").innerHTML = Totalseat1;
            }
            var TotalSeatPay = parseInt(TotalAmmount) + parseInt(seatmap1) + 100;
            if (TotalSeatPay != null) {
                document.getElementById("TotalSeatPayID").innerHTML = TotalSeatPay;
            }

            localStorage.setItem("selectedIds", JSON.stringify(selectedIds));
        });

        var count = $("#passengercountid").val();
        $('.ssrKeyBaggage').on('change', function () {
            if ($('.ssrKeyBaggage:checked').length > count) {
                alert('You can only ' + count + ' select checkboxes.');
                this.checked = false;
            }
        });
        // Function for handling baggage checkboxes
        $('input[name="ssrKey"]').on('change', function () {
            var BaggageIds = [];
            debugger;
            $('input[name="ssrKey"]:checked').each(function () {
                BaggageIds.push($(this).val());
            });

            localStorage.setItem("BaggageIds", JSON.stringify(BaggageIds));
        });

        $("#Continuebtn").click(function () {

            var unitKey = JSON.parse(localStorage.getItem("selectedIds"));
            var ssrKey = JSON.parse(localStorage.getItem("MealssrKeyCount"));
            var BaggageSSrkey = JSON.parse(localStorage.getItem("BaggageIds"));
            $.ajax({
                url: "/SGTripsell/PostUnitkey",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { unitKey: unitKey, ssrKey: ssrKey, BaggageSSrkey: BaggageSSrkey },
                success: function (data) {
                    window.location.href = '/AirAsiaOneWayPayment/AirAsiaOneWayPaymentView';
                },
                error: function (err) {
                    console.error(err);
                }
            });
        });
        $("#exampleModalSeat").click(function (e) {
            e.preventDefault();
            alert("Pop Up Test");
            $.ajax({
                url: '@Url.Action("PostSeatMapModaldataView", "SGTripsell")',
                type: "GET",
                success: function (data) {
                    console.log('POST request successful');
                    $('#sgexampleModal .modal-bodyy').html(data);
                    $('#sgexampleModal').modal('show');

                },
                error: function (error) {
                    console.log("Error fetching data:", error);
                }
            });
        });



    });

</script> *@


<script type="text/javascript">
    /*********seatmap_tab_select_function_ServiceRequest_PartialView_Page***********/
    $(document).ready(function () {
        $("#seattab1").addClass('active');
        $("#tabshow2").hide();
        $("#seattab1").click(function () {
            $("#tabshow1").show();
            $("#tabshow2").hide();
            $("#seattab1").addClass('active');
            $("#seattab2").removeClass('active');

        });

        $("#seattab2").click(function () {
            $("#tabshow2").css("display", "block");
            $("#seattab2").addClass('active');
            $("#seattab1").removeClass('active');
            $("#tabshow1").hide();
        });
    });
</script>