@model DomainLayer.ViewModel.ViewModel
@using System.Collections;
@{


}

<script src="~/js/custom.js/SGCustom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<script>

    $(document).ready(function () {

        var count = $("#passengercountid").val();
        $('.mycheck').on('change', function () {
            if ($('.mycheck:checked').length > count) {
                alert('You can only ' + count + ' select checkboxes.');
                this.checked = false;
            }
        });

        $('.mycheck2').on('change', function () {
            if ($('.mycheck2:checked').length > count) {
                alert('You can only ' + count + ' select checkboxes.');
                this.checked = false;
            }
        });
        var checkedValues = ['', '', '', ''];
        $('.mycheck').change(function () {
            if ($(this).is(':checked')) {
                for (var i = 0; i < 4; i++) {
                    if (checkedValues[i] === '') {
                        checkedValues[i] = $(this).val();
                        break;
                    }
                }
            } else {
                var index = checkedValues.indexOf($(this).val());
                console.log(index)
                if (index !== -1) {
                    checkedValues[index] = '';
                }
            }
            $('#input_0').val(checkedValues[0]);
            $('#input_1').val(checkedValues[1]);
            $('#input_2').val(checkedValues[2]);
            $('#input_3').val(checkedValues[3]);
        });
        // Function for handling seat checkboxes
        $('input[name="unitKey"]').on('change', function () {
            var selectedIds = [];
            debugger;
            $('input[name="unitKey"]:checked').each(function () {
                selectedIds.push($(this).val());
            });
            var total = 0;
            $('input[name="unitKey"]:checked').each(function () {
                total += parseInt($(this).val());
            });
            document.getElementById("total").value = total.toFixed(2);
            const seatmap1 = document.getElementById("total").value;

            var TotalAmmount = document.getElementById("Totalamount").value;
            localStorage.setItem('seatPayment', seatmap1);
            localStorage.setItem('basePayment', TotalAmmount);

            var Totalseat1 = parseInt(TotalAmmount) + parseInt(seatmap1);
            if (seatmap1 != null) {
                document.getElementById("seattotal1").innerHTML = Totalseat1;
            }
            var TotalSeatPay = parseInt(TotalAmmount) + parseInt(seatmap1) + 100;
            if (TotalSeatPay != null) {
                document.getElementById("TotalSeatPayID").innerHTML = TotalSeatPay;
            }

            localStorage.setItem("selectedIds", JSON.stringify(selectedIds));
        });

        var count = $("#passengercountid").val();
        $('.ssrKeyBaggage').on('change', function () {
            if ($('.ssrKeyBaggage:checked').length > count) {
                alert('You can only ' + count + ' select checkboxes.');
                this.checked = false;
            }
        });
        // Function for handling baggage checkboxes
        $('input[name="ssrKey"]').on('change', function () {
            var BaggageIds = [];
            debugger;
            $('input[name="ssrKey"]:checked').each(function () {
                BaggageIds.push($(this).val());
            });

            localStorage.setItem("BaggageIds", JSON.stringify(BaggageIds));
        });

        $("#Continuebtn").click(function () {

            var unitKey = JSON.parse(localStorage.getItem("selectedIds"));
            //var ssrKey = JSON.parse(localStorage.getItem("MealssrKeyCount"));
            //var BaggageSSrkey = JSON.parse(localStorage.getItem("BaggageIds"));
            $.ajax({
                url: "/SGTripsell/PostUnitkey",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { unitKey: unitKey/* , ssrKey: ssrKey, BaggageSSrkey: BaggageSSrkey */ },
                success: function (data) {
                    window.location.href = '/AirAsiaOneWayPayment/AirAsiaOneWayPaymentView';
                },
                error: function (err) {
                    console.error(err);
                }
            });
        });



    });

</script>

<div class="row">

    <div class="col-lg-12">
        <section class="d-flex">
            @{
                int passengerdata = @Model.passeengerlist.passengerscount;
            }

            @{
                int passengerdataValue = 0;
                for (int i = 0; i < @Model.passeengerlist.passengers.Count; i++)
                {
                    if (Model.passeengerlist.passengers[i].passengerTypeCode == "ADT" || Model.passeengerlist.passengers[i].passengerTypeCode == "CHD")
                    {
                        passengerdataValue = passengerdataValue + 1;
                    }
                }
                passengerdata = passengerdataValue;
                for (int pas = 0; pas < passengerdata; pas++)
                {
                    <div class="d-flex justify-content-between py-3">
                        <div class="servc-content">
                            <label> Passenger @pas</label>
                            <input type="text" id="input_@pas" class="textInput_@pas" readonly>
                            <span class="feeSpan_@pas"></span>
                            <div class="print">
                                <p class="text">Selected: <span class="value"></span></p>
                            </div>
                        </div>

                    </div>
                }
            }
        </section>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        @*   <div class="flight-protip">Pro Tip Grab your favourite seat before it gets sold.</div> *@
        <div class="wing-left">&nbsp;</div>

        @{
            var seatmaap = Model.passeengerlist.journeys[0].segments.Count;

            Hashtable ht0 = new Hashtable();
            Hashtable ht1 = new Hashtable();
            for (int k = 0; k < Model.Seatmaplist.datalist.Count; k++)
            {
                int count = Model.Seatmaplist.datalist[k].seatMap.decks.units.Count;
                for (int j = 0; j < count; j++)
                {
                    // if (Model.Seatmaplist.datalist[k].seatMap.decks.units[j].assignable == true)
                    // {
                    //     if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                    //         ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                    // }

                    if (k == 0)
                    {
                        if (!ht0.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                        {
                            ht0.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                        }

                    }
                    else
                    {
                        if (!ht1.Contains(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator))
                        {
                            ht1.Add(Model.Seatmaplist.datalist[k].seatMap.decks.units[j].designator, Model.Seatmaplist.datalist[k].seatMap.decks.units[j].servicechargefeeAmount);
                        }

                    }

                }
            }

            //if (seatmaap == 2)
            //{
            for (int l = 0; l < Model.Seatmaplist.datalist.Count; l++)
            {
                if (l == 0)
                {
                    <div id="tabshow1" class="seat-section">

                        <div class="inner-section">
                            <ul class="column">
                                <li class="seat-li row-no">F</li>
                                <li class="seat-li row-no">E</li>
                                <li class="seat-li row-no">D</li>
                                <li class="seat-li row-no"></li>
                                <li class="seat-li row-no">C</li>
                                <li class="seat-li row-no">B</li>
                                <li class="seat-li row-no">A</li>
                            </ul>

                            @{
                                @for (int i = 1; i <= 30; i++)
                                {

                                    <ul class="column" id="itemList">
                                        @{
                                            for (int k = 6; k >= 1; k--)
                                            {
                                                string data = string.Empty;
                                                if (k == 6) { data = i.ToString() + "F"; }
                                                else if (k == 5) { data = i.ToString() + "E"; }
                                                else if (k == 4) { data = i.ToString() + "D"; }
                                                else if (k == 3) { data = i.ToString() + "C"; }
                                                else if (k == 2) { data = i.ToString() + "B"; }
                                                else if (k == 1) { data = i.ToString() + "A"; }
                                                var designation = data;
                                                if (!ht0.Contains(data))
                                                {
                                                    <li class="seat-li chkbox">
                                                        <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                    </li>
                                                }
                                                else
                                                {
                                                    string feeamountF1 = ht0[data].ToString();
                                                    if (feeamountF1 == "0")
                                                    {
                                                        <li class="seat-li free-seat tooltip">
                                                            <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                            <input type="checkbox" class="mycheck" name="unitKey" value="@feeamountF1 _@data _@l" id="unitKey" />
                                                            <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="seat-li midcomfort tooltip">
                                                            <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                            <input type="checkbox" class="mycheck" name="unitKey" value="@feeamountF1 _@data _@l" id="unitKey" />
                                                            <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                        </li>
                                                    }
                                                }

                                                if (k == 4)
                                                {
                                                    <li class="seat-li"></li>
                                                }

                                                <li class="seat-li colNo left">@i</li>
                                            }
                                        }

                                    </ul>
                                }
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div id="tabshow2" class="seat-section">

                        <div class="inner-section">
                            <ul class="column">
                                <li class="seat-li row-no">F</li>
                                <li class="seat-li row-no">E</li>
                                <li class="seat-li row-no">D</li>
                                <li class="seat-li row-no"></li>
                                <li class="seat-li row-no">C</li>
                                <li class="seat-li row-no">B</li>
                                <li class="seat-li row-no">A</li>
                            </ul>

                            @{
                                @for (int i = 1; i <= 30; i++)
                                {

                                    <ul class="column" id="itemList">
                                        @{
                                            for (int k = 6; k >= 1; k--)
                                            {
                                                string data = string.Empty;
                                                if (k == 6) { data = i.ToString() + "F"; }
                                                else if (k == 5) { data = i.ToString() + "E"; }
                                                else if (k == 4) { data = i.ToString() + "D"; }
                                                else if (k == 3) { data = i.ToString() + "C"; }
                                                else if (k == 2) { data = i.ToString() + "B"; }
                                                else if (k == 1) { data = i.ToString() + "A"; }
                                                var designation = data;
                                                if (!ht1.Contains(data))
                                                {
                                                    <li class="seat-li chkbox">
                                                        <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
                                                    </li>
                                                }
                                                else
                                                {
                                                    string feeamountF1 = ht1[data].ToString();
                                                    if (feeamountF1 == "0")
                                                    {
                                                        <li class="seat-li free-seat tooltip">
                                                            <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                            <input type="checkbox" class="mycheck2" name="unitKey" value="@feeamountF1 _@data _@l" id="unitKey" />
                                                            <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="seat-li midcomfort tooltip">
                                                            <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                                            <input type="checkbox" class="mycheck2" name="unitKey" value="@feeamountF1 _@data _@l" id="unitKey" />
                                                            <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
                                                        </li>
                                                    }
                                                }

                                                if (k == 4)
                                                {
                                                    <li class="seat-li"></li>
                                                }

                                                <li class="seat-li colNo left">@i</li>
                                            }
                                        }

                                    </ul>
                                }
                            }
                        </div>
                    </div>
                }
            }
            //}
        }

        @*<--Tab2start----->*@

        @*@{
        // int count1 = Model.Seatmaplist.datalist[1].seatMap.decks.units.Count;
        // Hashtable ht1 = new Hashtable();
        // for (int i = 0; i < count; i++)
        // {
        // if (Model.Seatmaplist.datalist[1].seatMap.decks.units[i].assignable == true)
        // {
        // if (!ht1.Contains(Model.Seatmaplist.datalist[1].seatMap.decks.units[i].designator))
        // ht1.Add(Model.Seatmaplist.datalist[1].seatMap.decks.units[i].designator, Model.Seatmaplist.datalist[1].seatMap.decks.units[i].servicechargefeeAmount);
        // }

        // }
        // }*@
        @*<div id="tabshow2" class="seat-section">
        <div class="inner-section">
        <ul class="column">
        <li class="seat-li row-no">F</li>
        <li class="seat-li row-no">E</li>
        <li class="seat-li row-no">D</li>
        <li class="seat-li row-no"></li>
        <li class="seat-li row-no">C</li>
        <li class="seat-li row-no">B</li>
        <li class="seat-li row-no">A</li>
        </ul>
        <h6>Seat 2 Map Here</h6>

        @{
        @for (int i = 1; i <= 30; i++)
        {

        <ul class="column" id="itemList">
        @{
        for (int k = 6; k >= 1; k--)
        {
        string data = string.Empty;
        if (k == 6) { data = i.ToString() + "F"; }
        else if (k == 5) { data = i.ToString() + "E"; }
        else if (k == 4) { data = i.ToString() + "D"; }
        else if (k == 3) { data = i.ToString() + "C"; }
        else if (k == 2) { data = i.ToString() + "B"; }
        else if (k == 1) { data = i.ToString() + "A"; }
        var designation = data;
        if (!ht.Contains(data))
        {
        <li class="seat-li chkbox">
        <input type="checkbox" name="unitKey" value="" class="chkbox" disabled />
        </li>
        }
        else
        {
        string feeamountF1 = ht[data].ToString();
        if (feeamountF1 == "0")
        {
        <li class="seat-li free-seat tooltip">
        <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
        <input type="checkbox" name="unitKey" value="@feeamountF1 _@data" id="unitKey" onchange="myfun()" />
        <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
        </li>
        }
        else
        {
        <li class="seat-li midcomfort tooltip">
        <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
        <input type="checkbox" name="unitKey" value="@feeamountF1 _@data" id="unitKey" onchange="myfun()" />
        <span class="tooltiptext">@data <span>&#8377; @feeamountF1</span></span>
        </li>
        }
        }

        if (k == 4)
        {
        <li class="seat-li"></li>
        }

        <li class="seat-li colNo left">@i</li>
        }
        }

        </ul>
        }
        }



        @*--------------------
        </div>
        </div>*@



        @* ----------End--------- *@
        <div class="wing-right">&nbsp;</div>
        <div class="legendHolder-box">
            <ul>

                <li style="padding:0;"><strong>Legend:</strong></li>
                <li><span class="free"></span>Free Seats</li>
                <li><span class="midcomfort"></span>&#8377; 150 - &#8377; 350</li>
                <li><span class="comfort"></span>&#8377; 400 - &#8377; 800</li>
                <li><span class="booked"></span>Occupied</li>

            </ul>
            <p><strong>Disclaimer:</strong> Seat allotment is the sole prerogative of the airline and can't be guaranteed by Yatra.com</p>
        </div>
    </div>
</div>

