@model DomainLayer.ViewModel.ViewModel
@{
    var data = Model;

}
<!----data Bind --------->
<div class="row">
    <div class="col-lg-12">
        <div class="overlay" id="animationOverlay">
            <div class="loader"></div>
            <div class="iconanimate">
                <img id="flightImage" src="~/img/flytk.png" alt="Flight" style="display:none">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row">

            <div class="col-5">
                <div class=""><span class="rtbg">DEPART</span></div>

                <form id="reconnectingFlightOneway">

                    @for (var j = 0; j < Model.SimpleAvailibilityaAddResponcelist.Count; j++)
                    {

                        <div class="d-flex justify-between align-items-center mt-4">
                            <div class="rtptotal">
                                <div class="dst-top">@Model.SimpleAvailibilityaAddResponcelist[j].designator.origin - @Model.SimpleAvailibilityaAddResponcelist[j].designator.destination</div>
                            </div>
                            <div class="rtptotal">
                                <div class="text-12 fw-600">
                                    <span>@Model.SimpleAvailibilityaAddResponcelist[j].designator.departure</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex y-gap-30 justify-between">
                            <div class="fare-round d-flex align-items-center">
                                <img class="size-40" src="~/img/flight-logo-icon/1.webp">
                            </div>
                            <div class="fare-round">
                                @{
                                    var departuretime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                    string departuretimestr = departuretime.ToString();
                                    var departuretimefinal = departuretimestr.Substring(11, 5);
                                }
                                <div class="">@departuretimefinal</div>
                                <div class="">@Model.SimpleAvailibilityaAddResponcelist[j].designator.origin</div>
                            </div>
                            <div class="fare-round">
                                <div class="col text-center">
                                    @{
                                        var arrivalDate = Model.SimpleAvailibilityaAddResponcelist[j].designator.arrival;
                                        var departureDate = Model.SimpleAvailibilityaAddResponcelist[j].designator.departure;
                                        var diff = (arrivalDate - departureDate);
                                    }
                                    <div class="px-20 md:px-0">@diff</div>
                                    <div class="flightLine">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    @{
                                        var stops = @Model.SimpleAvailibilityaAddResponcelist[j].stops;
                                        if (stops == 0)
                                        {
                                            <div class="mt-1">NonStop</div>
                                        }
                                        if (stops == 1)
                                        {
                                            <div class="mt-1">1Stop via @Model.SimpleAvailibilityaAddResponcelist[j].designator.destination </div>
                                        }
                                        if (stops == 2)
                                        {
                                            <div class="mt-1">2Stop</div>
                                        }
                                    }
                                    @* <div class="mt-1">1</div> *@
                                </div>
                            </div>
                            <div class="fare-round">
                                @{
                                    var arrivaltime = Model.SimpleAvailibilityaAddResponcelist[j].designator.arrival;
                                    string arrivaltimestr = arrivaltime.ToString();
                                    var arrivalfinal = arrivaltimestr.Substring(11, 5);
                                }
                                <div class="lh-15 fw-500">@arrivalfinal</div>
                                <div class="text-15 lh-15 text-light-1">@Model.SimpleAvailibilityaAddResponcelist[j].designator.destination</div>
                            </div>
                        </div>

                        @for (var k = 0; k < Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual.Count; k++)
                        {
                            <div class="multi-fare multi-bg">
                                <div class="d-flex  justify-between">
                                    <div class="rtfare-1 d-flex">

                                        <input type="hidden" class="fareKey" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].fareKey" />
                                        <input type="hidden" class="journeyKey" value="@Model.SimpleAvailibilityaAddResponcelist[j].journeyKey" />
                                        <input type="hidden" class="Airline" value="@Model.SimpleAvailibilityaAddResponcelist[j].Airline" />
                                        <input type="radio" name="fareRadioGroup" class="fareRadio" onclick="collectData('fare', @k)">
                                        <div class="ms-2">Saver Fare @Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].procuctclass</div>
                                    </div>
                                    <div class="rtfare-1">
                                        <span> ₹@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-between saver-fare">

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Cabin Bag"></div>
                                        <div>
                                            <p class="custom-ftn">Cabin Bag</p>
                                            <p class="custom-sbdtl">7 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Check-in"></div>
                                        <div>
                                            <p class="custom-ftn">Check-in</p>
                                            <p class="custom-sbdtl">25 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/refund-icon.png" alt="Cancellation"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Cancellation</p>
                                            <p class="custom-sbdtl">Rs 3710 onwards</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/calender-icon.png" alt="Date Change"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Date Change</p>
                                            <p class="custom-sbdtl">Rs 3180 onwards</p>
                                        </div>
                                    </div>

                                </div>


                            </div>


                        }
                    }
                </form>
            </div>

            <div class="col-auto rtborder-right me-3"></div>

            <div class="col-5">
                <div class=""><span class="rtbg">RETURN</span></div>

                <form id="reconnectingFlight">

                    @for (var j = 0; j < Model.SimpleAvailibilityaAddResponcelistR.Count; j++)
                    {
                        <div class="d-flex justify-between align-items-center mt-4">
                            <div class="rtptotal">
                                <div class="dst-top">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.origin - @Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination</div>
                            </div>
                            <div class="rtptotal">
                                <div class="text-12 fw-600">
                                    <span>@Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex y-gap-30 justify-between">
                            <div class="fare-round d-flex align-items-center">
                                <img class="size-40" src="~/img/flight-logo-icon/1.webp">
                            </div>

                            <div class="fare-round">
                                @{
                                    var departuretime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                    string departuretimestr = departuretime.ToString();
                                    var departuretimefinal = departuretimestr.Substring(11, 5);
                                }
                                <div class="">@departuretimefinal</div>
                                <div class="">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.origin</div>
                            </div>
                            <div class="fare-round">
                                <div class="col text-center">
                                    @{
                                        var arrivalDate = Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival;
                                        var departureDate = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                        var diff = (arrivalDate - departureDate);
                                    }
                                    <div class="px-20 md:px-0">@diff</div>
                                    <div class="flightLine">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    @{
                                        var stops = @Model.SimpleAvailibilityaAddResponcelistR[j].stops;
                                        if (stops == 0)
                                        {
                                            <div class="mt-1">NonStop</div>
                                        }
                                        if (stops == 1)
                                        {
                                            <div class="mt-1">1Stop via @Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination </div>
                                        }
                                        if (stops == 2)
                                        {
                                            <div class="mt-1">2Stop</div>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="fare-round">
                                @{
                                    var arrivaltime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival;
                                    string arrivaltimestr = arrivaltime.ToString();
                                    var arrivalfinal = arrivaltimestr.Substring(11, 5);
                                }
                                <div class="lh-15 fw-500">@arrivalfinal</div>
                                <div class="text-15 lh-15 text-light-1">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination</div>
                            </div>

                        </div>
                        @for (var k = 0; k < Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual.Count; k++)
                        {
                            <div class="multi-fare multi-bg">
                                <div class="d-flex  justify-between">
                                    <div class="rtfare-1 d-flex">

                                        <input type="hidden" class="fareKeyReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].fareKey" />
                                        <input type="hidden" class="journeyKeyReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].journeyKey" />
                                        <input type="hidden" class="AirlineReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].Airline" />
                                        <input type="radio" name="renderRadioGroup" class="renderRadio" onclick="collectData('render', @k)">
                                        <div class="ms-2">Saver Fare @Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].procuctclass</div>
                                    </div>
                                    <div class="rtfare-1">
                                        <span> ₹@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-between saver-fare">

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Cabin Bag"></div>
                                        <div>
                                            <p class="custom-ftn">Cabin Bag</p>
                                            <p class="custom-sbdtl">7 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Check-in"></div>
                                        <div>
                                            <p class="custom-ftn">Check-in</p>
                                            <p class="custom-sbdtl">25 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/refund-icon.png" alt="Cancellation"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Cancellation</p>
                                            <p class="custom-sbdtl">Rs 3710 onwards</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/calender-icon.png" alt="Date Change"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Date Change</p>
                                            <p class="custom-sbdtl">Rs 3180 onwards</p>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        }
                    }

                </form>

            </div>

        </div>
    </div>
</div>
<style type="text/css">

    /* Overlay styles */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        z-index: 9999;
    }

    /* Loader animation styles */
    .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .iconanimate {
        width: 60px;
        height: 60px;
        /* position: absolute; */
        border-radius: 50%;
        padding: 10px;
        background-color: red;
        position: relative;
        top: 50%;
        animation-name: example;
        animation-duration: 10s;
    }

    @@keyframes example {
        0% {
            left: 0; /* Starting position */
        }

        100% {
            left: calc(100% - 100px); /* Move to the right edge (100% - width) */
        }
        /* 0%   {background-color:red; left:0px; right:0px;}
                      25%  {background-color:yellow; left:80%; top:10%;}
                      50%  {background-color:blue; left:200px; top:200px;}
                      75%  {background-color:green; left:0px; top:200px;}
                      100% {background-color:red; left:0px; top:0px;}  */
    }

    .iconanimate img {
        transform: rotate(45deg);
    }</style>
<script>
    let fareKey = [];
    let journeyKey = [];

    function collectData(type, index) {
        debugger;
        if (type === 'fare') {
            fareKey.push(document.getElementsByClassName('fareKey')[index].value + "@@0f" + "@@" + document.getElementsByClassName('Airline')[index].value);
            journeyKey.push(document.getElementsByClassName('journeyKey')[index].value + "@@0j" + "@@" + document.getElementsByClassName('Airline')[index].value);
        } else if (type === 'render') {
            fareKey.push(document.getElementsByClassName('fareKeyReturn')[index].value + "@@1f" + "@@" + document.getElementsByClassName('AirlineReturn')[index].value);
            journeyKey.push(document.getElementsByClassName('journeyKeyReturn')[index].value + "@@1j" + "@@" + document.getElementsByClassName('AirlineReturn')[index].value);
        }

    }
    function PostdataReturnTripsell() {
        //  console.log('Fare Keys:', fareKey);
        //  console.log('Journey Keys:', journeyKey);
        const form = new FormData();
        for (let i = 0; i < fareKey.length; i++) {
            form.append('fareKey', fareKey[i]);
            form.append('journeyKey', journeyKey[i]);
        }
        fetch('/ReturnTripsell/ReturnTripsellView', {
            method: 'POST',
            body: form
        })
            .then(response => {
                if (response.ok) {
                    console.log('Data sent successfully');
                    fareKey = [];
                    journeyKey = [];
                    location.reload();
                    window.location.href = '/RoundAATripsell/RoundAATripsellView';
                } else {
                    throw new Error('Data sending failed');
                }
            })
            .catch(error => {
                console.error('Error occurred:', error);
            });


        // Flight Icon Animation
        var flhticonDisplay = document.getElementById("flightImage");
        flhticonDisplay.style.display = "block";
        $('#animationOverlay').fadeIn(8000);

        // Your existing AJAX code
        var formData = $('#reconnectingFlightOneway').serialize();

        $.ajax({
            url: '/RoundAATripsell/RoundAATripsellView',
            type: 'POST',
            data: formData,
            success: function (response) {
                $('#animationOverlay').fadeOut(4000);
            },
            error: function (xhr, status, error) {
                // Handle error
                console.error(xhr.responseText); // Log the error response
                // Hide the animation overlay on error
                $('#animationOverlay').fadeOut();
            }
        });
        $('#flighticon').hide();
    }
</script>



