@model DomainLayer.ViewModel.ViewModel
@{
    var data = Model;

}
<!----data Bind --------->
<div class="row">
    <div class="col-lg-12">
        <div class="overlay" id="animationOverlay">
            <div class="loader"></div>
            <div class="iconanimate">
                <img id="flightImage" src="~/img/flytk.png" alt="Flight" style="display:none">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <div class="modal-mfareBlock">

                <div class="row pd">
                    <div class="col-xl-6 col-lg-6 lf-p">
                        <form id="reconnectingFlightOneway">

                            @for (var j = 0; j < Model.SimpleAvailibilityaAddResponcelist.Count; j++)
                            {
                                <div class="fl-part">
                                    <div class="departbx">Depart</div>
                                    <div class="dst-top pl-0">
                                        <span>@Model.SimpleAvailibilityaAddResponcelist[j].designator.origin <i class="fa fa-angle-double-right" aria-hidden="true"></i>@Model.SimpleAvailibilityaAddResponcelist[j].designator.destination</span>
                                        <span class="dprtdt">@Model.SimpleAvailibilityaAddResponcelist[j].designator.departure</span>
                                    </div>

                                    <div class="col">
                                        <div class="row y-gap-10 items-center">
                                            <div class="col">
                                                <div class="row x-gap-20 mb-3">
                                                    <div class="col d-flex airline-L">

                                                        <img class="size-40" src="~/img/flight-logo-icon/1.webp" alt="image">
                                                        <div class="name">
                                                            <span class="lh-15">@Model.SimpleAvailibilityaAddResponcelist[j].Airline </span>
                                                            <span class="text-light-1">@Model.SimpleAvailibilityaAddResponcelist[j].segments[0].identifier.carrierCode|@Model.SimpleAvailibilityaAddResponcelist[j].segments[0].identifier.identifier</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        @{
                                                            var departuretime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                                            string departuretimestr = departuretime.ToString();
                                                            var departuretimefinal = departuretimestr.Substring(11, 5);
                                                        }
                                                        <div class="text-20 fw-700">@departuretimefinal</div>
                                                        <div class="text-12 lh-12"><span class="text-w">@Model.SimpleAvailibilityaAddResponcelist[j].designator.origin</span></div>
                                                    </div>

                                                    <div class="col-auto text-center stop-info">
                                                        @{
                                                            var arrivalDate = Model.SimpleAvailibilityaAddResponcelist[j].designator.arrival;
                                                            var departureDate = Model.SimpleAvailibilityaAddResponcelist[j].designator.departure;
                                                            var diff = (arrivalDate - departureDate);
                                                        }
                                                        <div class="px-20 md:px-0">@diff</div>
                                                        <div class="flightLine">
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                        @* <div class="mt-1">1-stop</div> *@
                                                        @{
                                                            var stops = @Model.SimpleAvailibilityaAddResponcelist[j].stops;
                                                            if (stops == 0)
                                                            {
                                                                <div class="mt-1">NonStop</div>
                                                            }
                                                            if (stops == 1)
                                                            {
                                                                <div class="mt-1">1Stop via @Model.SimpleAvailibilityaAddResponcelist[j].designator.destination </div>
                                                            }
                                                            if (stops == 2)
                                                            {
                                                                <div class="mt-1">2Stop</div>
                                                            }
                                                        }
                                                    </div>

                                                    <div class="col">
                                                        @{
                                                            var arrivaltime = Model.SimpleAvailibilityaAddResponcelist[j].designator.arrival;
                                                            string arrivaltimestr = arrivaltime.ToString();
                                                            var arrivalfinal = arrivaltimestr.Substring(11, 5);
                                                        }
                                                        <div class="text-20 fw-700 lh-15">@arrivalfinal</div>
                                                        <div class="text-12 lh-12 text-light-1"><span class="text-w">@Model.SimpleAvailibilityaAddResponcelist[j].designator.destination</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="corboxmain">
                                        @for (var k = 0; k < Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual.Count; k++)
                                        {
                                            <div class="corbox active-bx">

                                                <div class="dst-top pl-0">
                                                    <input type="hidden" class="fareKey" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].fareKey" />
                                                    <input type="hidden" class="journeyKey" value="@Model.SimpleAvailibilityaAddResponcelist[j].journeyKey" />
                                                    <input type="hidden" class="Airline" value="@Model.SimpleAvailibilityaAddResponcelist[j].Airline" />
                                                    <input type="radio" name="fareRadioGroup" class="fareRadio" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal" onclick="collectData('fare', @k)">

                                                    @*  <input type="radio" name="name"> *@

                                                    <span> Saver Fare @Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].procuctclass </span>
                                                    <span class="price">
                                                        ₹  @Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal
                                                        <div class="rtfare-1">
                                                            <input type="hidden" id="IdPOPL" class="farekeyIDL" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal" />

                                                        </div>
                                                    </span>
                                                </div>

                                                <ul>
                                                    <li><img src="~/img/included.png" alt="icon">Cabin Bag 7 Kgs</li>
                                                    <li><img src="~/img/included.png" alt="icon">check in 25 Kgs</li>
                                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Cancellation Rs As per airlines policy onwards</li>
                                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Date Change Rs As per airlines policy onwards</li>
                                                </ul>
                                            </div>
                                        }

                                        @*  <div class="corbox">
                                    <div class="dst-top pl-0">
                                    <input type="radio" name="name">
                                    <span>Standard </span>
                                    <span class="price">₹ 36000</span>
                                    </div>
                                    <ul>
                                    <li><img src="~/img/included.png" alt="icon">Cabin Bag 7 Kgs</li>
                                    <li><img src="~/img/included.png" alt="icon">check in 25 Kgs</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Cancellation Rs As per airlines policy onwards</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Date Change Rs As per airlines policy onwards</li>
                                    </ul>
                                    </div>

                                    <div class="corbox">
                                    <div class="dst-top pl-0">
                                    <input type="radio" name="name">
                                    <span>Economy Flexi </span>
                                    <span class="price">₹ 39000</span>
                                    </div>
                                    <ul>
                                    <li><img src="~/img/included.png" alt="icon">Cabin Bag 7 Kgs</li>
                                    <li><img src="~/img/included.png" alt="icon">check in 25 Kgs</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Cancellation Rs As per airlines policy onwards</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Date Change Rs As per airlines policy onwards</li>
                                    </ul>
                                    </div>  *@
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 rf-p">
                        <form id="reconnectingFlight">

                            @for (var j = 0; j < Model.SimpleAvailibilityaAddResponcelistR.Count; j++)
                            {
                                <div class="fr-part">
                                    <div class="departbx">Return</div>
                                    <div class="dst-top pl-0">
                                        <span>@Model.SimpleAvailibilityaAddResponcelistR[j].designator.origin<i class="fa fa-angle-double-right" aria-hidden="true"></i>@Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination</span>
                                        <span class="dprtdt">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival</span>
                                    </div>

                                    <div class="col">
                                        <div class="row y-gap-10 items-center">
                                            <div class="col">
                                                <div class="row x-gap-20 mb-3">
                                                    <div class="col d-flex airline-L">
                                                        <img class="size-40" src="~/img/flight-logo-icon/1.webp" alt="image">
                                                        <div class="name">
                                                            <span class="lh-15">@Model.SimpleAvailibilityaAddResponcelistR[j].Airline</span>
                                                            <span class="text-light-1">@Model.SimpleAvailibilityaAddResponcelistR[j].segments[0].identifier.carrierCode|@Model.SimpleAvailibilityaAddResponcelistR[j].segments[0].identifier.identifier</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        @{
                                                            var departuretime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                                            string departuretimestr = departuretime.ToString();
                                                            var departuretimefinal = departuretimestr.Substring(11, 5);
                                                        }
                                                        <div class="text-20 fw-700">@departuretimefinal</div>
                                                        <div class="text-12 lh-12"><span class="text-w">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.origin</span></div>
                                                    </div>

                                                    <div class="col-auto text-center stop-info">
                                                        @{
                                                            var arrivalDate = Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival;
                                                            var departureDate = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                                            var diff = (arrivalDate - departureDate);
                                                        }
                                                        <div class="px-20 md:px-0">@diff</div>
                                                        <div class="flightLine">
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                        @{
                                                            var stops = @Model.SimpleAvailibilityaAddResponcelistR[j].stops;
                                                            if (stops == 0)
                                                            {
                                                                <div class="mt-1">NonStop</div>
                                                            }
                                                            if (stops == 1)
                                                            {
                                                                <div class="mt-1">1Stop via @Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination </div>
                                                            }
                                                            if (stops == 2)
                                                            {
                                                                <div class="mt-1">2Stop</div>
                                                            }
                                                        }
                                                        @* <div class="mt-1">1-stop</div> *@
                                                    </div>

                                                    <div class="col">
                                                        @{
                                                            var arrivaltime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival;
                                                            string arrivaltimestr = arrivaltime.ToString();
                                                            var arrivalfinal = arrivaltimestr.Substring(11, 5);
                                                        }
                                                        <div class="text-20 fw-700 lh-15">@arrivalfinal</div>
                                                        <div class="text-12 lh-12 text-light-1"><span class="text-w">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="corboxmain">
                                        @for (var k = 0; k < Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual.Count; k++)
                                        {
                                            <div class="corbox active-bx">
                                                <div class="dst-top pl-0">
                                                    <input type="hidden" class="fareKeyReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].fareKey" />
                                                    <input type="hidden" class="journeyKeyReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].journeyKey" />
                                                    <input type="hidden" class="AirlineReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].Airline" />
                                                    <input type="radio" name="renderRadioGroup" class="renderRadio" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal" onclick="collectData('render', @k)">
                                                    @*  <input type="radio" name="name"> *@

                                                    <span> Saver Fare @Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].procuctclass  </span>
                                                    <span class="price">
                                                        ₹  @Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal
                                                        <div class="rtfare-1">
                                                            <input type="hidden" id="IdPOPR" class="farekeyIDR" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal" />

                                                        </div>
                                                    </span>
                                                </div>

                                                <ul>
                                                    <li><img src="~/img/included.png" alt="icon">Cabin Bag 7 Kgs</li>
                                                    <li><img src="~/img/included.png" alt="icon">check in 25 Kgs</li>
                                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Cancellation Rs As per airlines policy onwards</li>
                                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Date Change Rs As per airlines policy onwards</li>
                                                </ul>
                                            </div>
                                        }
                                        @*       <div class="corbox">
                                    <div class="dst-top pl-0">
                                    <input type="radio" name="name">
                                    <span>Standard </span>
                                    <span class="price">₹ 36000</span>
                                    </div>
                                    <ul>
                                    <li><img src="~/img/included.png" alt="icon">Cabin Bag 7 Kgs</li>
                                    <li><img src="~/img/included.png" alt="icon">check in 25 Kgs</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Cancellation Rs As per airlines policy onwards</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Date Change Rs As per airlines policy onwards</li>
                                    </ul>
                                    </div>

                                    <div class="corbox">
                                    <div class="dst-top pl-0">
                                    <input type="radio" name="name">
                                    <span>Economy Flexi </span>
                                    <span class="price">₹ 39000</span>
                                    </div>
                                    <ul>
                                    <li><img src="~/img/included.png" alt="icon">Cabin Bag 7 Kgs</li>
                                    <li><img src="~/img/included.png" alt="icon">check in 25 Kgs</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Cancellation Rs As per airlines policy onwards</li>
                                    <li><img src="~/img/partial_inclusion.png" alt="icon">Date Change Rs As per airlines policy onwards</li>
                                    </ul>
                                    </div> *@

                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <!---------Old Data Bind---------->
            <div class="col-5 d-none">
                <div class=""><span class="rtbg">DEPART</span><span id="resultLeft"></span></div>

                <form id="reconnectingFlightOneway">

                    @for (var j = 0; j < Model.SimpleAvailibilityaAddResponcelist.Count; j++)
                    {

                        <div class="d-flex justify-between align-items-center mt-4">
                            <div class="rtptotal">
                                <div class="dst-top">@Model.SimpleAvailibilityaAddResponcelist[j].designator.origin - @Model.SimpleAvailibilityaAddResponcelist[j].designator.destination</div>
                            </div>
                            <div class="rtptotal">
                                <div class="text-12 fw-600">
                                    <span>@Model.SimpleAvailibilityaAddResponcelist[j].designator.departure</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex y-gap-30 justify-between">
                            <div class="fare-round d-flex align-items-center">
                                @if (Model.SimpleAvailibilityaAddResponcelist[j].Airline.ToString().ToLower().Equals("spicejet"))
                                {

                                    <img class="size-40" src="~/img/flight-logo-icon/SG.png" alt="image">
                                }
                                else
                                {
                                    <img class="size-40" src="~/img/flight-logo-icon/1.webp" alt="image">
                                }
                                @* <img class="size-40" src="~/img/flight-logo-icon/1.webp"> *@
                            </div>
                            <div class="fare-round">
                                @{
                                    var departuretime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                    string departuretimestr = departuretime.ToString();
                                    var departuretimefinal = departuretimestr.Substring(11, 5);
                                }
                                <div class="">@departuretimefinal</div>
                                <div class="">@Model.SimpleAvailibilityaAddResponcelist[j].designator.origin</div>
                            </div>
                            <div class="fare-round">
                                <div class="col text-center">
                                    @{
                                        var arrivalDate = Model.SimpleAvailibilityaAddResponcelist[j].designator.arrival;
                                        var departureDate = Model.SimpleAvailibilityaAddResponcelist[j].designator.departure;
                                        var diff = (arrivalDate - departureDate);
                                    }
                                    <div class="px-20 md:px-0">@diff</div>
                                    <div class="flightLine">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    @{
                                        var stops = @Model.SimpleAvailibilityaAddResponcelist[j].stops;
                                        if (stops == 0)
                                        {
                                            <div class="mt-1">NonStop</div>
                                        }
                                        if (stops == 1)
                                        {
                                            <div class="mt-1">1Stop via @Model.SimpleAvailibilityaAddResponcelist[j].designator.destination </div>
                                        }
                                        if (stops == 2)
                                        {
                                            <div class="mt-1">2Stop</div>
                                        }
                                    }
                                    @* <div class="mt-1">1</div> *@
                                </div>
                            </div>
                            <div class="fare-round">
                                @{
                                    var arrivaltime = Model.SimpleAvailibilityaAddResponcelist[j].designator.arrival;
                                    string arrivaltimestr = arrivaltime.ToString();
                                    var arrivalfinal = arrivaltimestr.Substring(11, 5);
                                }
                                <div class="lh-15 fw-500">@arrivalfinal</div>
                                <div class="text-15 lh-15 text-light-1">@Model.SimpleAvailibilityaAddResponcelist[j].designator.destination</div>
                            </div>
                        </div>

                        @for (var k = 0; k < Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual.Count; k++)
                        {
                            <div class="multi-fare multi-bg">
                                <div class="d-flex  justify-between">
                                    <div class="rtfare-1 d-flex">

                                        <input type="hidden" class="fareKey" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].fareKey" />
                                        <input type="hidden" class="journeyKey" value="@Model.SimpleAvailibilityaAddResponcelist[j].journeyKey" />
                                        <input type="hidden" class="Airline" value="@Model.SimpleAvailibilityaAddResponcelist[j].Airline" />
                                        <input type="radio" name="fareRadioGroup" class="fareRadio" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal" onclick="collectData('fare', @k)">
                                        <div class="ms-2">Saver Fare @Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].procuctclass</div>
                                    </div>
                                    <div class="rtfare-1">
                                        <input type="hidden" id="IdPOPL" class="farekeyIDL" value="@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal" />
                                        <span> ₹@Model.SimpleAvailibilityaAddResponcelist[j].faresIndividual[k].faretotal</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-between saver-fare">

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Cabin Bag"></div>
                                        <div>
                                            <p class="custom-ftn">Cabin Bag</p>
                                            <p class="custom-sbdtl">7 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Check-in"></div>
                                        <div>
                                            <p class="custom-ftn">Check-in</p>
                                            <p class="custom-sbdtl">25 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/refund-icon.png" alt="Cancellation"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Cancellation</p>
                                            <p class="custom-sbdtl">Rs 3710 onwards</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/calender-icon.png" alt="Date Change"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Date Change</p>
                                            <p class="custom-sbdtl">Rs 3180 onwards</p>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        }
                    }
                </form>
            </div>

            <div class="col-auto d-none rtborder-right me-3"></div>

            <div class="col-5 d-none">
                <div class=""><span class="rtbg">RETURN</span><span id="resultright"></span></div>

                <form id="reconnectingFlight">

                    @for (var j = 0; j < Model.SimpleAvailibilityaAddResponcelistR.Count; j++)
                    {
                        <div class="d-flex justify-between align-items-center mt-4">
                            <div class="rtptotal">
                                <div class="dst-top">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.origin - @Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination</div>
                            </div>
                            <div class="rtptotal">
                                <div class="text-12 fw-600">
                                    <span>@Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex y-gap-30 justify-between">
                            <div class="fare-round d-flex align-items-center">
                                <img class="size-40" src="~/img/flight-logo-icon/1.webp">
                            </div>

                            <div class="fare-round">
                                @{
                                    var departuretime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                    string departuretimestr = departuretime.ToString();
                                    var departuretimefinal = departuretimestr.Substring(11, 5);
                                }
                                <div class="">@departuretimefinal</div>
                                <div class="">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.origin</div>
                            </div>
                            <div class="fare-round">
                                <div class="col text-center">
                                    @{
                                        var arrivalDate = Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival;
                                        var departureDate = Model.SimpleAvailibilityaAddResponcelistR[j].designator.departure;
                                        var diff = (arrivalDate - departureDate);
                                    }
                                    <div class="px-20 md:px-0">@diff</div>
                                    <div class="flightLine">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    @{
                                        var stops = @Model.SimpleAvailibilityaAddResponcelistR[j].stops;
                                        if (stops == 0)
                                        {
                                            <div class="mt-1">NonStop</div>
                                        }
                                        if (stops == 1)
                                        {
                                            <div class="mt-1">1Stop via @Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination </div>
                                        }
                                        if (stops == 2)
                                        {
                                            <div class="mt-1">2Stop</div>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="fare-round">
                                @{
                                    var arrivaltime = Model.SimpleAvailibilityaAddResponcelistR[j].designator.arrival;
                                    string arrivaltimestr = arrivaltime.ToString();
                                    var arrivalfinal = arrivaltimestr.Substring(11, 5);
                                }
                                <div class="lh-15 fw-500">@arrivalfinal</div>
                                <div class="text-15 lh-15 text-light-1">@Model.SimpleAvailibilityaAddResponcelistR[j].designator.destination</div>
                            </div>

                        </div>
                        @for (var k = 0; k < Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual.Count; k++)
                        {
                            <div class="multi-fare multi-bg">
                                <div class="d-flex  justify-between">
                                    <div class="rtfare-1 d-flex">

                                        <input type="hidden" class="fareKeyReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].fareKey" />
                                        <input type="hidden" class="journeyKeyReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].journeyKey" />
                                        <input type="hidden" class="AirlineReturn" value="@Model.SimpleAvailibilityaAddResponcelistR[j].Airline" />
                                        <input type="radio" name="renderRadioGroup" class="renderRadio" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal" onclick="collectData('render', @k)">
                                        <div class="ms-2">Saver Fare @Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].procuctclass</div>
                                    </div>
                                    <div class="rtfare-1">
                                        <input type="hidden" id="IdPOPR" class="farekeyIDR" value="@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal" />
                                        <span> ₹@Model.SimpleAvailibilityaAddResponcelistR[j].faresIndividual[k].faretotal</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-between saver-fare">

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Cabin Bag"></div>
                                        <div>
                                            <p class="custom-ftn">Cabin Bag</p>
                                            <p class="custom-sbdtl">7 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/images/pbaggage.png" alt="Check-in"></div>
                                        <div>
                                            <p class="custom-ftn">Check-in</p>
                                            <p class="custom-sbdtl">25 Kgs</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/refund-icon.png" alt="Cancellation"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Cancellation</p>
                                            <p class="custom-sbdtl">Rs 3710 onwards</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="custom-icon"><img src="~/img/calender-icon.png" alt="Date Change"></div>
                                        <div class="custom-widynm">
                                            <p class="custom-ftn">Date Change</p>
                                            <p class="custom-sbdtl">Rs 3180 onwards</p>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        }
                    }

                </form>

            </div>

        </div>
    </div>
</div>
<style type="text/css">

    /* Overlay styles */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        z-index: 9999;
    }

    /* Loader animation styles */
    .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .iconanimate {
        width: 60px;
        height: 60px;
        /* position: absolute; */
        border-radius: 50%;
        padding: 10px;
        /* background-color: red; */
        position: relative;
        top: 50%;
        animation-name: example;
        animation-duration: 10s;
    }

    @@keyframes example {
        0% {
            left: 0; /* Starting position */
        }

        100% {
            left: calc(100% - 100px); /* Move to the right edge (100% - width) */
        }
        /* 0%   {background-color:red; left:0px; right:0px;}
                                  25%  {background-color:yellow; left:80%; top:10%;}
                                  50%  {background-color:blue; left:200px; top:200px;}
                                  75%  {background-color:green; left:0px; top:200px;}
                                  100% {background-color:red; left:0px; top:0px;}  */
    }

    .iconanimate img {
        transform: rotate(45deg);
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let fareKey = [];
    let journeyKey = [];

    function collectData(type, index) {
        debugger;
        if (type === 'fare') {
            fareKey.push(document.getElementsByClassName('fareKey')[index].value + "@@0f" + "@@" + document.getElementsByClassName('Airline')[index].value);
            journeyKey.push(document.getElementsByClassName('journeyKey')[index].value + "@@0j" + "@@" + document.getElementsByClassName('Airline')[index].value);
        } else if (type === 'render') {
            fareKey.push(document.getElementsByClassName('fareKeyReturn')[index].value + "@@1f" + "@@" + document.getElementsByClassName('AirlineReturn')[index].value);
            journeyKey.push(document.getElementsByClassName('journeyKeyReturn')[index].value + "@@1j" + "@@" + document.getElementsByClassName('AirlineReturn')[index].value);
        }
        //Get value Pop up Radio Button

        $('input[type=radio][name=fareRadioGroup]').change(function () {
            var ele = document.getElementsByName('fareRadioGroup');

            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked)
                    document.getElementById("resultLeft").innerHTML
                        = ele[i].value;

            }
            var resultLeftElement = document.getElementById("resultLeft");
            alert(resultLeftElement.textContent);
            var leftpopupfare = resultLeftElement.textContent;

            localStorage.setItem('LEFTFARE', leftpopupfare);

        });


        $('input[type=radio][name=renderRadioGroup]').change(function () {

            var eler = document.getElementsByName('renderRadioGroup');

            for (j = 0; j < eler.length; j++) {
                if (eler[j].checked)
                    document.getElementById("resultright").innerHTML
                        = + eler[j].value;
                var resultrightElement = document.getElementById("resultright");

                var rightpopupfare = resultrightElement.textContent;
                localStorage.setItem('RIGHTFARE', rightpopupfare);
            }
            var popupfare1 = localStorage.getItem('LEFTFARE');
            var popupfare2 = localStorage.getItem('RIGHTFARE');
            var totalfarepopup = parseInt(popupfare1) + parseInt(popupfare2);
            alert("vny" + totalfarepopup);
            document.getElementById("popuptatalfare").innerHTML = totalfarepopup;
            localStorage.setItem('basetotalfare', totalfarepopup);
            localStorage.setItem('basetotalprice', totalfarepopup);

        });


    }
    function PostdataReturnTripsell() {
        //  console.log('Fare Keys:', fareKey);
        //  console.log('Journey Keys:', journeyKey);
        const form = new FormData();
        for (let i = 0; i < fareKey.length; i++) {
            form.append('fareKey', fareKey[i]);
            form.append('journeyKey', journeyKey[i]);
        }
        fetch('/ReturnTripsell/ReturnTripsellView', {
            method: 'POST',
            body: form
        })
            .then(response => {
                if (response.ok) {
                    console.log('Data sent successfully');
                    fareKey = [];
                    journeyKey = [];
                    location.reload();
                    window.location.href = '/RoundAATripsell/RoundAATripsellView';
                } else {
                    throw new Error('Data sending failed');
                }
            })
            .catch(error => {
                console.error('Error occurred:', error);
            });


        // Flight Icon Animation
        var flhticonDisplay = document.getElementById("flightImage");
        flhticonDisplay.style.display = "block";
        $('#animationOverlay').fadeIn(8000);

        // Your existing AJAX code
        var formData = $('#reconnectingFlightOneway').serialize();

        $.ajax({
            url: '/RoundAATripsell/RoundAATripsellView',
            type: 'POST',
            data: formData,
            success: function (response) {
                $('#animationOverlay').fadeOut(4000);
            },
            error: function (xhr, status, error) {
                // Handle error
                console.error(xhr.responseText); // Log the error response
                // Hide the animation overlay on error
                $('#animationOverlay').fadeOut();
            }
        });
        $('#flighticon').hide();
    }



    $(document).ready(function () {
        $('.corbox').each(function (index) {
            if (index === 0) {
                $(this).addClass('active-bx');
            } else {
                $(this).addClass('corbox');
            }
        });
    });
</script>




