@model DomainLayer.ViewModel.ViewModel

@{
    Layout = null;
    var abc = Model;

}
<style>
    .btn2 {
        border: 1px solid #0057bb;
        padding: 4px 26px;
        border-radius: 2px;
        margin-top: 6px;
    }

    .input-ammount2 {
        color: #f80711;
        background: none;
        text-align: center;
        width: 100px;
        border: none;
    }
</style>
<script>
    /*********seatmap_tab_select_function_ServiceRequest_PartialView_Page***********/
    $(document).ready(function () {


        $("#seattab3").addClass('active');
        $("#tabshow4").hide();
        $("#seattab3").click(function () {
            $("#tabshow3").show();
            $("#tabshow4").hide();
            $("#seattab3").addClass('active');
            $("#seattab4").removeClass('active');

        });

        $("#seattab4").click(function () {
            //$("#tabshow4").css("display", "block");
            $("#tabshow4").show();
            $("#seattab4").addClass('active');
            $("#seattab3").removeClass('active');
            $("#tabshow3").hide();
        });


    });
</script>

<div class="relative overflow-hidden js-section-slider pt-10 sm:pt-20" data-gap="30" data-scrollbar data-slider-cols="xl-5 lg-4 md-3 sm-2 base-2" data-nav-prev="js-tour-prev" data-pagination="js-tour-pag" data-nav-next="js-tour-next">

    @for (int r = 0; r < Model.Meals.legSsrs.Count; r++)
    {
        if (r == 0)
        {
            <div id="tabshow3" class="seat-section1">
                A
                <div class="swiper-wrapper">
                    @{
                        for (int s = 0; s < Model.Meals.legSsrs[0].legssrs.Count; s++)
                        {
                            for (int q = 0; q < Model.Meals.legSsrs[0].legssrs[s].legpassengers.Count; q++)
                            {
                                <div class="swiper-slide active">
                                    <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                        <img src="~/img/images/non-veg-img-1.png" title="image" alt="image">
                                        <h5 class="text-16 fw-700 mt-6">@Model.Meals.legSsrs[0].legssrs[s].name</h5>
                                        <p class="text-14 fw-600 mt-2 text-center">&#8377; @Model.Meals.legSsrs[0].legssrs[s].legpassengers[q].price</p>
                                        <div class="d-flex justify-content-center">
                                            <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                            <input type="checkbox" id="ssrKeyBaggage" name="ssrKey" value="@Model.Meals.legSsrs[0].legssrs[s].legpassengers[q].ssrKey" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div id="tabshow4" class="seat-section2">
                B
                <div class="swiper-wrapper">
                    @{


                        for (int s = 0; s < Model.Meals.legSsrs[1].legssrs.Count; s++)
                        {
                            for (int q = 0; q < Model.Meals.legSsrs[1].legssrs[s].legpassengers.Count; q++)
                            {
                                <div class="swiper-slide active">
                                    <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                        <img src="~/img/images/non-veg-img-1.png" title="image" alt="image">
                                        <h5 class="text-16 fw-700 mt-6">@Model.Meals.legSsrs[1].legssrs[s].name</h5>
                                        <p class="text-14 fw-600 mt-2 text-center">&#8377; @Model.Meals.legSsrs[1].legssrs[s].legpassengers[q].price</p>
                                        <div class="d-flex justify-content-center">
                                            <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />
                                            <input type="checkbox" id="ssrKeyBaggage" name="ssrKey" value="@Model.Meals.legSsrs[1].legssrs[s].legpassengers[q].ssrKey" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        }
    }
</div>




@* <div class="relative overflow-hidden js-section-slider pt-10 sm:pt-20" data-gap="30" data-scrollbar data-slider-cols="xl-5 lg-4 md-3 sm-2 base-1" data-nav-prev="js-tour-prev-one" data-pagination="js-tour-pag" data-nav-next="js-tour-next-one">

    <div id="tabshow3" class="seat-section1">
        Vinay

        <div class="swiper-wrapper">

            @{



                foreach (var item in Model.Meals.legSsrs)
                {

                    for (int i = 0; i < item.legssrs.Count; i++)
                    {
                        for (int j = 0; j < item.legssrs[i].legpassengers.Count; j++)
                        {
                            <div class="swiper-slide active">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <span class="nveg-food"></span>
                                    <img src="~/img/images/non-veg-img-1.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10"> @item.legssrs[i].name </h6>
                                    <input class="input-ammount2" type="text" name="price" value="@item.legssrs[i].legpassengers[j].price" id="inputField" />
                                    <div class="d-flex justify-content-center">
                                        <input type="checkbox" id="ssrKey" name="ssrKey" value="@item.legssrs[i].legpassengers[j].ssrKey" />
                                        <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />

                                        <div class="btn2" id="showValueButton" onclick="AddMeal1()">Select</div>


                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }



        </div>

    </div>


    <div id="tabshow4" class="seat-section2">
        Deepa Pal

        <div class="swiper-wrapper">

            @{

                foreach (var item in Model.Meals.legSsrs)
                {

                    for (int i = 0; i < item.legssrs.Count; i++)
                    {
                        for (int j = 0; j < item.legssrs[i].legpassengers.Count; j++)
                        {
                            <div class="swiper-slide active">
                                <div class="tourTypeCard__content text-center pt-10 pb-24 px-10 bg-blue-1-05 rounded-4">
                                    <span class="nveg-food"></span>
                                    <img src="~/img/images/non-veg-img-1.png" title="image" alt="image">
                                    <h6 class="text-14 fw-600 mt-10"> @item.legssrs[i].name </h6>
                                    <input class="input-ammount2" type="text" name="price" value="@item.legssrs[1].legpassengers[j].price" id="inputField" />
                                    <div class="d-flex justify-content-center">
                                        <input type="checkbox" id="ssrKey" name="ssrKey" value="@item.legssrs[i].legpassengers[j].ssrKey" />
                                        <input type="hidden" id="passengerkey" name="passengerkey" value="@Model.passeengerlist.passengers[0].passengerKey" />

                                        <div class="btn2" id="showValueButton" onclick="AddMeal1()">Select</div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

            }

        </div>
    </div>
</div> *@





