@model DomainLayer.ViewModel.ViewModel
<div class="ml-20 lg:ml-40 md:ml-0">
    <h2 class="text-20 fw-600 mt-14" style="padding:12px;">Fare Details</h2>
    <div class="px-30 py-30 border-light rounded-0 bg-white">
        <div class="row y-gap-3 justify-between showBtn" style="cursor: pointer;">
            <div class="col-auto">
                <div class="text-15">Base Fare<span class="text-13 text-light-1 ml-1">(1 Traveller)</span><i class="fa fa-angle-down ml-2" aria-hidden="true"></i> </div>
            </div>
            <div class="col-auto">
                @{
                    int passengercountbase = @Model.passeengerlist.passengerscount;
                    int amount = @Model.passeengerlist.journeys[0].segments[0].fares[0].passengerFares[0].serviceCharges[0].amount;
                    int finalbasefare = passengercountbase * amount;
                    <div class="text-15">&#8377; @finalbasefare </div>
                }

            </div>
        </div>

        <div class="row y-gap-3 justify-between bg-light-2 hideme" style="display:none;">
            <div class="col-auto">
                <div class="text-14"> @Model.passeengerlist.passengers[0].passengerTypeCode X @Model.passeengerlist.passengerscount</div>
                <div> </div>
            </div>
            <div class="col-auto">
                @{
                    int passengercount = @Model.passeengerlist.passengerscount;
                    int amount1 = @Model.passeengerlist.journeys[0].segments[0].fares[0].passengerFares[0].serviceCharges[0].amount;
                    int totalamount = amount1 * passengercount;
                    <div class="text-15">&#8377;@totalamount </div>
                }

            </div>
        </div>

        <div class="row y-gap-2 justify-between pt-2 pb-1 showBtn" style="cursor: pointer;">
            <div class="col-auto">
                <div class="text-15">Fee &amp; Surcharges<i class="fa fa-angle-down ml-2" aria-hidden="true"></i> </div>
            </div>
            <div class="col-auto">
                @{

                    foreach (var item in Model.passeengerlist.journeys[0].segments[0].fares[0].passengerFares)
                    {
                        int servicecharge = item.serviceCharges.Count;
                        int finalamount = 0;
                        for (int i = 1; i < servicecharge; i++)
                        {
                            int amounttax = item.serviceCharges[i].amount;
                            finalamount += amounttax;
                        }


                        <div class="text-15">&#8377;@finalamount</div>
                    }
                }
            </div>
        </div>
        <div class="hideme" style="display:none;">
            <div class="row y-gap-3 justify-between bg-light-2">
                <div class="col-auto">
                    <div class="text-14">Adult x 1 </div>
                    <div> </div>
                </div>
                <div class="col-auto">
                    <div class="text-15">&#8377;  8,310 </div>
                </div>
            </div>

            <div class="row y-gap-3 justify-between bg-light-2 border-top-light">
                <div class="col-auto">
                    <div class="text-14">Adult x 1 </div>
                    <div> </div>
                </div>
                <div class="col-auto">
                    <div class="text-15">&#8377;  8,310 </div>
                </div>
            </div>

            <div class="row y-gap-3 justify-between bg-light-2 border-top-light">
                <div class="col-auto">
                    <div class="text-14">Adult x 1 </div>
                    <div> </div>
                </div>
                <div class="col-auto">
                    <div class="text-15">&#8377;  8,310 </div>
                </div>
            </div>
        </div>

        <div class="row y-gap-3 justify-between pb-2">
            <div class="col-auto">
                <div class="text-14">Discount </div>
                <div> </div>
            </div>
            <div class="col-auto">
                <div class="text-15 text-success"> (-) &#8377;  50 </div>
            </div>
        </div>

        <div class="row y-gap-2 justify-between pt-2 border-top-light">
            <div class="col-auto">



                <div class="text-18">Total Fare</div>
            </div>

            <div class="col-auto">
                @{
                    foreach (var item in Model.passeengerlist.journeys[0].segments[0].fares[0].passengerFares)
                    {
                        int servicecharge = item.serviceCharges.Count;
                        int Totalamount = 0;


                        for (int i = 0; i < servicecharge; i++)
                        {
                            int amounttax = item.serviceCharges[i].amount;
                            Totalamount += amounttax;
                        }

                        <input type="text" name="Totalamount" value="@Totalamount" id="Totalamount" onchange="myfun1()" />


                    }
                }

            </div>
        </div>
        <div class="col-auto">
            <label>Other service </label>
            <input value="0" name=" amount" type="text" id="total" />
        </div>
        <label>
            <br>
            <div>Total Amount<input value="0" type="text" name="Total22" id="Total22" /></div>
        </label>
        <script>

        </script>



        <div class="row y-gap-2 justify-between pt-2">
            <div class="col-auto">
                <div class="text-14">Add-Ons</div>
            </div>
            <div class="col-auto">
                <div class="text-15">&#8377; 10</div>
            </div>
        </div>

        <div class="row y-gap-2 justify-between pt-1 showBtn" style="cursor: pointer;">
            <div class="col-auto">
                <div class="text-14">Take off<i class="fa fa-angle-down ml-2" aria-hidden="true"></i> </div>
            </div>
        </div>

        <div class="row y-gap-3 justify-between bg-light-2 hideme" style="display:none;">
            <div class="col-auto">
                <div class="text-14">TAKE OFF Contribution</div>
                <div> </div>
            </div>
            <div class="col-auto">
                <div class="text-15">&#8377; 10</div>
            </div>
        </div>

        <div class="px-20 py-20 bg-blue-2 rounded-4 mt-20">
            <div class="row y-gap-2 justify-between">
                <div class="col-auto">
                    <div class="text-20 lh-13 fw-600">You Pay</div>
                </div>
                <div class="col-auto">
                    @{
                        foreach (var item in Model.passeengerlist.journeys[0].segments[0].fares[0].passengerFares)
                        {
                            int servicecharge = item.serviceCharges.Count;
                            int Totalamount = 0;
                            for (int i = 0; i < servicecharge; i++)
                            {
                                int amounttax = item.serviceCharges[i].amount;
                                Totalamount += amounttax;
                            }
                            int takeoffCharge = 10;
                            int Totalamountpay = @Totalamount + takeoffCharge;
                            <div class="text-20 lh-13 fw-600">&#8377; @Totalamountpay </div>
                        }
                    }

                </div>
            </div>

            <div class="row y-gap-2 justify-between text-success">
                <div class="col-auto">
                    <div class="text-16 lh-13 fw-600">Total Savings</div>
                </div>
                <div class="col-auto">
                    <div class="text-16 lh-13 fw-600">&#8377; 50</div>
                </div>
            </div>
        </div>

        <div class="row y-gap-3 justify-between pt-3">
            <div class="col-auto">
                <div class="text-15">Earn eCash</div>
            </div>
            <div class="col-auto">
                <div class="text-15">&#8377; 250</div>
            </div>
        </div>
    </div>

    <div class="px-30 py-30 border-light rounded-4 mt-30 bg-white">
        <div class="text-20 fw-600 mb-20">Promo Code</div>

        <div class="row y-gap-5 justify-between">
        </div>
    </div>
</div>



@*<div style="background-color:darkgrey" class="col-6">
    <div class="row">
        <div class="col-12">
            <h3>Your Item</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label> Total Amount</label>
        </div>
        <div class="col-auto">
            <label id="price"></label>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        @*  <span aria-hidden="true">&times;</span>

        </button>
      </div>
      <div class="modal-body">
          <tr>
                <td>
                    <table class="list" id="employeeList">

                        <tbody>
                        </tbody>
                    </table>
                </td>
          </tr>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div02
*@