@{
    Layout = null;

}

<div class="py-15 px-20 rounded-4 text-15 bg-blue-1-05">
    <label class="text-18 fw-600">Traveller Information</label>

    <div class="mb-3">
        <span class="text-primary fw-600">Important Note:</span>
        <span>Please ensure that the names of the passengers on the travel documents is the same as on their government issued identity proof.</span>
    </div>


    <form asp-action="TravllerDetails" asp-controller="AATripsell" method="post">

        @{
            <input type="hidden" id="txtorigin" name="origin" value="@Model.passeengerlist.journeys[0].designator.origin" />
            <input type="hidden" id="txtodeparture" name="departure" value="@Model.passeengerlist.journeys[0].designator.departure" />
            <input type="hidden" id="txtdestination" name="destination" value="@Model.passeengerlist.journeys[0].designator.destination" />
            <input type="hidden" id="txtidentifier" name="identifier" value="@Model.passeengerlist.journeys[0].segments[0].identifier.identifier" />
            <input type="hidden" id="txtcarrierCode" name="carrierCode" value="@Model.passeengerlist.journeys[0].segments[0].identifier.carrierCode" />

            int passengercount = @Model.passeengerlist.passengers.Count;
            // int passengercount = 2;


            foreach (var item in @Model.passeengerlist.passengers)
            {
                <div><label class="text-16 fw-600">@item.passengerTypeCode</label></div>
                <div class="row">
                    <div class="col-md-2">
                        <select name="Title" class="form-control" id="Value" asp-items="@ViewBag.Title"></select>

                    </div>
                    <div class="col-md-6">
                        <div class="form-input ">
                            <input type="hidden" id="txtpassengerkey" name="passengerkey" value="@item.passengerKey" />
                            <input type="text" name="first" id="first" required />
                            <label class="lh-1 text-16 text-light-1" name="first">first & middle name </label>
                        </div>
                        <div id="firstnamevalidate" style="color:red;display:none;margin-top:8px"> First name is required</div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-input ">
                            <input type="text" id="last" name="last" required />
                            <label class="lh-1 text-16 text-light-1" name="last" id="last">last name</label>
                        </div>
                    </div>


                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary mt-15" value="Save" id="hide" data-toggle="modal" data-target="#exampleModalCenter" />
                </div>
            }
            //<div class="d-flex justify-content-end">
            //   <input type="submit" class="btn btn-primary mt-15" value="Save" id="hide"  onclick="abc()"/>
            // </div>
        }
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").click(function (e) {
            event.preventDefault();
            debugger;
            alert("New Project")
            var first_01 = document.getElementById("first").value;
            if (first_01 == "") {
                document.getElementById("first").focus();
                $("#firstnamevalidate").css("display", "block");

                return false;
            }
            document.getElementById("firstname").innerHTML = first_01;

            var last_02 = document.getElementById("last").value;
            document.getElementById("lastname").innerHTML = last_02;


        });
        return false;
    });

    //*********** TravellerInfoPartialview ************//
    function SubmitTravellerInfoo() {
        alert("post data");
        debugger;
        var first = $("#first").val();
        var last = $("#last").val();
        var origin = $("#txtorigin").val();
        var departure = $("#txtodeparture").val();
        var destination = $("#txtdestination").val();
        var identifier = $("#txtidentifier").val();
        var carrierCode = $("#txtcarrierCode").val();
        var passengerkey = $("#txtpassengerkey").val();
        var title = $("#Value").val();
        data =
        {
            first: first,
            last: last,
            origin: origin,
            departure: departure,
            destination: destination,
            identifier: identifier,
            carrierCode: carrierCode,
            passengerkey: passengerkey,
            title: title
        };
        $.ajax({
            url: "/AATripsell/TravllerDetails",
            type: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (data) {
                if (data) {
                    $('#exampleModalCenter').html(data);
                    $('#exampleModalCenter').modal();
                }
            },
            error: function (err) {
                console.error(err);
            }
        });


    }

</script>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content review-box">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Review Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="darkText">Please ensure that the spelling of your name and other details match with your travel document/govt. ID, as these cannot be changed later. Errors might lead to cancellation penalties.</p>
                <table class="table-4 w-1/1 mt-10">

                    <tbody>

                        <tr>
                            <td><div class="text-17 fw-600">ADULT 1</div></td>
                        </tr>
                        <tr>
                            <td>First &amp; Middle Name</td>
                            <td><span id="firstname"></span></td>


                        </tr>

                        <tr>
                            <td>Last Name</td>
                            <td><span id="lastname"></span></td>
                        </tr>

                        <tr>
                            <td>Gender</td>
                            <td><span>Male</span></td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <span class="glyphicon glyphicon-ok">Edit</span>
                </button>

                <button type="button" class="btn btn-primary" onclick="SubmitTravellerInfoo()">Confirm</button>
            </div>
        </div>
    </div>
</div>



